<template>
  <is-game :background="background" @navigateBack="navigateBack" @navigateForward="navigateForward">
    <div class="board">
      <div class="item-container">
        <is-svg-sprite
          v-if="gameWord !== null"
          :glyph="gameGlyph"
          :key="state"
          class="image"
        />
      </div>
    </div>

    <div :class="inputClass" v-show="state === 'input'">
      <span class="input-label">{{ inputLabel }}</span>
      <div class="input-field-wrap">
        <input
          class="input-field"
          ref="input"
          :disabled="isWordSolved"
          v-model="userInput"
          @keyup="checkSolution"
        >
      </div>
      <span class="input-label">.</span>
    </div>

    <div v-show="state === 'show'" class="game-text" v-html="gameWordText"></div>

    <is-bm-anim
      class="character"
      ref="character"
      key="anim-character"
      :animationData="characterAnim"
      :posX="95"
      :posY="-3"
    />

    <is-svg-sprite
      :glyph="$options.glyphs.table"
      class="table"
    />

    <is-bubble
      class="bubble left"
      ref="bubble"
      key="bubble"
      :posX="350"
      :posY="30"
    />

    <is-end-game-modal
      ref="endModal"
      class="end-modal"
      @back="navigateBack()"
      @forward="navigateForward"
    />
  </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'

import background from '@/assets/garderoba/koncnice/background.svg'
import characterAnim from '@/assets/jedilnica/ucilnice/slovnica/koncnice/intro'
import table from '@/assets/jedilnica/ucilnice/slovnica/koncnice/table.svg'

import gameData from './KoncniceData'
import { assets } from './KoncniceAssets'
import sounds from './KoncniceSounds'

import questionWear from '@/assets/sounds/garderoba/2.3.1/wear.mp3'
import questionWhat from '@/assets/sounds/2.6/questionWhat.mp3'

export default {
  glyphs: {
    table,
    ...assets
  },

  name: 'is-table-koncnice',
  mixins: [
    GameBasicMixin,
    GameUtilsMixin,
    StoreInputsMixin
  ],
  data () {
    return {
      background,
      characterAnim,
      types: gameData.types,
      words: gameData.words,
      questions: {
        wear: questionWear,
        what: questionWhat
      },
      userInput: '',
      isWordSolved: false,
      gameWords: [],
      gameWord: null,
      state: 'show'
    }
  },

  computed: {
    isLocked () {
      return this.gameState !== this.gameStates.interactive
    },

    inputClass () {
      return ['input', { 'input-solved': this.isWordSolved }]
    },

    gameWordText () {
      if (this.gameWord === null) {
        return ''
      }

      const quantityText = this.gameWord.quantity === 'singular' ? 'je' : 'so'
      const word = this.gameWord.text ? this.gameWord.text : this.gameWord.solution
      return `To ${quantityText} ${word}.`
    },

    inputLabel () {
      if (this.gameWord === null) {
        return ''
      }

      return this.types[this.gameWord.type].label
    },

    gameGlyph () {
      if (this.gameWord === null) {
        return null
      }

      const type = this.state === 'show' ? 'default' : this.gameWord.type

      return this.$options.glyphs[this.gameWord.name][type]
    },

    glyphSize () {
      return this.state === 'show' ? { width: 'auto', height: 150 } : { width: 260 }
    }
  },

  methods: {
    checkSolution () {
      if (this.gameWord.solution === this.userInput) {
        this.isWordSolved = true

        setTimeout(this.selectNextWord, 2000)
      }
    },

    onResetGame () {
      if (this.gameState === 'interactive') {
        this.resetScene()
      }
    },

    selectNextWord () {
      if (this.gameWords.length) {
        // Set state for showing
        this.state = 'show'

        // Reset user input
        this.userInput = ''

        // Reset if solved
        this.isWordSolved = false

        // Select 1st word
        this.gameWord = this.gameWords.splice(0, 1)[0]

        this.playSound$(sounds[this.gameWord.name]).subscribe(() => {
          setTimeout(() => {
            this.state = 'input'

            Observable.zip(
              this.bubble.show$(this.types[this.gameWord.type].question),
              this.character.play$(false, true),
              this.playSound$(this.questions[this.gameWord.type])
            )
              .delay(2000)
              .do(() => this.bubble.hide())
              .subscribe(() => this.startInteraction())
          }, 1000)
        })
      } else {
        this.startEnd()
      }
    },

    resetScene () {
      this.$refs.endModal.hide()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    }
  },

  created () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.character = this.$refs.character
    this.bubble = this.$refs.bubble

    this.gameWords = this.shuffleArray(this.words)

    this.selectNextWord()
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../styles/layout';
  @import '../../../styles/colors';

  .board {
    position: absolute;
    top: 70px;
    left: 590px;

    width: 600px;
    height: 605px;

    border: 12px solid #fdecc9;
    border-radius: 4px;

    background-color: #4D4D4F;
    box-shadow: 4px -4px 0 0 #b5aa93;
  }

  .input {
    align-items: center;
    display: flex;
    left: 625px;
    position: absolute;
    top: 560px;
    z-index: $ui-z-index;
    text-transform: uppercase;
    width: 530px;
  }

  .input-solved {
    pointer-events: none;

    .input-field {
      color: $ui-green;
    }
  }

  .input-field-wrap {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 5px;
  }

  .input-field {
    background: none;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 38px;
    padding: 7px 15px;
    text-transform: uppercase;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .input-label {
    font-size: 38px;
    flex-grow: 0;
    color: #fff;
    white-space: nowrap;
  }

  .item-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 478px;
    width: 100%;

    svg {
      height: 100% !important;
      max-width: 40%;
      max-height: 60%;
      width: 100% !important;
    }
  }

  .images-border {
    border: 13px solid #A38A63;
    border-radius: 13px;
    font-size: 0;
  }

  .character,
  .bubble {
    z-index: $character-z-index;
  }

  .table {
    position: absolute;
    top: 476px;
    left: 0;
  }

  .game-text {
    color: #fff;
    font-size: 48px;
    position: absolute;
    text-transform: uppercase;
    top: 556px;
    left: 590px;
    width: 600px;
    z-index: 999;
  }

  .game-text /deep/ * {
    color: red;
  }
</style>
