<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">

        <is-bm-anim v-show="gameState === gameStates.intro"
                    class="intro-anim"
                    ref="animIntro"
                    key="anim-intro"
                    :animationData="introAnim"
                    :posX="158"
                    :posY="-4"></is-bm-anim>

        <is-bm-anim v-show="gameState !== gameStates.intro"
                    class="game-anim"
                    ref="animGame"
                    key="anim-game"
                    :animationData="gameAnim"
                    :posX="158"
                    :posY="-4"></is-bm-anim>

        <is-interactive-target v-for="(target, key) in targetsData"
                               :id="'$t-' + key"
                               :ref="'$t-' + key"
                               :key="key"
                               :matchId="target.matchId"
                               :glyph="glyphs[target.glyph]"
                               :isLocked="gameState !== gameStates.interactive"
                               :posX="target.pos.x"
                               :posY="target.pos.y"></is-interactive-target>

        <is-draggable v-for="(item, key) in itemsData"
                      :id="'$d-' + key"
                      :ref="'$d-' + key"
                      :key="key"
                      :matchId="item.matchId"
                      :animateTo="'$t-' + item.animateTo"
                      :glyph="glyphs[item.glyph]"
                      :posX="item.pos.x"
                      :posY="item.pos.y"
                      @dragStopped="onDragStopped"></is-draggable>
        <is-type-in v-for="(input, key) in inputsData"
                    v-show="showInput === key"
                    :key="'$i-' + key"
                    :ref="'$i-' + key"
                    class="inputs large end-with-dot"
                    :solution="input.solution"
                    :preText="input.preText"
                    :isLocked="(gameState !== gameStates.interactive)"
                    arrowDirection="left"
                    openDirection="right"
                    @solved="onTypeInSolved"
                    :canToggle="false"
                    :posDynamic="true"
                    :posX="typeInPos.x"
                    :posY="typeInPos.y"></is-type-in>

        <is-bubble class="bubble left"
                   ref="bbJakob"
                   key="bJakob"
                   :posX="496"
                   :posY="40"></is-bubble>

        <is-bubble class="bubble right"
                   ref="bbAna"
                   key="bAna"
                   :posX="536"
                   :posY="40"></is-bubble>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import { Observable } from 'rxjs'
import { TimelineLite } from 'gsap'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import DraggableComponent from '@/components/shared/DraggableComponent'
import TypeInComponent from '@/components/shared/TypeInComponent.vue'

import background from '@/assets/jedilnica/kosare/kosilo/background.svg'

import introAnim from '@/assets/jedilnica/kosare/kosilo/animations/pripravi-svoje-kosilo.json'
import gameAnim from '@/assets/jedilnica/kosare/sadnaKupa/animations/pripravi-svojo-sadno-kupo-poskusi-se-ti.json'

import sprites from './KosiloSestaviAssets'
import sounds from './KosiloSestaviSounds'
import { targetsData, itemsData, inputsData, linesData } from './KosiloSestaviData'

export default {
  name: 'is-sadna-kupa-sestavi',
  mixins: [
    GameBasicMixin,
    GameUtilsMixin,
    StoreInputsMixin,
    StoreTargetsMixin,
    GameSoundMixin
  ],
  components: {
    'is-draggable': DraggableComponent,
    'is-type-in': TypeInComponent
  },
  data () {
    return {
      background,
      introAnim: introAnim,
      gameAnim: gameAnim,
      targetsData: {},
      itemsData: {},
      inputsData: {},
      showInput: '',
      activeItems: [],
      draggedItem: {},
      glyphs: sprites,
      dropPositions: [
        { x: 369, y: 620 },
        { x: 272, y: 668 },
        { x: 452, y: 672 }
      ]
    }
  },

  computed: {
    typeInPos () {
      const item = this.draggedItem
      if (typeof item.currentX !== 'undefined') {
        return {
          x: item.currentX + item.originalBounds.width + 10, // 10 = arriw length
          y: item.currentY + (item.originalBounds.height / 2) - 21 // 21 is half the height of the box
        }
      }

      return {}
    },
    canInteract () {
      return this.gameState !== this.gameStates.interactive
    }
  },

  methods: {
    onDragStopped (dragEl, dragElPos) {
      let target = this.getTargetIfMatch(this.targets, dragEl.matchId, dragElPos)

      this.draggedItem = dragEl

      if (target) {
        this.activeItems.splice(this.activeItems.indexOf(dragEl), 1)
        dragEl.lock()

        this.lockActiveItems()

        // correct position
        this.animateToBowl$(dragEl, this.dropPositions[this.items.length - this.activeItems.length - 1], 0.4, this.items.length - this.activeItems.length)
          .subscribe(null, null, () => {
            let key = dragEl.$attrs.id.split('-')[1]
            let ref = '$i-' + dragEl.$attrs.id.split('-')[1]
            let input = this.$refs[ref][0]

            this.showInput = key
            input.open()
          })
      } else {
        dragEl.moveToStartPosition()
      }
    },

    onTypeInSolved () {
      this.solvedTimeout = setTimeout(() => {
        this.showInput = ''

        if (this.isGameSolved()) {
          this.startEnd()
        } else {
          this.unlockActiveItems()
        }
      }, 1600)
    },

    lockActiveItems () {
      this.activeItems.forEach(item => {
        item.lock()
      })
    },

    unlockActiveItems () {
      this.activeItems.forEach(item => {
        item.unlock()
      })
    },

    isGameSolved () {
      return this.activeItems.length < this.items.length - 2
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.bbAna.hide()
      this.bbJakob.hide()

      this.showInput = ''
      this.items.forEach((item) => {
        item.lock()
        item.moveToStartPosition()
        item.$el.style.zIndex = 99
      })
      this.inputs.forEach((input) => input.reset())
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.introAnim$ = Observable.timer(1000)
        .flatMap(() => Observable.zip(
          this.bbAna.show$(this.linesData.ana1),
          this.introAnimRef.playSegment$(0, 93),
          this.playSound$(sounds.ana1))
          .do(() => this.bbAna.hide()))

        .delay(1000)

        .flatMap(() => Observable.zip(
          this.bbJakob.show$(this.linesData.jakob1),
          this.introAnimRef.playSegment$(93, 125),
          this.playSound$(sounds.jakob1)))

        .flatMap(() => Observable.zip(
          this.bbJakob.show$(this.linesData.juha),
          this.animateToBowl$(this.$refs['$d-juha'][0], this.dropPositions[0], 2, 1),
          this.introAnimRef.playSegment$(93, 105),
          this.playSound$(sounds.jakob2)))

        .delay(200)

        .flatMap(() => Observable.zip(
          this.bbJakob.show$(this.linesData.meso),
          this.animateToBowl$(this.$refs['$d-meso'][0], this.dropPositions[1], 2, 2),
          this.introAnimRef.playSegment$(93, 105),
          this.playSound$(sounds.jakob3)))

        .delay(200)

        .flatMap(() => Observable.zip(
          this.bbJakob.show$(this.linesData.krompir),
          this.animateToBowl$(this.$refs['$d-krompir'][0], this.dropPositions[2], 2, 3),
          this.introAnimRef.playSegment$(93, 115),
          this.playSound$(sounds.jakob4))
          .do(() => this.bbJakob.hide()))

        .delay(1000)
        .subscribe(null, null, () => this.startInteraction())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()

      this.activeItems = Array.from(this.items)

      this.gameAnim$ = Observable.timer(1000)
        .flatMap(() => Observable.zip(
          this.bbAna.show$(this.linesData.poskusi),
          this.gameAnimRef.playSegment$(0, 77),
          this.playSound$(sounds.ana2))
          .do(() => this.bbAna.hide()))
        .flatMap(() => Observable.zip(
          this.bbAna.show$(this.linesData.ana2),
          this.gameAnimRef.playSegment$(77, 151),
          this.playSound$(sounds.ana1))
          .do(() => this.bbAna.hide()))

        .subscribe(null, null, () => {
          this.unlockActiveItems()
        })
    },

    startEnd () {
      this.setStateToEnd()

      this.outroAnim$ = Observable.zip(
        this.bbAna.show$(this.linesData.doberTek),
        this.gameAnimRef.playSegment$(151, 160),
        this.playSound$(sounds.ana3))
        .delay(1000)
        .do(() => this.bbAna.hide())
        .subscribe(null, null, () => {
          const dialog = this.endDialogs.get(this.$route.name)
          this.$refs.endModal.show(dialog)
        })
    },

    animateToBowl$ (item, pos, duration, zIndexOff) {
      return Observable.create((observer) => {
        let tween = new TimelineLite({
          onComplete: () => {
            observer.next()
            observer.complete()
          }
        })
          .set(item.$el, { css: { zIndex: (100 + zIndexOff) } })
          .to(item, duration, {
            currentX: pos.x - item.originalBounds.width / 2,
            currentY: pos.y - item.originalBounds.height,
            onComplete: () => {
              observer.next()
              observer.complete()
            }
          })

        return () => {
          tween.kill()
        }
      })
    }
  },

  created () {
    this.targetsData = targetsData.get(this.$route.name)
    this.itemsData = itemsData.get(this.$route.name)
    this.inputsData = inputsData.get(this.$route.name)

    this.linesData = linesData.get(this.$route.name)

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.items = Object.keys(this.$refs)
      .filter((val) => val.includes('$d'))
      .map(key => this.$refs[key][0])

    this.introAnimRef = this.$refs.animIntro
    this.gameAnimRef = this.$refs.animGame

    this.bbAna = this.$refs.bbAna
    this.bbJakob = this.$refs.bbJakob

    this.startIntroAnimation()
    // this.startInteraction()
  },

  destroyed () {
    this.stopIntroAnimation()
    clearTimeout(this.solvedTimeout)

    if (this.outroAnim$) {
      this.outroAnim$.unsubscribe()
    }

    if (this.gameAnim$) {
      this.gameAnim$.unsubscribe()
    }
  }
}
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .intro-anim,
    .game-anim {
      z-index: 9;
    }
</style>
