<template>
  <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
    <is-svg-sprite v-if="open1" class="vrata ena" :glyph="vrata1"></is-svg-sprite>
    <is-svg-sprite v-if="open2" class="vrata dva" :glyph="vrata2"></is-svg-sprite>
    <is-svg-sprite v-if="open3" class="vrata tri" :glyph="vrata3"></is-svg-sprite>

    <is-button
      v-if="open1"
      @clicked="goToUcilnica(1)"
      key="btn-one"
      class="big"
      :posX="142"
      :posY="285"
    >Vstopi</is-button>

    <is-button
      v-if="open2"
      @clicked="goToUcilnica(2)"
      key="btn-two"
      class="big"
      :posX="572"
      :posY="285"
    >Vstopi</is-button>

    <is-button
      v-if="open3"
      @clicked="goToUcilnica(3)"
      key="btn-three"
      class="big"
      :posX="1003"
      :posY="285"
    >Vstopi</is-button>

    <!-- <is-lock
      v-if="!this.$store.getters.ucilnica1Unlocked"
      :posX="180"
      :posY="400"
      :tooltipItems="incompleteGames1"
    />

    <is-lock
      v-if="!this.$store.getters.ucilnica2Unlocked"
      :posX="610"
      :posY="400"
      :tooltipItems="incompleteGames2"
    />

    <is-lock
      v-if="!this.$store.getters.ucilnica3Unlocked"
      :posX="1041"
      :posY="400"
      :tooltipItems="incompleteGames3"
    /> -->

    <div v-if="!open1 && this.ucilnica1Unlocked" class="click-area one" @click="openDoor('vrata1')"></div>
    <div v-if="!open2 && this.ucilnica2Unlocked" class="click-area two" @click="openDoor('vrata2')"></div>
    <div v-if="!open3 && this.ucilnica3Unlocked" class="click-area three" @click="openDoor('vrata3')"></div>
  </is-game>
</template>

<script>
import Button from '@/components/shared/ButtonComponent.vue'
import SvgSprite from '@/components/core/SvgSprite.vue'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'

import background from '@/assets/jedilnica/ucilnice/background.svg'
import vrata1 from '@/assets/jedilnica/ucilnice/vrata-1.svg'
import vrata2 from '@/assets/jedilnica/ucilnice/vrata-2.svg'
import vrata3 from '@/assets/jedilnica/ucilnice/vrata-3.svg'

import LockComponent from './LockComponent'

import { mapGetters, mapState } from 'vuex'

export default {
  mixins: [GameBasicMixin],
  components: {
    'is-button': Button,
    'is-lock': LockComponent,
    'is-svg-sprite': SvgSprite
  },
  data () {
    return {
      background,
      vrata1,
      vrata2,
      vrata3,
      open1: false,
      open2: false,
      open3: false,
      incompleteGames1: [],
      incompleteGames2: [],
      incompleteGames3: []
    }
  },
  computed: {
    ...mapState({
      gamesCompleted1: state => state.gamesCompleted1,
      gamesCompleted2: state => state.gamesCompleted2,
      gamesCompleted3: state => state.gamesCompleted3
    }),
    ...mapGetters([
      'ucilnica1Unlocked',
      'ucilnica2Unlocked',
      'ucilnica3Unlocked'
    ]),
    forwardRoutes () {
      return this.$store.state.sceneRoutes.forwardRoutes
    }
  },

  methods: {
    goToUcilnica (id) {
      switch (id) {
        case 1:
          this.$router.push({ name: 'Jedilnica' })
          break
        case 2:
          this.$router.push({ name: 'JedilnicaSlovnica' })
          break
        case 3:
          this.$router.push({ name: 'SlovenijaUvod' })
          break
      }
    },

    getRoutesTitles (routes) {
      return routes.reduce((obj, route) => {
        if (route.meta !== undefined) {
          obj[route.name] = route.meta.title
        }

        if (route.children) {
          obj = Object.assign(obj, this.getRoutesTitles(route.children))
        }

        return obj
      }, {})
    },

    getIncompleteGames (games) {
      const titles = this.getRoutesTitles(this.$router.options.routes)

      return Object.keys(games)
        .filter(game => !games[game])
        .map(game => titles[game]);
    },

    openDoor (id) {
      this.open1 = id === 'vrata1' && this.ucilnica1Unlocked
      this.open2 = id === 'vrata2' && this.ucilnica2Unlocked
      this.open3 = id === 'vrata3' && this.ucilnica3Unlocked
    }
  },

  mounted () {
    this.incompleteGames1 = this.getIncompleteGames(this.gamesCompleted1)
    this.incompleteGames2 = this.getIncompleteGames(this.gamesCompleted2)
    this.incompleteGames3 = this.getIncompleteGames(this.gamesCompleted3)
  },

  created () {
    this.setStateToEnd()
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../styles/layout';

  .vrata {
    position: absolute;

    &.ena {
        top: 189px;
        left: 102px;
    }
    &.dva {
        top: 189px;
        left: 532px;
    }
    &.tri {
        top: 189px;
        left: 963px;
    }
  }

  .button {
      z-index: $ui-z-index;
  }

  .click-area {
    position: absolute;

    width: 202px;
    height: 420px;

    background-color: transparent;

    cursor: pointer;

    top: 216px;

    &.one {
        left: 102px;
    }
    &.two {
        left: 532px;
    }
    &.three {
        left: 963px;
    }
  }
</style>
