<template>
  <div>
    <div class="ucilnica-lock" :style="transformStyle">
      <is-svg-sprite :glyph="lock" />

      <div class="tooltip">
        <div class="tooltip-title">
          <is-svg-sprite :glyph="info" />
          <span>Dokončaj igre:</span>
        </div>
        <ol class="tooltip-list">
          <li class="tooltip-item" v-for="(item, index) in tooltipItems" :key="index">{{ item }}</li>
        </ol>
      </div>
    </div>
  </div>
</template>

<script>
import lock from '@/assets/jedilnica/ucilnice/lock.svg'
import info from '@/assets/jedilnica/ucilnice/info.svg'
import SvgSprite from '@/components/core/SvgSprite.vue'
import PositionMixin from '@/components/core/mixins/PositionMixin.js'

export default {
  components: {
    'is-svg-sprite': SvgSprite
  },
  mixins: [PositionMixin],
  props: {
    tooltipItems: {
      type: Array
    }
  },
  data () {
    return {
      lock,
      info
    }
  }
}
</script>

<style lang="scss" scoped>
  .ucilnica-lock {
    position: absolute;
  }

  .ucilnica-lock:hover {
    .tooltip {
      opacity: 1;
    }
  }

  .tooltip {
    background-color: #fff;
    border-radius: 12px;
    color: #000;
    left: -13px;
    font-weight: bold;
    margin-top: 19px;
    opacity: 0;
    padding: 11px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 100%;
    transition: .3s opacity;
    pointer-events: none;
    width: 243px;

    &::before {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      bottom: 100%;
      content: "";
      height: 0;
      left: 25px;
      position: absolute;
      width: 0;
    }
  }

  .tooltip-list {
    counter-reset: list;
    list-style: none;
    font-size: 13px;
    margin: 0;
    margin-top: 12px;
    padding: 0;
  }

  .tooltip-item {
    &::before {
      counter-increment: list;
      content: counter(list) ". ";
    }

    & + & {
      margin-top: 3px;
    }
  }

  .tooltip-title {
    align-items: center;
    color: #1D4168;
    font-family: Arial;
    display: flex;

    span {
      padding-left: 10px;
    }
  }
</style>
