<template>
    <div class="game">
        <is-svg-sprite v-if="background" :glyph="background" class="background"></is-svg-sprite>
        <img class="background" v-if="backgroundImage" :src="backgroundImage" />
        <is-navigation @back="onBackClicked()" @forward="onForwardClicked()"></is-navigation>

        <slot></slot>
    </div>
</template>

<script>
import SvgSprite from '@/components/core/SvgSprite.vue'
import NavigationComponent from '@/components/shared/NavigationComponent.vue'

export default {
  name: 'is-game',
  components: {
    'is-svg-sprite': SvgSprite,
    'is-navigation': NavigationComponent
  },
  mixins: [
  ],
  props: {
    background: Object,
    backgroundImage: String
  },

  methods: {
    onBackClicked () {
      this.$emit('navigateBack')
    },

    onForwardClicked () {
      this.$emit('navigateForward')
    }
  }
}
</script>

<style lang="scss" scoped>
  .game, .background {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
</style>
