<template>
  <div class="screen" :style="transformStyle">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'is-screen',
  data: () => {
    return {
      running: false,
      browser: {
        width: 0,
        height: 0
      },
      transformStyle: {
        transform: 'scale(1)',
        left: 0
      }
    }
  },
  computed: {
    screenSize () {
      return this.$store.state.screenSize
    }
  },

  mounted () {
    window.addEventListener('resize', this.onResize.bind(this))
    this.onResize()
  },

  methods: {
    onResize (evt) {
      if (!this.running) {
        this.running = true
        if (window.requestAnimationFrame) {
          window.requestAnimationFrame(() => {
            this.scaleScreen()
            this.running = false
          })
        } else {
          setTimeout(() => {
            this.scaleScreen()
            this.running = false
          }, 66)
        }
      }
    },

    setBrowserSize () {
      this.browser.width = (
        window.innerWidth ||
        document.documentElement.clientWidth ||
        document.body.clientWidth
      )
      this.browser.height = (
        window.innerHeight ||
        document.documentElement.clientHeight ||
        document.body.clientHeight
      )
    },

    scaleScreen () {
      this.setBrowserSize()

      let scaleX = Math.min(1, this.browser.width / this.screenSize.width)
      let scaleY = Math.min(1, this.browser.height / this.screenSize.height)
      let scale = (scaleX > scaleY) ? scaleY : scaleX

      let posX = (this.browser.width / 2) - ((this.screenSize.width * scale) / 2)
      // let posY = Math.abs(Math.floor(((this.screen.height * this.screen.scale) - this.windowHeight) / 2))

      this.transformStyle.transform = `scale(${scale})`
      this.transformStyle.left = posX + 'px'

      this.$store.dispatch('updateScreenPosition', { x: posX, y: 0 })
      this.$store.dispatch('updateScreenScale', scale)
    }
  }
}
</script>

<style lang="scss" scoped>
.screen {
  position: absolute;
  overflow: hidden;
  width: 1334px;
  height: 750px;
  left: 0;
  right: 0;
  background-color: #cccccc;
  transform-origin: 0 0;
}
</style>
