<template>
    <svg
      :viewBox="glyph.viewBox"
      :width="width"
      :height="height"
      :style="styleObject"
    >
      <use :xlink:href="'#' + glyph.id"/>
    </svg>
</template>

<script>
export default {
  name: 'is-svg-sprite',
  props: {
    glyph: Object,
    size: {
      default: null,
      type: Object
    }
  },
  computed: {
    viewBoxWidth () {
      return this.glyph.viewBox.split(' ')[2]
    },
    viewBoxHeight () {
      return this.glyph.viewBox.split(' ')[3]
    },
    width () {
      if (this.size !== null) {
        const width = this.size.width

        if (width === 'auto') {
          return this.viewBoxWidth / this.viewBoxHeight * this.size.height
        }

        return this.size.width
      }

      return this.viewBoxWidth
    },
    height () {
      if (this.size !== null) {
        const height = this.size.height

        if (height === 'auto') {
          return this.viewBoxHeight / this.viewBoxWidth * this.size.width
        }

        return height
      }

      return this.viewBoxHeight
    },
    styleObject () {
      return {
        height: `${this.height}px`,
        width: `${this.width}px`
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
