<template>
  <is-game
    :background="background"
    @navigateBack="navigateBack"
    @navigateForward="navigateForward"
    :class="stateClass"
  >

    <is-svg-sprite
      v-for="(glyph, name) in glyphs"
      :key="name"
      :class="['asset', name, { highlight: highlight === name}]"
      :glyph="glyph"
    />

    <div class="song">
      <div :class="{ 'highlight-text': highlightTextIndex === 0}">To je Videk.</div>
      <div :class="{ 'highlight-text': highlightTextIndex === 1}">Videk ima staro srajčico.</div>
      <div :class="{ 'highlight-text': highlightTextIndex === 2}">Videk je žalosten.</div>
      <div :class="{ 'highlight-text': highlightTextIndex === 3}">Ovčka da Vidku volno.</div>
      <div :class="{ 'highlight-text': highlightTextIndex === 4}">Pajek stke blago.</div>
      <div :class="{ 'highlight-text': highlightTextIndex === 5}">Rak skroji srajčico.</div>
      <div :class="{ 'highlight-text': highlightTextIndex === 6}">Ptica sešije srajčico.</div>
      <div :class="{ 'highlight-text': highlightTextIndex === 7}">Videk ima novo srajčico.</div>
      <div :class="{ 'highlight-text': highlightTextIndex === 8}">Videk je srečen.</div>
    </div>
  </is-game>
</template>

<script>
import sound0 from '@/assets/sounds/garderoba/3.1.1/0.mp3'
import sound1 from '@/assets/sounds/garderoba/3.1.1/1.mp3'
import sound2 from '@/assets/sounds/garderoba/3.1.1/2.mp3'
import sound3 from '@/assets/sounds/garderoba/3.1.1/3.mp3'
import sound4 from '@/assets/sounds/garderoba/3.1.1/4.mp3'
import sound5 from '@/assets/sounds/garderoba/3.1.1/5.mp3'
import sound6 from '@/assets/sounds/garderoba/3.1.1/6.mp3'
import sound7 from '@/assets/sounds/garderoba/3.1.1/7.mp3'
import sound8 from '@/assets/sounds/garderoba/3.1.1/8.mp3'
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'

import background from '@/assets/garderoba/pesmica/background.svg'

import sprites from './PesmicaAssets'

import SvgSprite from '@/components/core/SvgSprite'

export default {
  mixins: [
    GameBasicMixin,
    GameUtilsMixin
  ],
  components: {
    'is-svg-sprite': SvgSprite
  },
  data () {
    return {
      background,
      gameItems: [],
      glyphs: sprites,
      lockButtons: false,
      highlight: null,
      highlightTextIndex: null,
      stateClass: 'state-zalosten',
      currentItem: {}
    }
  },

  methods: {
    introAnim () {
      this.stateClass = 'state-zalosten'

      this.introAnim$ = Observable
        .timer(1000)
        .do(() => {
          this.highlight = 'videkZalosten'
          this.highlightTextIndex = 0
        })
        .flatMap(() => Observable.zip(this.playSound$(sound0)))
        .delay(1000)
        .do(() => {
          this.highlight = 'videkZalosten'
          this.highlightTextIndex = 1
        })
        .flatMap(() => Observable.zip(this.playSound$(sound1)))
        .delay(1000)
        .do(() => {
          this.highlight = 'videkZalosten'
          this.highlightTextIndex = 2
        })
        .flatMap(() => Observable.zip(this.playSound$(sound2)))
        .delay(1000)
        .do(() => {
          this.highlight = 'ovca'
          this.highlightTextIndex = 3
        })
        .flatMap(() => Observable.zip(this.playSound$(sound3)))
        .delay(1000)
        .do(() => {
          this.highlight = 'pajek'
          this.highlightTextIndex = 4
        })
        .flatMap(() => Observable.zip(this.playSound$(sound4)))
        .delay(1000)
        .do(() => {
          this.highlight = 'rak'
          this.highlightTextIndex = 5
        })
        .flatMap(() => Observable.zip(this.playSound$(sound5)))
        .delay(1000)
        .do(() => {
          this.highlight = 'ptica'
          this.highlightTextIndex = 6
        })
        .flatMap(() => Observable.zip(this.playSound$(sound6)))
        .delay(1000)
        .do(() => {
          this.stateClass = 'state-vesel'
          this.highlight = 'videkVesel'
          this.highlightTextIndex = 7
        })
        .flatMap(() => Observable.zip(this.playSound$(sound7)))
        .delay(1000)
        .do(() => {
          this.highlightTextIndex = 8
        })
        .flatMap(() => Observable.zip(this.playSound$(sound8)))
        .delay(1000)
        .subscribe(null, null, () => {
          this.highlight = null
          this.highlightTextIndex = null
        })
    },

    navigateForward () {
      let route = this.toRouteName(this.forwardRoutes, this.$route.name)
      if (typeof route === 'object') {
        route = route.forward
      }
      this.$router.push({ name: route })
    },

    startIntroAnimation () {
      this.setStateToIntro()
      this.introAnim()
    },

    startEnd () {}
  },

  mounted () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/layout';

.asset {
  position: absolute;
}

.ptica {
  left: 430px;
  top: 70px;
}

.rak {
  left: 563px;
  top: 477px;
}

.ovca {
  left: 885px;
  top: 515px;
}

.pajek {
  top: 0;
  left: 1092px;
}

.videkZalosten,
.videkVesel {
  top: 78px;
  left: 170px;
}

.state-zalosten {
  .videkZalosten {
    display: block;
  }

  .videkVesel {
    display: none;
  }
}

.state-vesel {
  .videkZalosten {
    display: none;
  }

  .videkVesel {
    display: block;
  }
}

.song {
  color: #4e1c2a;
  font-size: 29px;
  font-weight: 900;
  line-height: 1.5em;
  left: 625px;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  top: 80px;
  width: 480px;
}

.highlight {
  filter: drop-shadow(0px 0px 10px limegreen);
  z-index: 999;
}

.highlight-text {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
</style>
