<template>
    <div :class="classArray"
         :style="transformStyle">
        <input class="input-field"
               type="text"
               :value="value"
               ref="solutionInput"
               ondrop="return false;"
               @input="onInput"
               @blur="checkSolved"
               @keyup.enter="checkSolved"
               :disabled="disabled">
    </div>
</template>

<script>
import PositionMixin from '@/components/core/mixins/PositionMixin'

export default {
  mixins: [PositionMixin],
  props: {
    solution: {
      type: String,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    itemSolved: {
      type: Boolean,
      default: false
    },
    value: {
      type: String
    }
  },
  computed: {
    classArray () {
      return [
        'input-field-wrap',
        { 'solved': this.itemSolved },
        { 'disabled': this.disabled }
      ]
    },
    isSolved () {
      return this.value.toLowerCase() === this.solution.toLowerCase()
    }
  },

  methods: {
    onInput (e) {
      this.$emit('input', e.target.value)
    },
    checkSolved () {
      this.$emit('checkSolved', this.value === '' ? null : this.isSolved)
    }
  }
}
</script>

<style lang="scss" scoped>
.input-field-wrap {
  padding: 7px 0;
  position: absolute;
  text-transform: uppercase;
}

.disabled {
  user-select: none;
  pointer-events: none;
}

.input-field {
  border: 2px solid #3e3a3b;
  border-radius: 5px;
  height: 44px;
  line-height: 44px;
  font-size: 19px;
  font-weight: bold;
  padding: 0 12px;
  text-transform: uppercase;
  width: 178px;

  &:focus {
    border-color: #000;
    outline: none;
  }

  &:disabled {
    background: #fff;
    color: #2c3e50;
  }
}
</style>
