<template>
  <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
    <is-svg-sprite v-for="item in gameItems"
      :key="`b-${item.name}`"
      :glyph="glyphs['item']"
      :posX="200"
      :posY="item.boardPos.y"
    />

    <is-solution-text
      v-for="item in gameItems"
      :key="`s-${item.name}`"
      :word="item.word"
      :posX="212"
      :posY="item.boardPos.y"
    ></is-solution-text>

    <is-input-field
      v-for="item in gameItems"
      :key="`i-${item.name}`"
      :ref="`i-${item.name}`"
      :solution="item.wordSolution"
      :posX="380"
      :posY="item.boardPos.y"
      :disabled="inputsDisabled || itemSolved(item) || gameState !== gameStates.interactive"
      :itemSolved="itemSolved(item)"
      v-model="item.wordValue"
      @checkSolved="checkWord(item, $event)"
    />

    <is-svg-sprite v-for="item in gameItems"
      :key="`solved-${item.name}`"
      :glyph="glyphs[item.imgCorrect && item.wordCorrect ? 'correct' : 'wrong']"
      v-show="item.imgCorrect !== null && item.wordCorrect !== null"
      :posX="650"
      :posY="item.boardPos.y + 11"
    />

    <is-interactive-target v-for="item in gameItems"
                            :id="'$t-' + item.name"
                            :ref="'$t-' + item.name"
                            :key="`t-${item.name}`"
                            :matchId="item.name"
                            :glyph="glyphs['itemImg']"
                            :posX="item.boardPos.x"
                            :posY="item.boardPos.y"></is-interactive-target>

    <is-draggable
      v-for="item in gameItems"
      :id="'$d-' + item.name"
      :ref="'$d-' + item.name"
      :key="`d-${item.name}`"
      :matchId="item.name"
      :glyph="glyphs[item.name]"
      :posX="item.tablePos.x"
      :posY="item.tablePos.y"
      :canDrag="!itemSolved(item) && gameState === gameStates.interactive"
      @dragStarted="onDragStarted"
      @dragStopped="onDragStopped"
    ></is-draggable>

    <is-end-game-modal
      ref="endModal"
      class="end-modal"
      @back="navigateBack()"
      @forward="navigateForward()">
    </is-end-game-modal>
  </is-game>
</template>

<script>
import { TimelineLite } from 'gsap'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'

import background from '@/assets/jedilnica/kosare/pomesaneCrke/background.svg'

import InputField from './InputField'
import SolutionText from './SolutionText'

import DraggableComponent from '@/components/shared/DraggableComponent'
import SvgSpriteComponent from '@/components/shared/SvgSpriteComponent'
import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'

import sprites from './PomesaneCrkeAssets'
import { itemsSmall, itemsLarge, targetsData, tableItemsData } from './PomesaneCrkeData'

export default {
  name: 'is-pomesane-crke',
  mixins: [
    GameBasicMixin,
    GameUtilsMixin,
    StoreInputsMixin,
    StoreTargetsMixin
  ],
  components: {
    'is-draggable': DraggableComponent,
    'is-input-field': InputField,
    'is-svg-sprite': SvgSpriteComponent,
    'is-solution-text': SolutionText
  },
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return {
      background,
      inputsDisabled: false,
      gameItems: [],
      glyphs,
      exampleItem: 0,
      introTimeline: null
    }
  },
  created () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)

    this.gameStart()
  },
  mounted () {
    this.startIntroAnimation()
  },
  destroyed () {
    this.destroyAnimation()
  },
  methods: {
    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.introAnimTimer = setTimeout(() => {
        this.startAnimation()
      }, 1000)
    },
    resetScene () {
      this.destroyAnimation()
      this.exampleItem = 0
      this.$refs.endModal.hide()
      this.gameItems.forEach((item, key) => {
        item.wordValue = ''
        item.imgCorrect = null
        item.wordCorrect = null
        this.$refs[`$t-${item.name}`][0].show()
        this.$refs[`$d-${item.name}`][0].moveToStartPosition()
        this.$refs[`$d-${item.name}`][0].setSize(null, null)
      })
    },
    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },
    destroyAnimation () {
      if (this.introTimeline !== null) {
        this.introTimeline.kill()
        this.introTimeline = null
      }
      clearTimeout(this.introAnimTimer)
    },
    startAnimation () {
      const item = this.gameItems[this.exampleItem]
      this.animateToTarget(item, 2, 1)
    },
    animateToTarget (item, duration, zIndexOff) {
      const itemRef = this.$refs[`$d-${item.name}`][0]

      this.introTimeline = new TimelineLite()
        .set(itemRef.$el, { css: { zIndex: (999) } })
        .to(itemRef, duration, {
          currentX: item.boardPos.x,
          currentY: item.boardPos.y,
          onComplete: () => {
            itemRef.setSize(58, 58)
            this.$refs[`$t-${item.name}`][0].hide()
            this.animateTyping(item, 0)
          }
        })
    },
    animateTyping (item, index) {
      if (index < item.wordSolution.length) {
        item.wordValue += item.wordSolution[index]
        this.introAnimTimer = setTimeout(() => this.animateTyping(item, index + 1), 500)
      } else {
        item.imgCorrect = true
        item.wordCorrect = true

        if (this.exampleItem === 0) {
          this.exampleItem = 1
          this.startAnimation()
        } else {
          this.introAnimTimer = setTimeout(() => {
            this.startInteraction()
          }, 1000)
        }
      }
    },
    gameStart () {
      this.availableItemsSmall = JSON.parse(JSON.stringify(itemsSmall))
      this.availableItemsLarge = JSON.parse(JSON.stringify(itemsLarge))
      this.availableBoardItems = JSON.parse(JSON.stringify(targetsData))
      this.availableTableItems = JSON.parse(JSON.stringify(tableItemsData))

      let gameItems = []
      for (let i = 0; i < 8; i++) {
        gameItems.push(this.setItem(i))
      }
      this.gameItems = gameItems
      this.$nextTick(() => {
        gameItems.forEach(item => {
          let el = this.$refs[`$d-${item.name}`][0]

          el.setPosition(
            (item.tablePos.x - (el.size().w / 2)),
            (item.tablePos.y - (el.size().h / 2))
          )
        })
      })
    },
    checkWord (item, solved) {
      item.wordCorrect = solved
      this.endGame()
    },
    endGame () {
      if (!this.gameItems.filter(item => !this.itemSolved(item)).length) {
        this.startEnd()
      }
    },
    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },
    itemSolved (item) {
      return item.wordCorrect && item.imgCorrect
    },
    setItem (itemIndex) {
      const tablePos = this.getRandomItem(this.availableTableItems)
      const boardPos = this.getRandomItem(this.availableBoardItems)

      const availableItems = tablePos.size === 'sm' ? this.availableItemsSmall : this.availableItemsLarge

      const item = this.getRandomItem(availableItems)
      const name = item.name
      const wordSolution = item.word
      const word = this.shuffleWord(item.word)

      return {
        name,
        word,
        wordSolution,
        tablePos,
        boardPos,
        wordValue: '',
        wordCorrect: null,
        imgCorrect: null
      }
    },
    shuffleWord (word) {
      const letters = word.split('')
      let shuffledWord = ''
      while (letters.length > 0) {
        // Set min to 1, so the word can't be the same (useful for small word, eg. por).
        // The 1st letter will never be the 1st letter of the original word.
        const min = !shuffledWord.length ? 1 : 0
        const index = this.randomArrayItem(min, letters.length)
        shuffledWord += letters[index]
        letters.splice(index, 1)
      }
      return shuffledWord
    },
    randomArrayItem (min, max) {
      min = Math.ceil(min)
      max = Math.floor(max) - 1
      return Math.floor(Math.random() * (max - min + 1)) + min
    },
    getRandomItem (items) {
      const index = this.randomArrayItem(0, items.length)
      const item = items[index]
      items.splice(index, 1)
      return item
    },
    onDragStarted () {
      this.inputsDisabled = true
    },
    onDragStopped (dragEl, dragElPos) {
      let target = this.getTargetIfOver(this.targets, dragElPos)

      if (dragEl.target) {
        this.gameItems.find(item => item.name === dragEl.target.matchId).imgCorrect = null
        dragEl.target.show()
        dragEl.target = null
      }

      if (target) {
        dragEl.setSize(58, 58)

        target.hide()

        dragEl.target = target

        const item = this.gameItems.find(item => item.name === target.matchId)

        item.imgCorrect = target.matchId === dragEl.matchId

        dragEl.currentX = target.posX
        dragEl.currentY = target.posY
      } else {
        dragEl.moveToStartPosition()
        dragEl.setSize(null, null)
      }

      this.inputsDisabled = false
      this.endGame()
    }
  }
}
</script>

<style>
.target svg {
  max-height: 100%;
  max-width: 100%;
}
</style>

