<template>
  <div :style="transformStyle" class="solution-text">
    {{ word }}
  </div>
</template>

<script>
import PositionMixin from '@/components/core/mixins/PositionMixin'

export default {
  mixins: [PositionMixin],
  props: {
    word: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
  .solution-text {
    line-height: 58px;
    height: 58px;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    user-select: none;
    text-transform: uppercase;
  }
</style>
