<template>
  <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">

    <div class="label label-testo" :class="{ highlight: highlight === 'testo' }">Testo</div>
    <div class="label label-nadev" :class="{ highlight: highlight === 'nadev' }">Nadev</div>

    <is-bm-anim
      class="game-anim"
      ref="animGame"
      key="anim-game"
      :animationData="gameAnim"
      :posX="44"
      :posY="9"
    />

    <is-interactive-target
      v-for="target in targetsData"
      :id="'$t-' + target.name"
      :ref="'$t-' + target.name"
      :key="target.name"
      :matchId="target.name"
      :glyph="glyphs[target.name]"
      :isLocked="gameState !== gameStates.interactive || isDropPhaseDone"
      :posX="target.pos.x"
      :posY="target.pos.y"
    />

    <is-draggable
      v-for="item in itemsData"
      :id="'$d-' + item.name"
      :ref="'$d-' + item.name"
      :key="item.name"
      :animateTo="'$t-' + item.animateTo"
      :glyph="glyphs[item.name]"
      :posX="item.pos.x"
      :posY="item.pos.y"
      :sizeW="item.width"
      :sizeH="item.height"
      :canDrag="gameState === gameStates.interactive"
      @dragStopped="onDragStopped"
    />

    <is-draggable
      v-for="item in itemsData.filter(item => item.multiple)"
      :id="`$d-${item.name}-duplicate`"
      :ref="`$d-${item.name}-duplicate`"
      :key="`${item.name}-duplicate`"
      :is-hidden="item.isDuplicateHidden"
      :dropPos="item.dropPos"
      :animateTo="'$t-' + item.animateTo"
      :glyph="glyphs[item.name]"
      :posX="item.pos.x"
      :posY="item.pos.y"
      :canDrag="gameState === gameStates.interactive"
      @dragStopped="onDragStopped"
    />

    <is-type-in
      v-for="(input, key) in inputsData"
      v-show="showInput === key"
      :key="'$i-' + key"
      :ref="'$i-' + key"
      class="inputs end-with-dot"
      :solution="input.solution"
      :preText="input.preText"
      :isLocked="(gameState !== gameStates.interactive)"
      arrowDirection="right"
      openDirection="left"
      @solved="onTypeInSolved"
      :canToggle="false"
      :posDynamic="true"
      :posX="typeInPos.x"
      :posY="typeInPos.y"
    />

    <is-check-or-reset
      @check="onCheckGame"
      @reset="onResetGame"
      :posY="118"
    />

    <is-bubble
      class="bubble left"
      ref="bbJakob"
      key="bJakob"
      :posX="336"
      :posY="40"
    />

    <is-end-game-modal
      ref="endModal"
      class="end-modal"
      @back="navigateBack()"
      @forward="navigateForward()"
    />
  </is-game>
</template>

<script>
import { Observable } from 'rxjs'
import { TimelineLite } from 'gsap'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import DraggableComponent from '@/components/shared/DraggableComponent'
import TypeInComponent from '@/components/shared/TypeInComponent'
import CheckOrReset from '@/components/shared/CheckOrReset'

import background from '@/assets/jedilnica/ucilnice/slovenija/peka-potice/background.svg'

import gameAnim from '@/assets/jedilnica/ucilnice/slovenija/peka-potice/animation.json'

import { sprites, sounds } from './PekaPoticeAssets'
import { targetsData, itemsData, inputsData, linesData } from './PekaPoticeData'

export default {
  name: 'is-peka-potice',
  mixins: [
    GameBasicMixin,
    GameUtilsMixin,
    StoreInputsMixin,
    StoreTargetsMixin,
    GameSoundMixin
  ],
  components: {
    'is-draggable': DraggableComponent,
    'is-type-in': TypeInComponent,
    'is-check-or-reset': CheckOrReset
  },
  data () {
    return {
      background,
      gameAnim: gameAnim,
      targetsData,
      items: [],
      itemsData,
      inputsData,
      showInput: '',
      highlight: '',
      activeItems: [],
      draggedItem: {},
      glyphs: sprites,
      order: [
        {
          name: 'tableTesto',
          solved: false
        },
        {
          name: 'tableNadev',
          solved: false
        }
      ]
    }
  },

  computed: {
    typeInPos () {
      const item = this.draggedItem
      if (item !== null && typeof item.currentX !== 'undefined') {
        return {
          x: item.currentX - item.originalBounds.width, // 10 = arriw length
          y: item.currentY + (item.originalBounds.height / 2) - 21 // 21 is half the height of the box
        }
      }

      return {}
    },
    canInteract () {
      return this.gameState !== this.gameStates.interactive
    },
    isDropPhaseDone () {
      return Object.keys(this.targetsData).find(targetName => this.targetsData[targetName].items.length > 0) === undefined
    }
  },

  methods: {
    onDragStopped (dragEl, dragElPos) {
      let target = this.getTargetIfOver(this.targets, dragElPos)

      // Reset item
      Object.keys(this.targetsData).forEach(targetName => {
        const targetData = this.targetsData[targetName]

        targetData.itemLocations.forEach(location => {
          if (location.item === dragEl) {
            location.item = null
          }
        })
      })

      if (target) {
        this.activeItems.splice(this.activeItems.indexOf(dragEl), 1)

        let targetData = this.targetsData[target.matchId]
        const emptyItemPosition = targetData.itemLocations.find(location => location.item == null)

        if (emptyItemPosition !== undefined) {
          emptyItemPosition.item = dragEl

          const pos = {
            x: emptyItemPosition.x - (dragEl.bounds().width / 2),
            y: emptyItemPosition.y - (dragEl.bounds().height / 2)
          }

          this.animateToBowl$(dragEl, pos, 0.4, this.items.length - this.activeItems.length)
            .subscribe(null, null, () => {})
        } else {
          dragEl.moveToStartPosition()
        }
      } else {
        dragEl.moveToStartPosition()
      }

      this.toggleDuplicateItem(dragEl)
    },

    toggleDuplicateItem (dragEl) {
      const items = []

      Object.keys(this.targetsData).forEach(targetName => {
        let targetData = this.targetsData[targetName]

        targetData.itemLocations.forEach(location => {
          if (location.item) {
            items.push(this.getItemName(location.item) === this.getItemName(dragEl))
          }
        })
      })

      this.itemsData.find(item => {
        if (item.name === this.getItemName(dragEl)) {
          item.isDuplicateHidden = !items.length
        }
      })
    },

    onTypeInSolved () {
      this.solvedTimeout = setTimeout(() => {
        this.showInput = ''
        this.draggedItem.solved = true
        this.draggedItem = null
        this.inputs.forEach((input) => input.reset())

        this.startTypeInPhase()
      }, 1600)
    },

    setNextInputItem (targetData) {
      const target = targetData.itemLocations.find(location => location.item != null && !location.item.solved)

      if (target) {
        this.draggedItem = target.item
      }
    },

    openNextInputItem () {
      if (this.draggedItem) {
        let key = this.getItemName(this.draggedItem)
        let ref = '$i-' + this.getItemName(this.draggedItem)
        let input = this.$refs[ref][0]

        this.showInput = key
        input.open()
      } else {
        this.startEnd()
      }
    },

    startTypeInPhase () {
      let playAnimation = false

      this.draggedItem = null

      this.order.find(orderObject => {
        this.setNextInputItem(this.targetsData[orderObject.name])
        const isItemFound = this.draggedItem !== null

        if (!isItemFound && !orderObject.solved) {
          const lineName = orderObject.name === 'tableTesto' ? 'testo' : 'nadev'
          playAnimation = true
          orderObject.solved = true
          this.highlight = lineName

          this.gameAnim$ = this.talkSegment$(0, 69, this.linesData[lineName], this.gameAnimRef, this.bbJakob, sounds[lineName])
            .delay(1000)
            .subscribe(null, null, () => {
              this.bbJakob.hide()
              this.highlight = ''
              this.openNextInputItem()
            })
        }

        return isItemFound
      })

      if (!playAnimation) {
        this.openNextInputItem()
      }
    },

    talkSegment$ (start, end, text, anim, bubble, sound) {
      return Observable.forkJoin(
        bubble.show$(text),
        anim.playSegment$(start, end),
        this.playSound$(sound)
      )
        .do(() => bubble.hide())
    },

    checkDropPhaseDone () {
      if (this.isDropPhaseDone) {
        this.lockActiveItems()
        this.startTypeInPhase()
      }
    },

    lockActiveItems () {
      this.activeItems.forEach(item => {
        item.lock()
      })
    },

    unlockActiveItems () {
      this.activeItems.forEach(item => {
        item.unlock()
      })
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.bbJakob.hide()

      this.targetsData = JSON.parse(JSON.stringify(targetsData))

      this.showInput = ''
      this.items.forEach((item) => {
        item.unlock()
        item.moveToStartPosition()
        item.$el.style.zIndex = 99
      })
      this.inputs.forEach((input) => input.reset())
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.gameAnim$ = this.talkSegment$(0, 69, this.linesData.intro, this.gameAnimRef, this.bbJakob, sounds.uvod)
        .delay(1000)
        .subscribe(null, null, () => this.startInteraction())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.gameAnim$.unsubscribe()
      }
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()

      this.activeItems = Array.from(this.items)
      this.unlockActiveItems()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    animateToBowl$ (item, pos, duration, zIndexOff) {
      return Observable.create((observer) => {
        let tween = new TimelineLite({
          onComplete: () => {
            observer.next()
            observer.complete()
          }
        })
          .set(item.$el, { css: { zIndex: (100 + zIndexOff) } })
          .to(item, duration, {
            currentX: pos.x,
            currentY: pos.y,
            onComplete: () => {
              observer.next()
              observer.complete()
            }
          })

        return () => {
          tween.kill()
        }
      })
    },

    getItemName (item) {
      return item.$attrs.id.replace('$d-', '').replace('-duplicate', '')
    },

    onCheckGame () {
      if (this.gameState === 'interactive') {
        Object.keys(this.targetsData).forEach(targetName => {
          const targetData = this.targetsData[targetName]

          targetData.itemLocations.forEach(location => {
            if (location.item != null && !location.item.isLocked) {
              const itemName = this.getItemName(location.item)
              const index = targetData.items.indexOf(itemName)

              if (index > -1) {
                targetData.items.splice(index, 1)
                location.item.lock()
              } else {
                location.item.moveToStartPosition()
                location.item = null
              }
            }
          })
        })

        this.checkDropPhaseDone()
        // this.startTypeInPhase()
      }
    },

    onResetGame () {
      if (this.gameState === 'interactive') {
        this.resetScene()
      }
    },
  },

  created () {
    this.linesData = linesData

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.items = Object.keys(this.$refs)
      .filter((val) => val.includes('$d'))
      .map(key => this.$refs[key][0])

    this.gameAnimRef = this.$refs.animGame

    this.bbJakob = this.$refs.bbJakob

    this.startIntroAnimation()
    // this.startInteraction()
  },

  destroyed () {
    this.stopIntroAnimation()
    clearTimeout(this.solvedTimeout)

    if (this.outroAnim$) {
      this.outroAnim$.unsubscribe()
    }

    if (this.gameAnim$) {
      this.gameAnim$.unsubscribe()
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../../styles/layout';
  @import '../../../../../styles/colors';

  .game-anim {
    z-index: 9;
  }

  .label {
    background-color: $ui-violet;
    border-radius: 5px;
    bottom: 34px;
    color: $ui-text-gold;
    font-size: 26px;
    font-weight: bold;
    padding: .35em .75em;
    position: absolute;
    pointer-events: none;
    user-select: none;
    text-transform: uppercase;
    z-index: $ui-z-index;

    &-nadev {
      left: 1161px;
    }

    &-testo {
      left: 758px;
    }
  }

  .highlight, .highlight svg {
    filter: drop-shadow(0px 0px 10px limegreen);
  }
</style>
