<template>
  <is-game :background="background" @navigateBack="navigateBack" @navigateForward="navigateForward">
    <is-bm-anim
      :class="{ highlight: charactersCurrent === 0 && !isEnd }"
      ref="me"
      :animationData="currentAnimation.me"
      :posX="71"
      :posY="190"
      :key="`me-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 2 && !isEnd }"
      ref="they"
      :animationData="currentAnimation.they"
      :posX="784"
      :posY="251"
      :key="`they-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 1 && !isEnd }"
      ref="you"
      :animationData="currentAnimation.you"
      :posX="510"
      :posY="190"
      :key="`you-${currentAnimationName}`"
    />

    <is-bubble
      class="bubble left"
      ref="bubble"
      :posX="160"
      :posY="110"
    />
  </is-game>
</template>

<script>
import background from '@/assets/jedilnica/ucilnice/slovnica/glagoli/background-dvojina-2.svg'

import meCookAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/dvojina-midva-kuhava'
import youCookAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/dvojina-vidva-kuhata'
import theyCookAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/dvojina-onadva-kuhata'

import { linesData } from './GlagoliData'
import sounds from './GlagoliS4Sounds'

import GlagoliMixin from '@/components/shared/mixins/GlagoliMixin'

export default {
  name: 'is-glagoli-s4',
  mixins: [GlagoliMixin],
  data () {
    return {
      background,
      animationsOrder: ['cook'],
      animations: {
        cook: {
          me: meCookAnimation,
          you: youCookAnimation,
          they: theyCookAnimation
        }
      },
      frames: [
        { from: 0, to: 70 }, // me
        { from: null, to: null }, // you
        { from: null, to: null }, // he / they
        { from: null, to: null } // she
      ],
      forwardText: 'Kotiček za množino',
      characterOrder: ['me', 'you', 'they'],
      linesData,
      sounds
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../../styles/layout';

  .bubble {
    z-index: $character-z-index;
  }

  .highlight, .highlight svg {
    filter: drop-shadow(0px 0px 10px limegreen);
  }
</style>
