<template>
  <is-game :background="background" @navigateBack="navigateBack" @navigateForward="navigateForward">
    <is-bm-anim
      :class="{ highlight: charactersCurrent === 0 && !isEnd }"
      ref="me"
      :animationData="currentAnimation.me"
      :posX="210"
      :posY="280"
      :key="`me-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 1 && !isEnd }"
      ref="you"
      :animationData="currentAnimation.you"
      :posX="460"
      :posY="280"
      :key="`you-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 2 && !isEnd }"
      ref="he"
      :animationData="currentAnimation.he"
      :posX="730"
      :posY="320"
      :key="`he-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 3 && !isEnd }"
      ref="she"
      :animationData="currentAnimation.she"
      :posX="1000"
      :posY="370"
      :key="`she-${currentAnimationName}`"
    />

    <is-bubble
      class="bubble left"
      ref="bubble"
      :posX="300"
      :posY="180"
    />
  </is-game>
</template>

<script>
import background from '@/assets/jedilnica/ucilnice/slovnica/glagoli/background-ednina-1.svg'

import meEatAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-jaz-jem'
import youEatAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-ti-jes'
import heEatAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-on-je'
import sheEatAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-ona-je'

import meDrinkAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-jaz-pijem'
import youDrinkAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-ti-pijes'
import heDrinkAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-on-pije'
import sheDrinkAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-ona-pije'

import GlagoliMixin from '@/components/shared/mixins/GlagoliMixin'

import { linesData } from './GlagoliData'
import sounds from './GlagoliS1Sounds'

export default {
  name: 'is-glagoli-s1',
  mixins: [GlagoliMixin],
  data () {
    return {
      background,
      animationsOrder: ['eat', 'drink'],
      animations: {
        eat: {
          me: meEatAnimation,
          you: youEatAnimation,
          he: heEatAnimation,
          she: sheEatAnimation
        },
        drink: {
          me: meDrinkAnimation,
          you: youDrinkAnimation,
          he: heDrinkAnimation,
          she: sheDrinkAnimation
        }
      },
      forwardText: 'Ednina',
      characterOrder: ['me', 'you', 'he', 'she'],
      linesData,
      sounds
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../../styles/layout';

  .bubble {
    z-index: $character-z-index;
  }

  .highlight, .highlight svg {
    filter: drop-shadow(0px 0px 10px limegreen);
  }
</style>
