<template>
  <is-game :background="background" @navigateBack="navigateBack" @navigateForward="navigateForward">
    <is-bm-anim
      :class="{ highlight: charactersCurrent === 0 && !isEnd }"
      ref="me"
      :animationData="currentAnimation.me"
      :posX="5"
      :posY="300"
      :key="`me-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 1 && !isEnd }"
      ref="you"
      :animationData="currentAnimation.you"
      :posX="445"
      :posY="280"
      :key="`you-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 2 && !isEnd }"
      ref="they"
      :animationData="currentAnimation.they"
      :posX="880"
      :posY="320"
      :key="`they-${currentAnimationName}`"
    />

    <is-bubble
      class="bubble left"
      ref="bubble"
      :posX="365"
      :posY="220"
    />
  </is-game>
</template>

<script>
import background from '@/assets/jedilnica/ucilnice/slovnica/glagoli/background-mnozina-1.svg'

import meEatAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/mnozina-mi-jemo'
import youEatAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/mnozina-vi-jeste'
import theyEatAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/mnozina-oni-jejo'

import meDrinkAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/mnozina-mi-pijemo'
import youDrinkAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/mnozina-vi-pijete'
import theyDrinkAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/mnozina-oni-pijejo'

import GlagoliMixin from '@/components/shared/mixins/GlagoliMixin'

import { linesData } from './GlagoliData'
import sounds from './GlagoliS5Sounds'

export default {
  name: 'is-glagoli-s1',
  mixins: [GlagoliMixin],
  data () {
    return {
      background,
      animationsOrder: ['eat', 'drink'],
      animations: {
        eat: {
          me: meEatAnimation,
          you: youEatAnimation,
          they: theyEatAnimation
        },
        drink: {
          me: meDrinkAnimation,
          you: youDrinkAnimation,
          they: theyDrinkAnimation
        }
      },
      frames: [
        { from: 10, to: 80 }, // me
        { from: null, to: null }, // you
        { from: null, to: null }, // he / they
        { from: null, to: null } // she
      ],
      forwardText: 'Množina',
      characterOrder: ['me', 'you', 'they'],
      linesData,
      sounds
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../../styles/layout';

  .bubble {
    z-index: $character-z-index;
  }

  .highlight, .highlight svg {
    filter: drop-shadow(0px 0px 10px limegreen);
  }
</style>
