<template>
  <is-game :background="background" @navigateBack="navigateBack" @navigateForward="navigateForward">
    <is-bm-anim
      :class="{ highlight: charactersCurrent === 0 && !isEnd }"
      ref="me"
      :animationData="currentAnimation.me"
      :posX="170"
      :posY="160"
      :key="`me-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 1 && !isEnd }"
      ref="you"
      :animationData="currentAnimation.you"
      :posX="460"
      :posY="160"
      :key="`you-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 2 && !isEnd }"
      ref="he"
      :animationData="currentAnimation.he"
      :posX="750"
      :posY="210"
      :key="`he-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 3 && !isEnd }"
      ref="she"
      :animationData="currentAnimation.she"
      :posX="1060"
      :posY="210"
      :key="`she-${currentAnimationName}`"
    />

    <is-bubble
      class="bubble left"
      ref="bubble"
      :posX="260"
      :posY="110"
    />
  </is-game>
</template>

<script>
import background from '@/assets/jedilnica/ucilnice/slovnica/glagoli/background-ednina-2.svg'

import meCookAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-jaz-kuham'
import youCookAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-ti-kuhas'
import heCookAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-on-kuha'
import sheCookAnimation from '@/assets/jedilnica/ucilnice/slovnica/glagoli/animations/ednina-ona-kuha'

import { linesData } from './GlagoliData'
import sounds from './GlagoliS2Sounds'

import GlagoliMixin from '@/components/shared/mixins/GlagoliMixin'

export default {
  name: 'is-glagoli-s2',
  mixins: [GlagoliMixin],
  data () {
    return {
      background,
      animationsOrder: ['cook'],
      animations: {
        cook: {
          me: meCookAnimation,
          you: youCookAnimation,
          he: heCookAnimation,
          she: sheCookAnimation
        }
      },
      frames: [
        { from: 0, to: 101 }, // me
        { from: null, to: null }, // you
        { from: null, to: null }, // he / they
        { from: null, to: null } // she
      ],
      forwardText: 'Kotiček za dvojino',
      characterOrder: ['me', 'you', 'he', 'she'],
      linesData,
      sounds
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../../styles/layout';

  .bubble {
    z-index: $character-z-index;
  }

  .highlight, .highlight svg {
    filter: drop-shadow(0px 0px 10px limegreen);
  }
</style>
