<template>
  <svg :fill="color" :class="className" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59 52">
    <path d="M57.25 23.64L33.67 1.44c-.63-.6-1.46-.9-2.32-.9-1.87 0-3.4 1.5-3.4 3.38V16.2H3.43c-1.87 0-3.4 1.5-3.4 3.38v13.05c0 1.87 1.53 3.4 3.4 3.4h24.54V48.3c0 1.85 1.52 3.37 3.4 3.37.86 0 1.68-.33 2.3-.92l23.6-22.2c.66-.63 1.05-1.53 1.05-2.46 0-1-.38-1.9-1.05-2.5zM30.2 32.38H3.66V19.83H30.2c.77 0 1.4-.63 1.4-1.4V4.5l22.95 21.6L31.6 47.7V33.8c0-.77-.63-1.4-1.4-1.4zm.93 16.44h-.03.03zm-.13-.07l-.03-.02s.02 0 .03.02zm-.13-.13zm-.06-.13v-.1.02zm0-44.8v.03zm.1-.17zm.1-.13h.07l-.02.02zm.17-.07zm.5 0zm-.15-.06h-.02.02zm-.2 0h.05-.03zm0 45.5h.05-.03zm.36-.05h-.02.03zm-.16.05h-.04.02z"/>
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      default: '#fff',
      type: String
    },
    direction: {
      default: 'right'
    }
  },

  computed: {
    className () {
      return [
        'icon',
        `icon-${this.direction}`
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.icon-left {
  transform: scale(-1);
}
</style>
