<template>
  <div @click="$emit('clicked')" :class="itemClasses" :style="itemStyle">
    <slot></slot>

    <div class="frame"></div>

    <button @click.stop="$emit('enlarge')" v-if="itemType === 'image' && showEnlarge" class="enlarge"></button>
  </div>
</template>

<script>
import PositionMixin from '@/components/core/mixins/PositionMixin.js'

export default {
  mixins: [PositionMixin],
  props: {
    state: {
      type: String
    },
    itemType: {
      type: String
    },
    isLocked: {
      type: Boolean,
      default: false
    },
    showEnlarge: {
      type: Boolean,
      default: false
    },
    width: {
      type: Number
    },
    height: {
      type: Number
    }
  },
  computed: {
    itemClasses () {
      return [
        'item',
        `item-${this.state}`,
        { 'item-locked': this.isLocked }
      ]
    },
    itemStyle () {
      const style = {
        width: `${this.width}px`,
        height: `${this.height}px`
      }

      return Object.assign(this.transformStyle, style)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../styles/colors';

  .item {
    border: 1px solid #fff;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    transition: .2s opacity;
  }

  .item-normal {
    pointer-events: all;
  }

  .item-solved {
    opacity: 0
  }

  .item-selected {
    .frame {
      opacity: 1;
    }
  }

  .frame {
    border: 5px solid $ui-brown;
    content: "";
    left: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .2s opacity;
    width: 100%;
  }

  .item-locked {
    pointer-events: none;
  }

  .item span {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  svg {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .enlarge {
    background-color: $orange;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22.71" height="23.6"><g><path d="M22.4 21.4l-5.6-5.8A9.71 9.71 0 0 0 19 9.5 9.5 9.5 0 1 0 9.5 19a9.67 9.67 0 0 0 5.5-1.7l5.7 5.9a1.49 1.49 0 0 0 .9.4 1.61 1.61 0 0 0 .9-.3 1.84 1.84 0 0 0-.1-1.9zm-13-19a7.1 7.1 0 1 1-7.1 7.1 7.26 7.26 0 0 1 7.1-7.1z" fill="%23fff"/></g></svg>');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 0 $orange-shadow;
    color: white;
    cursor: pointer;
    height: 37px;
    right: 10px;
    position: absolute;
    top: 10px;
    width: 42px;
    z-index: 9;

    &:active {
      box-shadow: none;
      margin-top: 4px;
    }
  }
</style>
