<template>
    <div @click="onClick()"
         class="button"
         :style="transformStyle">
        <svg v-show="state === 'neutral'" style="width: 65px; height: 50px;" width="65" height="50" viewBox="0 0 65 50" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.41"><path d="M55.5.58a9 9 0 0 0-6.36 2.63L24.6 27.74l-8.9-8.94a8.97 8.97 0 0 0-6.36-2.62 8.97 8.97 0 0 0-6.37 15.35l15.02 15.02a8.97 8.97 0 0 0 6.37 2.62h.53c2.3 0 4.6-.86 6.36-2.62l30.62-30.62A9 9 0 0 0 55.5.58m0 4a4.97 4.97 0 0 1 5 5c0 1.33-.52 2.59-1.46 3.53L28.4 43.73a4.96 4.96 0 0 1-3.74 1.45h-.32c-1.35 0-2.6-.51-3.54-1.45l-15-15.02a4.96 4.96 0 0 1-1.45-3.53 4.96 4.96 0 0 1 4.99-5c1.34 0 2.6.52 3.53 1.46L24.61 33.4l2.83-2.83L51.96 6.04a4.97 4.97 0 0 1 3.54-1.46" fill="#fff" fill-rule="nonzero"/></svg>
        <svg v-show="state === 'correct'" style="width: 65px; height: 50px;" width="65" height="50" viewBox="0 0 65 50" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.41"><path d="M55.64.58c-2.3 0-4.61.88-6.37 2.63L24.75 27.74l-8.92-8.93a8.97 8.97 0 0 0-6.37-2.62A8.97 8.97 0 0 0 3.1 31.54l15.02 15.02a8.97 8.97 0 0 0 6.36 2.62h.54c2.3 0 4.6-.86 6.36-2.62L62 15.94A9 9 0 0 0 55.64.58m0 4a4.97 4.97 0 0 1 5 5c0 1.33-.52 2.59-1.47 3.53L28.55 43.73a4.96 4.96 0 0 1-3.75 1.45h-.32c-1.34 0-2.6-.51-3.53-1.45L5.93 28.71a4.96 4.96 0 0 1-1.46-3.53 4.96 4.96 0 0 1 5-5c1.34 0 2.6.52 3.53 1.46L24.75 33.4l2.83-2.83L52.1 6.04a4.97 4.97 0 0 1 3.54-1.46" fill="#0f0" fill-rule="nonzero"/></svg>
        <svg v-show="state === 'incorrect'" style="width: 53px; height: 53px;" width="53" height="53" viewBox="0 0 53 53" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M45.338.014a7.474 7.474 0 0 0-5.303 2.188L26.777 15.459 13.52 2.202A7.476 7.476 0 0 0 8.217.014a7.473 7.473 0 0 0-5.303 2.188c-2.917 2.916-2.917 7.689 0 10.606l13.257 13.257L2.914 39.323c-2.917 2.916-2.917 7.689 0 10.606a7.476 7.476 0 0 0 5.303 2.187 7.48 7.48 0 0 0 5.303-2.187l13.257-13.258 13.258 13.258a7.477 7.477 0 0 0 5.303 2.187 7.477 7.477 0 0 0 5.303-2.187c2.917-2.917 2.917-7.69 0-10.606L37.383 26.065l13.258-13.257c2.917-2.917 2.917-7.69 0-10.606A7.474 7.474 0 0 0 45.338.014m0 4c.941 0 1.82.361 2.475 1.016a3.504 3.504 0 0 1 0 4.949L34.555 23.237l-2.828 2.828 2.828 2.829 13.258 13.257a3.504 3.504 0 0 1 0 4.949 3.469 3.469 0 0 1-2.475 1.016c-.941 0-1.82-.36-2.475-1.016L29.606 33.843l-2.829-2.829-2.828 2.829L10.691 47.1a3.468 3.468 0 0 1-2.474 1.016c-.941 0-1.82-.36-2.475-1.016a3.504 3.504 0 0 1 0-4.949L19 28.894l2.828-2.829L19 23.237 5.742 9.979a3.504 3.504 0 0 1 0-4.949 3.473 3.473 0 0 1 2.475-1.016c.94 0 1.819.361 2.474 1.016l13.258 13.257 2.828 2.829 2.829-2.829L42.863 5.03a3.473 3.473 0 0 1 2.475-1.016" fill="red" fill-rule="nonzero"/></svg>

    </div>
</template>

<script>
import PositionMixin from '@/components/core/mixins/PositionMixin.js'

export default {
  name: 'is-button-select',
  mixins: [PositionMixin],
  data () {
    return {
      state: 'neutral'
    }
  },
  props: {
    id: Number,
    isLocked: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    onClick () {
      if (!this.isLocked) {
        this.$emit('clicked', this)
      }
    },

    stateToNeutral () {
      this.state = 'neutral'
    },
    stateToCorrect () {
      this.state = 'correct'
    },
    stateToIncorrect () {
      this.state = 'incorrect'
    }
  }
}
</script>

<style lang="scss" scoped>
    @import '../../styles/colors';
    @import '../../styles/layout';

    .button {
        display: flex;
        position: absolute;

        align-items: center;
        justify-content: center;

        width: 120px;
        height: 74px;

        top: 0;
        left: 0;

        cursor: pointer;
        user-select: none;

        background-color: $ui-brown;

        border-radius: 10px;
        box-shadow: 0 4px 0 $ui-brown-shadow;

        &:active {
            box-shadow: none !important;
            margin-top: 4px;
        }
    }
</style>
