<template>
    <div @click="onClick()"
         class="button"
         :style="transformStyle">
        <slot>
            Text
        </slot>
    </div>
</template>

<script>
import PositionMixin from '@/components/core/mixins/PositionMixin.js'

export default {
  name: 'is-button',
  mixins: [PositionMixin],
  methods: {
    onClick () {
      this.$emit('clicked')
    }
  }
}
</script>

<style lang="scss" scoped>
    @import '../../styles/colors';
    @import '../../styles/layout';

    .button {
        position: absolute;
        top: 0;
        left: 0;

        font-family: "Arial Black", Helvetica, sans-serif;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;

        padding: 8px 12px 6px 12px;

        cursor: pointer;
        user-select: none;

        background-color: $ui-green;

        border-radius: 10px;
        box-shadow: 0 4px 0 $ui-green-shadow;

        &.big {
            font-size: 26px;
        }

        &.blue {
            background-color: $ui-blue;
            box-shadow: 0 4px 0 $ui-blue-shadow;
        }

        &.brown {
            background-color: $ui-brown;
            box-shadow: 0 4px 0 $ui-brown-shadow;
        }

        &.btn-modal {
            box-shadow: 0 8px 0 $ui-green-shadow;
            position: relative;

            &.blue {
                box-shadow: 0 8px 0 $ui-blue-shadow;
            }

            &.brown {
                box-shadow: 0 8px 0 $ui-brown-shadow;
            }

            .icon {
                display: block;
                width: 59px;
                height: 59px;
            }
        }

        &.violet {
            display: flex;
            background-color: $ui-violet;
            box-shadow: 0 4px 0 $ui-violet-shadow;

            color: $ui-text-gold;

            border-radius: 4px;
            font-size: 18px;

            & .icon {
                display: block;
                width: 26px;
                height: 26px;
                margin-left: 14px;
                fill: $ui-text-gold;
            }
        }

        &:active {
            box-shadow: none !important;
            margin-top: 4px;
        }
    }
</style>
