<template>
  <div
    @click="onClick"
    :class="buttonClasses"
    :style="transformStyle">
    <slot></slot>

    <is-svg-sprite
      :glyph="glyphs[state]"
      v-if="state !== 'normal'"
    />
  </div>
</template>

<script>
import PositionMixin from '@/components/core/mixins/PositionMixin.js'

import correct from '@/assets/jedilnica/kosare/pomesaneCrke/correct.svg'
import wrong from '@/assets/jedilnica/kosare/pomesaneCrke/wrong.svg'

import SvgSprite from '@/components/core/SvgSprite'

export default {
  name: 'is-button',
  mixins: [PositionMixin],
  components: {
    'is-svg-sprite': SvgSprite
  },
  data () {
    return {
      glyphs: {
        correct,
        wrong
      },
      state: 'normal'
    }
  },
  computed: {
    buttonClasses () {
      return [
        'button',
        { 'button-pressed' : this.state !== 'normal' }
      ]
    }
  },
  props: {
    isSolution: {
      type: Boolean
    }
  },
  methods: {
    onClick () {
      this.state = this.isSolution ? 'correct' : 'wrong'

      this.$emit('clicked')
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../styles/colors';
  @import '../../styles/layout';

  .button {
    align-items: center;
    background-color: $ui-brown;
    border-radius: 10px;
    box-shadow: 0 10px 0 $ui-brown-shadow;
    color: #fff;
    cursor: pointer;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    height: 74px;
    line-height: 74px;
    justify-content: center;
    padding: 0 25px;
    text-transform: uppercase;
    user-select: none;

    svg {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:active {
        box-shadow: none !important;
        margin-top: 10px;
    }
  }

  .button-pressed {
    color: transparent;
  }
</style>
