<template>
  <div @click="$emit('clicked')" :class="cardClasses" :style="transformStyle">
    <slot></slot>
    <is-svg-sprite
      v-if="cardType === 'text'"
      :glyph="cardFront"
    />
    <is-svg-sprite
      class="card-back"
      v-show="state === 'closed'"
      :glyph="cardBack"
    />
  </div>
</template>

<script>
import PositionMixin from '@/components/core/mixins/PositionMixin.js'

import cardFrontYellow from '@/assets/jedilnica/kosare/spominMalicaKosilo/card-front.svg'
import cardBackYellow from '@/assets/jedilnica/kosare/spominMalicaKosilo/card-back.svg'

import cardFrontOrange from '@/assets/jedilnica/kosare/spominSadjeZelenjava/card-front.svg'
import cardBackOrange from '@/assets/jedilnica/kosare/spominSadjeZelenjava/card-back.svg'

import SvgSprite from '@/components/core/SvgSprite'

export default {
  components: {
    'is-svg-sprite': SvgSprite
  },
  mixins: [PositionMixin],
  props: {
    state: {
      type: String
    },
    cardType: {
      type: String
    },
    cardStyle: {
      default: 'yellow',
      type: String
    },
    isLocked: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    cardClasses () {
      return [
        'card',
        `card-${this.state}`,
        { 'card-locked': this.isLocked }
      ]
    }
  },
  data () {
    return {
      cardFront: this.cardStyle === 'yellow' ? cardFrontYellow : cardFrontOrange,
      cardBack: this.cardStyle === 'yellow' ? cardBackYellow : cardBackOrange
    }
  }
}
</script>

<style lang="scss" scoped>
  .card {
    cursor: pointer;
    position: absolute;
    pointer-events: none;
  }

  .card-closed {
    pointer-events: all;
  }

  .card-locked {
    pointer-events: none;
  }

  .card span {
    color: #892B2C;
    font-size: 28px;
    font-weight: bold;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .card-back {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
  }
</style>
