<template>
  <div>
    <div class="check-or-reset" :style="transformStyle">
      <is-cr-btn @click.native="$emit('check')">
        <is-svg-sprite :glyph="check"></is-svg-sprite>
      </is-cr-btn>

      <is-cr-btn @click.native="$emit('reset')">
        <is-svg-sprite :glyph="reset"></is-svg-sprite>
      </is-cr-btn>
    </div>
  </div>
</template>

<script>
import check from '@/assets/jedilnica/ucilnice/check.svg'
import reset from '@/assets/jedilnica/ucilnice/reset.svg'
import btn from '@/components/shared/CheckOrResetButton'
import SvgSprite from '@/components/core/SvgSprite.vue'
import PositionMixin from '@/components/core/mixins/PositionMixin.js'

export default {
  mixins: [PositionMixin],
  components: {
    'is-cr-btn': btn,
    'is-svg-sprite': SvgSprite
  },
  props: {
    posX: {
      type: Number,
      default: 1247
    },
    posY: {
      type: Number,
      default: 522
    }
  },
  data () {
    return {
      check,
      reset
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/colors';
@import '../../styles/layout';

.check-or-reset {
  position: absolute;
  z-index: $ui-z-index;
}
</style>
