<template>
  <div>
    <div class="btn">
      <slot />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../styles/colors';
@import '../../styles/layout';

.btn {
  align-items: center;
  background-color: $ui-brown;
  border-radius: 14px 0 0 14px;
  box-shadow: 0 10px 0 $ui-brown-shadow;
  cursor: pointer;
  display: flex;
  height: 73px;
  justify-content: center;
  margin-bottom: 20px;
  user-select: none;
  width: 87px;

  &:active {
    box-shadow: none;
    transform: translateY(14px);
  }
}
</style>
