<template>
  <div class="group">
    <div
      :key="key"
      v-for="(item, key) in items"
    >
      <is-check-mark
        class="mark-position right correct animate no-events"
        v-show="isSolved(item.matchId)"
        :style="markStyle(item)"
      />
    </div>
  </div>
</template>

<script>
import CheckMarkComponent from '@/components/shared/CheckMarkComponent.vue'

export default {
  name: 'is-check-mark-group',
  components: {
    'is-check-mark': CheckMarkComponent
  },
  props: {
    items: {
      type: Object,
      required: true
    },
    glyphs: {
      type: Object,
      required: true
    },
    labels: {
      type: Array,
      required: true
    },
    targets: {
      type: Array,
      required: true
    }
  },
  computed: {},
  methods: {
    isSolved (matchId) {
      const label = this.labels.find(label => label.matchId === matchId || this.checkMultiple(label, matchId))

      if (label) {
        return label.isSolved
      }

      return false
    },
    markStyle (item) {
      return {
        left: `${item.pos.x - 30}px`,
        top: `${item.pos.y + (this.glyphs[item.glyph].viewBox.split(' ')[3] / 2) - 30}px`
      }
    },
    checkMultiple (label, matchId) {
      if (Array.isArray(label.matchId) && Array.isArray(this.targets) && label.matchId.includes(matchId)) {
        const target = this.targets.find(target => target.matchId === matchId) || {}

        return label.isSolved && target.isSolved
      }

      return false
    }
  }
}
</script>

<style lang='scss' scoped>
.group {
  position: absolute;
}
</style>
