<template>
    <div class="container"
         :class="{ 'interact': canInteract }"
         v-show="visible"
         :style="transformStyle">
        <is-check-mark v-show="isSolved && isShowCheckMark"
                       class="mark-position bottom correct animate no-events"></is-check-mark>
        <svg :viewBox="glyph.viewBox"
             :width="width"
             :height="height"
             :style="styleObject"
        >
            <use :xlink:href="'#' + glyph.id"/>
        </svg>
    </div>
</template>

<script>
import CheckMarkComponent from '@/components/shared/CheckMarkComponent.vue'
import PositionMixin from '@/components/core/mixins/PositionMixin'

export default {
  name: 'is-interactive-target',
  components: {
    'is-check-mark': CheckMarkComponent
  },
  mixins: [PositionMixin],
  props: {
    matchId: String,
    glyph: Object,
    posX: Number,
    posY: Number,
    size: {
      type: Object,
      default: () => ({})
    },
    isLocked: {
      type: Boolean,
      default: false
    },
    isShowCheckMark: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      isSolved: false,
      visible: true
    }
  },
  computed: {
    canInteract () {
      return !this.isSolved && !this.isLocked
    },
    width () {
      if (this.size.width) {
        return this.size.width
      }

      return this.glyph.viewBox.split(' ')[2]
    },
    height () {
      if (this.size.height) {
        return this.size.height
      }

      return this.glyph.viewBox.split(' ')[3]
    },
    styleObject () {
      return {
        height: `${this.height}px`,
        width: `${this.width}px`
      }
    }
  },

  methods: {
    setSolved () {
      this.isSolved = true
    },
    hide () {
      this.visible = false
    },
    show () {
      this.visible = true
    },
    reset () {
      this.isSolved = false
    },
    bounds () {
      return this.$el.getBoundingClientRect()
    },
    center () {
      let bounds = this.bounds()
      return {
        x: this.posX + bounds.width / 2,
        y: this.posY + bounds.height / 2
      }
    }
  },
  mounted () {
  }
}
</script>

<style lang="scss" scoped>
    .container {
        position: absolute;
        top: 0;
        left: 0;

        pointer-events: none;

        transition: stroke-width .3s;

        &.interact {
            pointer-events: inherit;

            &:hover {
                fill: none;;
                stroke: #646464;
                stroke-width:1px;
                stroke-dasharray: 2,2;
                stroke-linejoin: round;
            }
        }
    }

    .mark-position {
        left: calc(50% - 30px);
        top: -50px;
    }
</style>
