<template>
    <div class="navigation">
        <div v-if="showBack"
             class="btn back"
             :class="{ 'pulse': pulseBack }"
             @click.stop="goBack()">
            <is-arrow-icon direction="left" />
            <div v-if="showBackText" class="text">{{backText}}</div>
        </div>
        <div v-if="showForward"
             class="btn forward"
             :class="{ 'pulse': pulseForward }"
             @click.stop="goForward()">
            <div v-if="showForwardText" class="text">{{forwardText}}</div>
            <is-arrow-icon />
        </div>
    </div>
</template>

<script>
import ArrowIcon from '@/components/shared/ArrowIcon'

export default {
  name: 'is-navigation',
  components: {
    'is-arrow-icon': ArrowIcon
  },
  data () {
    return {}
  },
  computed: {
    backText () {
      return this.$store.state.navBackText
    },
    forwardText () {
      return this.$store.state.navForwardText
    },
    showBack () {
      return this.$store.state.showNavBack
    },
    showForward () {
      return this.$store.state.showNavForward
    },
    showBackText () {
      return this.backText.length > 0
    },
    showForwardText () {
      return this.forwardText.length > 0
    },
    pulseBack () {
      return this.$store.state.pulseNavBack
    },
    pulseForward () {
      return this.$store.state.pulseNavForward
    }
  },
  methods: {
    goBack () {
      this.$emit('back')
    },
    goForward () {
      this.$emit('forward')
    }
  }
}
</script>

<style lang="scss" scoped>
    @import '../../styles/colors';
    @import '../../styles/layout';

    .btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        height: 73px;
        top: 25px;

        z-index: $ui-z-index;

        cursor: pointer;

        &:active {
            top: 44px;

            &.back, &.forward {
                box-shadow: none;
            }
        }

        & .text {
            padding: 6px 14px 0 14px;
            color: white;
            font-size: 36px;
            font-weight: bold;
            text-transform: uppercase;
        }

        & .icon {
            width: 59px;
            height: 52px;
            margin: 0 14px;

            pointer-events: none
        }

        &.back {
            background-color: $ui-brown;
            left: 0;

            border-radius: 0 14px 14px 0;
            box-shadow: 0 10px 0 $ui-brown-shadow;
        }

        &.forward {
            background-color: $ui-green;
            right: 0;

            border-radius: 14px 0 0 14px;
            box-shadow: 0 10px 0 $ui-green-shadow;
        }

        &.pulse {
            animation: pulse 3s ease-in-out infinite;
        }
    }
</style>
