<template>
  <div>
    <is-bubble
      class="bubble left"
      ref="bubble"
      key="bubble"
      :posX="240"
      :posY="120"
    />

    <is-bm-anim class="jakob"
      ref="jakob"
      key="anim-jakob"
      :animationData="characterAnim"
      :posX="-522"
      :posY="233"
    />
  </div>
</template>

<script>
import { TweenLite } from 'gsap'
import { Observable, Subject } from 'rxjs'

import Bubble from '@/components/shared/BubbleComponent.vue'
import BMAnim from '@/components/core/BMAnimation.vue'

import characterAnim from '@/assets/now-you-try-jakob.json'

import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import nowYouTrySound1 from '@/assets/sounds/poizkusi-se-ti.mp3'
import nowYouTrySound2 from '@/assets/sounds/poizkusi-se-ti-2.mp3'
import nowYouTrySound3 from '@/assets/sounds/poizkusi-se-ti-3.mp3'
import nowYouTrySound4 from '@/assets/sounds/poizkusi-se-ti-4.mp3'
import whatSound from '@/assets/sounds/1.3.8/uvod.mp3'
import whatSound2 from '@/assets/sounds/4.2/uvod.mp3'
import numbersSound from '@/assets/sounds/garderoba/1.1/uvod.mp3'
import colorSound from '@/assets/sounds/garderoba/1.3/uvod.mp3'
import dressSound from '@/assets/sounds/garderoba/1.5.1/uvod.mp3'
import dressSound2 from '@/assets/sounds/garderoba/1.5.2/uvod.mp3'

const sounds = {
  default: nowYouTrySound1,
  secondary: nowYouTrySound2,
  now3: nowYouTrySound3,
  now4: nowYouTrySound4,
  what: whatSound,
  what2: whatSound2,
  numbers: numbersSound,
  color: colorSound,
  dress: dressSound,
  dress2: dressSound2
}

export default {
  mixins: [GameSoundMixin],

  components: {
    'is-bm-anim': BMAnim,
    'is-bubble': Bubble
  },

  props: {
    selectedSound: {
      type: String,
      default: 'default'
    },
    text: {
      type: String,
      default: 'Zdaj pa poskusi še ti.'
    },
    animationSegments: {
      type: Array,
      default: () => null
    }
  },

  data () {
    return {
      characterAnim,
      isAnimating: false
    }
  },

  mounted () {
    this.jakob = this.$refs.jakob
    this.bubble = this.$refs.bubble
  },

  methods: {
    cancel () {
      if (this.jakobSlide) {
        this.jakobSlide.kill()
        this.reset()
      }
    },

    reset () {
      this.jakob.currentX = -522
      this.bubble.hide()
    },

    $talkAnimation () {
      if (this.animationSegments !== null) {
        return this.jakob.playSegment$(...this.animationSegments)
      }

      return this.jakob.play$(false, true)
    },

    animate () {
      this.isAnimating = true

      return this.slideJakob()
        .flatMap(() => Observable.zip(
          this.bubble.show$(this.text),
          this.$talkAnimation(),
          this.playSound$(sounds[this.selectedSound])
        )
          .do(() => this.bubble.hide())
        )
        .flatMap(() => this.slideJakob(true))
        .do(() => { this.isAnimating = false })
    },

    slideJakob (out = false) {
      let completed$ = new Subject()
      this.jakobSlide = TweenLite.to(this.jakob, 1, {
        currentX: out ? -522 : 0,
        onComplete: () => completed$.next()
      })

      return Observable.of('').do(() => {
        this.jakob.play$()
      }).flatMap((_) => completed$.take(1))
    }
  },

  destroyed () {
    if (this.jakobSlide) {
      this.jakobSlide.kill()
    }
  }
}
</script>

<style>
.jakob,
.bubble {
  z-index: 200;
}
</style>
