<template>
  <div
    class="container"
    :style="transformStyle"
  >
    <svg :viewBox="glyph.viewBox"
          :width="width"
          :height="height">
        <use :xlink:href="'#' + glyph.id"/>
    </svg>
  </div>
</template>

<script>
import PositionMixin from '@/components/core/mixins/PositionMixin'

export default {
  name: 'is-svg-sprite-pos',
  mixins: [PositionMixin],
  props: {
    glyph: Object,
    sizeW: Number,
    sizeH: Number
  },

  computed: {
    screenScale () {
      return this.$store.state.screenScale
    },
    width () {
      return this.sizeW ? this.sizeW : this.glyph.viewBox.split(' ')[2]
    },
    height () {
      return this.sizeH ? this.sizeH : this.glyph.viewBox.split(' ')[3]
    }
  },

  methods: {
    center () {
      let bounds = this.$el.getBoundingClientRect()
      return {
        x: this.posX + bounds.width / 2,
        y: this.posY + bounds.height / 2
      }
    },

    size () {
      let bounds = this.$el.getBoundingClientRect()
      return {
        w: (bounds.width / this.screenScale),
        h: (bounds.height / this.screenScale)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
    .container {
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
