<template>
    <div class="type-in-container"
         :class="[openDirection, {'open': isOpen}]"
         :style="transformStyle">
        <is-check-mark @clicked="toggle()"
                       :class="[arrowDirection, { correct: isSolved, write: !isSolved, 'interaction': canInteract && canToggle}]"></is-check-mark>

        <div @click.stop='fakeClick()'
             class="input-container"
             v-show="isOpen">
            <div v-if="preText" class="pre-text">{{preText}}</div>
            <div v-if="!isMultiline">
                <input class="solution"
                    type="text"
                    v-model.trim="solutionValue"
                    ref="solutionInput"
                    :disabled="!canInteract">
            </div>
            <input
              v-else
              class="solution"
              type="text"
              v-model.trim="solutionValue"
              ref="solutionInput"
              :disabled="!canInteract"
            >
          
            <span class="dot">.</span>
        </div>
    </div>
</template>

<script>
import { Observable } from 'rxjs'

import CheckMarkComponent from '@/components/shared/CheckMarkComponent.vue'
import PositionMixin from '@/components/core/mixins/PositionMixin'

export default {
  name: 'is-type-in',
  components: {
    'is-check-mark': CheckMarkComponent
  },
  mixins: [
    PositionMixin
  ],
  data () {
    return {
      solutionValue: '',
      isSolved: false,
      isOpen: false
    }
  },
  props: {
    solution: String,
    arrowDirection: String,
    openDirection: String,
    preText: {
      type: String,
      default: ''
    },
    isLocked: {
      type: Boolean,
      default: false
    },
    isMultiline: {
      type: Boolean,
      default: false,
    },
    canToggle: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    canInteract () {
      return !this.isSolved && !this.isLocked
    }
  },

  methods: {
    reset () {
      this.isSolved = false
      this.isOpen = false
      this.solutionValue = ''
    },

    toggle () {
      if (!this.canInteract || !this.canToggle) {
        return
      }

      if (this.isOpen) {
        this.close()
        this.$emit('clicked')
      } else {
        this.$emit('clicked')
        this.open()
      }
    },

    open () {
      this.isOpen = true
      this.$nextTick(() => this.$refs.solutionInput.focus())
    },

    close () {
      this.isOpen = false
    },

    playSolution$ () {
      this.open()

      let letters = this.solution.split('')

      return Observable.zip(
        Observable.from(letters),
        Observable.interval(500),
        (item, c) => item)
        .scan((word, letter) => word + letter, '')
        .do((word) => {
          this.solutionValue = word
        })
        .last()
    },

    fakeClick () {
    }
  },
  mounted () {
    this.solutionInput = this.$refs.solutionInput

    this.keyup$ = Observable.fromEvent(this.solutionInput, 'keyup')
      .filter((_) => this.solutionValue.toUpperCase() === this.solution.toUpperCase())
      .subscribe((_) => {
        this.isSolved = true
        this.$emit('solved')
      })
  },

  destroyed () {
    if (this.keyup$) {
      this.keyup$.unsubscribe()
    }
  }
}
</script>

<style lang="scss" scoped>
    @import "../../styles/layout";

    .type-in-container {
        position: absolute;
        top: 0;
        left: 0;

        &.open {
          z-index: $drag-z-index + 1;
        }

        .input-container {
            position: relative;
            display: flex;
            align-items: center;
            width: 300px;
            height: 50px;

            padding: 0 8px 0 8px;

            border-radius: 4px;
            background-color: white;

            .pre-text {
                flex-shrink: 0;
                margin-right: 8px;
                padding-top: 2px;
                font-size: 22px;
                text-transform: uppercase;
            }

            .solution {
                flex: 1;
                width: 100%;
                height: 40px;
                padding: 0 4px;
                font-size: 22px;
                text-transform: uppercase;

                border-radius: 4px;
                border: 1px solid black;
            }

            .dot {
                display: none;
            }
        }

        &.large {
          .input-container {
            width: 380px;
          }
        }

        &.compact {
            .input-container {
                flex-wrap: wrap;
                height: auto;

                padding: 8px 12px;

                .pre-text {
                    margin-bottom: 6px;
                    flex: 0 0 100%;
                }

                .solution {
                    text-align: center;
                }
            }
        }

        &.right {
            .input-container {
                left: 58px;
            }
        }

        &.left {
            .input-container {
                left: -300px;
            }
        }

        &.bottom {
            .input-container {
              left: -120px;
              top: 50px;
            }
        }

        &.end-with-dot {
            .input-container .dot {
                display: initial;
                padding-left: 2px;
                padding-top: 3px;
                font-size: 24px;
            }
        }
    }
</style>
