<template>
    <div class="container"
         :class="{'zoom-in': doZoomIn, 'zoomed-in': isZoomedIn, 'interact': !isLocked}"
         :style="transformStyle"
         @click="onClick">
        <svg :viewBox="glyph.viewBox"
             :width="glyph.viewBox.split(' ')[2]"
             :height="glyph.viewBox.split(' ')[3]">
            <use :xlink:href="'#' + glyph.id"/>
        </svg>
        <div class="text">{{text}}</div>
    </div>
</template>

<script>
import PositionMixin from '@/components/core/mixins/PositionMixin'

export default {
  name: 'is-zoom-in',
  mixins: [PositionMixin],
  data () {
    return {
      doZoomIn: false,
      isZoomedIn: false
    }
  },
  props: {
    glyph: Object,
    posX: Number,
    posY: Number,
    text: String,
    char: String,
    name: String,
    isLocked: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    onClick (evt) {
      this.$emit('clicked', this)
    },

    zoomIn () {
      this.doZoomIn = true
      this.isZoomedIn = true
    },

    zoomOut () {
      this.doZoomIn = false
    },

    center () {
      let bounds = this.$el.getBoundingClientRect()
      return {
        x: this.posX + bounds.width / 2,
        y: this.posY + bounds.height / 2
      }
    }
  }
}
</script>

<style lang="scss" scoped>
    .container {
        position: absolute;
        top: 0;
        left: 0;

        pointer-events: none;

        transition: all .5s ease-out;

        &.interact {
            pointer-events: inherit;
            cursor: pointer;
        }

        .text {
            position: absolute;
            top: 170px;
            left: -50%;

            pointer-events: none;

            width: 240px;
            padding: 4px 8px;

            font-size: 18px;
            font-weight: bold;
            background: white;
            border-radius: 8px;

            text-transform: uppercase;

            text-align: left;

            transition: opacity .5s ease-out;

            opacity: 0;
        }
    }

    .zoomed-in {
        z-index: 5000;
    }

    .zoom-in {
        transform: translate(600px, 200px) scale(2.5) !important;

        .text {
            opacity: 1;
        }
    }
</style>
