<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
      <is-svg-sprite
        :glyph="table"
        :posX="140"
        :posY="476"
      />

      <div class="label label-testo" :class="{ highlight: highlight === 'testo' }">Testo</div>
      <div class="label label-nadev" :class="{ highlight: highlight === 'nadev' }">Nadev</div>

      <is-bm-anim
        v-show="gameState === gameStates.intro"
        class="intro-anim"
        ref="animIntro"
        key="anim-intro"
        :animationData="introAnim"
        :posX="195"
        :posY="-3"
      />

      <is-svg-sprite
        v-for="item in items"
        :class="{ highlight: highlight === getItemFullName(item) }"
        :ref="getItemFullName(item)"
        :glyph="glyphs[item.name]"
        :posX="item.x"
        :posY="item.y"
        :key="getItemFullName(item)"
      />

      <is-bubble
        class="bubble left"
        ref="bbJakob"
        key="bJakob"
        :posX="496"
        :posY="40"
      />

      <is-bubble
        class="bubble right"
        ref="bbAna"
        key="bAna"
        :posX="676"
        :posY="40"
      />
    </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'

import background from '@/assets/jedilnica/ucilnice/slovenija/uvod/background.svg'
import table from '@/assets/jedilnica/ucilnice/slovenija/uvod/table.svg'

import introAnim from '@/assets/jedilnica/kosare/sadnaKupa/animations/pripravi-svojo-sadno-kupo.json'

import SvgSpriteComponent from '@/components/shared/SvgSpriteComponent'

import { sounds, sprites } from './SlovenijaUvodAssets'
import items from './SlovenijaUvodData'

export default {
  name: 'is-sadna-kupa-sestavi',
  mixins: [
    GameBasicMixin,
    GameUtilsMixin,
    StoreInputsMixin,
    StoreTargetsMixin
  ],
  components: {
    'is-svg-sprite': SvgSpriteComponent
  },
  data () {
    return {
      glyphs: sprites,
      background,
      table,
      introAnim,
      highlight: null,
      animationFinished: false,
      items
    }
  },

  methods: {
    getItemFullName (item) {
      if (item.category) {
        return `${item.category}-${item.name}`
      }

      return item.name
    },

    animSegment (anim, text, sound) {
      return Observable.zip(
        anim.bubble.show$(text),
        this.introAnimRef.playSegment$(anim.start, anim.end),
        this.playSound$(sound)
      )
        .do(() => anim.bubble.hide())
    },

    startIntroAnimation () {
      this.highlight = 'potica'

      const anaAnim = {
        start: 0,
        end: 93,
        bubble: this.bbAna
      }

      const jakobAnim = {
        start: 93,
        end: 173,
        bubble: this.bbJakob
      }

      this.introAnim$ = this.animSegment(anaAnim, 'To je potica.', sounds.ana)
        .do(() => { this.highlight = '' })
        .flatMap(() => this.animSegment(jakobAnim, 'V potici so:', sounds.jakob))
        .do(() => { this.highlight = 'testo-moka' })
        .flatMap(() => this.animSegment(jakobAnim, 'moka,', sounds.moka))
        .do(() => { this.highlight = 'testo-kvas' })
        .flatMap(() => this.animSegment(jakobAnim, 'kvas,', sounds.kvas))
        .do(() => { this.highlight = 'testo-mleko' })
        .flatMap(() => this.animSegment(jakobAnim, 'mleko,', sounds.mleko))
        .do(() => { this.highlight = 'testo-sladkor' })
        .flatMap(() => this.animSegment(jakobAnim, 'sladkor,', sounds.sladkor))
        .do(() => { this.highlight = 'testo-maslo' })
        .flatMap(() => this.animSegment(jakobAnim, 'maslo,', sounds.maslo))
        .do(() => { this.highlight = 'testo-jajca' })
        .flatMap(() => this.animSegment(jakobAnim, 'jajca,', sounds.jajca))
        .do(() => { this.highlight = 'nadev-orehi' })
        .flatMap(() => this.animSegment(jakobAnim, 'orehi,', sounds.orehi))
        .do(() => { this.highlight = 'nadev-sladkor' })
        .flatMap(() => this.animSegment(jakobAnim, 'sladkor,', sounds.sladkor))
        .do(() => { this.highlight = 'nadev-maslo' })
        .flatMap(() => this.animSegment(jakobAnim, 'maslo,', sounds.maslo))
        .do(() => { this.highlight = 'nadev-moka' })
        .flatMap(() => this.animSegment(jakobAnim, 'moka,', sounds.moka))
        .do(() => { this.highlight = 'nadev-limona' })
        .flatMap(() => this.animSegment(jakobAnim, 'limona,', sounds.limona))
        .do(() => { this.highlight = 'nadev-jajca' })
        .flatMap(() => this.animSegment(jakobAnim, 'jajca.', sounds.jajca))
        .delay(2000)
        .subscribe(this.afterAnimation)
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }

      this.highlight = null
      this.bbAna.hide()
      this.bbJakob.hide()
      this.animationFinished = true
    },

    afterAnimation () {
      this.highlight = ''
      this.animationFinished = true
      this.$router.push({ name: 'TableSlikeSlovenija' })
    },

    navigateForward () {
      if (this.animationFinished) {
        let route = this.forwardRoutes.get(this.$route.name)
        this.$router.push({ name: route })
      } else {
        this.stopIntroAnimation()
        this.afterAnimation()
      }
    }
  },

  created () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.introAnimRef = this.$refs.animIntro

    this.bbAna = this.$refs.bbAna
    this.bbJakob = this.$refs.bbJakob

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../../styles/layout';
  @import '../../../../../styles/colors';

  .label {
    background-color: $ui-violet;
    border-radius: 5px;
    bottom: 38px;
    color: $ui-text-gold;
    font-size: 32px;
    font-weight: bold;
    padding: .35em .75em;
    position: absolute;
    text-transform: uppercase;
    z-index: $ui-z-index;

    &-nadev {
      left: 918px;
    }

    &-testo {
      left: 330px;
    }
  }

  .highlight, .highlight svg {
    filter: drop-shadow(0px 0px 10px limegreen);
  }
</style>
