<template>
  <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
    <is-shelf
      :key="index"
      v-for="(shelf, index) in $options.shelfs"
      :padding-size="shelf.paddingSize"
      :top="shelf.top"
      :hangers="shelf.hangers"
      :selected-number="selectedNumber"
      @select="select"
      @deselect="deselect"
      :highlightNumber="highlightNumber"
    />

    <is-now-you-try selectedSound="numbers" text="To so številke." ref="intro" />
  </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import background from '@/assets/garderoba/stevilke/background.svg'
import sounds from './StevilkeSounds'

import { shelfs } from './StevilkeData'
import StevilkeShelf from './StevilkeShelf'
import NowYouTry from '@/components/shared/NowYouTry'

export default {
  shelfs,
  name: 'is-garderoba-stevilke',
  components: {
    'is-shelf': StevilkeShelf,
    'is-now-you-try': NowYouTry
  },
  mixins: [
    GameBasicMixin,
    GameSoundMixin
  ],
  data () {
    return {
      background,
      introAnim$: null,
      highlightNumber: null,
      selectedNumber: null
    }
  },

  methods: {
    resetScene () {
      this.stopIntroAnimation()
      this.intro.reset()
      this.selectedNumber = null
      this.highlightNumber = null
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      const exampleNumber = 1

      this.introAnim$ = Observable
        .timer(1000)
        .flatMap(() => this.intro.animate())
        .do(() => {
          this.highlightNumber = exampleNumber
        })
        .delay(2000)
        .do(() => {
          this.playSound$(Object.values(sounds)[exampleNumber - 1]).subscribe(() => {})
          this.selectedNumber = exampleNumber
        })
        .delay(4000)
        .do(() => {
          this.highlightNumber = null
          this.selectedNumber = null
        })
        .subscribe(
          null,
          null,
          () => {
            this.startInteraction()
          })
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    select ({ name, value }) {
      this.playSound$(sounds[name]).subscribe(() => {})
      this.selectedNumber = value
    },

    deselect () {
      this.selectedNumber = null
    }
  },

  created () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.intro = this.$refs.intro
    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>

</style>
