<template>
  <button @click="showNumber" :class="['hanger', { 'hanger-locked' : isLocked }, { highlight: isHighlight }]">
    <is-svg-sprite class="hanger-background" :glyph="hangerSprite"></is-svg-sprite>
    <div class="hanger-number">{{ value }}</div>
    <div class="hanger-number">{{ value }}<div :class="tooltipClassName">{{ label }}</div></div>
  </button>
</template>

<script>
import SvgSprite from '@/components/core/SvgSprite.vue'
import hangerSprite from '@/assets/garderoba/stevilke/hanger.svg'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

export default {
  name: 'is-stevilke-hanger',
  mixins: [GameSoundMixin],
  components: {
    'is-svg-sprite': SvgSprite
  },
  props: {
    value: {
      type: Number,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    labelPos: {
      type: String,
      default: 'right'
    },
    isLocked: {
      type: Boolean,
      default: false
    },
    isHighlight: {
      type: Boolean,
      default: false
    },
    isSelected: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      hangerSprite
    }
  },
  computed: {
    tooltipClassName () {
      return [
        'hanger-tooltip',
        { 'hanger-tooltip-show': this.isSelected },
        `hanger-tooltip-${this.labelPos}`
      ]
    }
  },
  methods: {
    showNumber () {
      if (!this.isLocked) {
        this.$emit('select', this.value)

        // this.$anim = this.playSound$(require(`@/assets/sounds/??/${this.name}.mp3`))
        //   .delay(2000)
        //   .subscribe(() => {
        //     this.$emit('deselect')
        //   })

        setTimeout(() => {
          this.$emit('deselect')
        }, 2000)
      }
    }
  },
  destroyed () {
    if (this.$anim) {
      this.$anim.unsubscribe()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/layout';
@import "../../../styles/animations";

.hanger {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: relative;
  top: -12px;

  &-locked {
    pointer-events: none;
  }

  &-number {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    border-bottom: 4px solid #dadbdc;
    display: flex;
    font-size: 25px;
    font-weight: 900;
    left: 50%;
    height: 55px;
    justify-content: center;
    margin-left: -26px;
    position: absolute;
    top: 48px;
    width: 52px;
  }

  &-tooltip {
    background-color: #287eaa;
    border-radius: 6px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin: 0 18px;
    padding: 12px 19px;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s opacity;
    z-index: $ui-z-index;

    &-show {
      opacity: 1;
    }

    &-left {
      right: 100%;

      &::before {
        border-bottom: 10px solid transparent;
        border-left: 13px solid #287eaa;
        border-top: 10px solid transparent;
        left: 100%;
      }
    }

    &-right {
      left: 100%;

      &::before {
        border-bottom: 10px solid transparent;
        border-right: 13px solid #287eaa;
        border-top: 10px solid transparent;
        right: 100%;
      }
    }

    &::before {
      content: "";
      height: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
    }
  }
}

.highlight {
  filter: drop-shadow(0px 0px 10px limegreen);
  animation: pulse 3s ease-in-out infinite;
  z-index: $ui-z-index;
}
</style>
