<template>
  <div :style="{ top: `${top}px` }" :class="['shelf', `shelf-padding-${paddingSize}`]">
    <is-hanger
      :key="hanger.value"
      v-for="(hanger, index) of hangers"
      :value="hanger.value"
      :label="hanger.label"
      :name="hanger.name"
      :is-locked="selectedNumber !== null || isLocked"
      :is-selected="selectedNumber === hanger.value"
      :is-highlight="hanger.value === highlightNumber"
      :label-pos="index + 1 === hangers.length ? 'left' : 'right'"
      @select="$emit('select', { value: $event, name: hanger.name })"
      @deselect="$emit('deselect')"
    />
  </div>
</template>

<script>
import StevilkeHanger from './StevilkeHanger'

export default {
  name: 'is-stevilke-shelf',
  components: {
    'is-hanger': StevilkeHanger
  },
  props: {
    top: {
      default: 0
    },
    hangers: {
      type: Array,
      required: true
    },
    selectedNumber: {
      type: Number,
      default: null
    },
    paddingSize: {
      type: String,
      default: 'md'
    },
    highlightNumber: {
      type: Number,
      default: null
    },
    isLocked: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/layout';
@import "../../../styles/animations";

.shelf {
  background-color: #e6b579;
  border-bottom: 5px solid #c89e6a;
  display: flex;
  height: 42px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  width: 100%;

  &-padding-md {
    padding: 0 50px;
  }

  &-padding-lg {
    padding: 0 100px;
  }
}
</style>
