<template>
  <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
    <is-shelf
      :key="index"
      v-for="(shelf, index) in $options.shelfs"
      :padding-size="shelf.paddingSize"
      :top="shelf.top"
      :hangers="shelf.hangers"
      :is-locked="true"
    />

    <is-type-in v-for="(input, key) in inputsData"
          :key="'$i' + key"
          :ref="'$i' + key"
          class="inputs end-with-dot"
          @solved="isGameSolved"
          @clicked="closeAllInputs()"
          :solution="input.solution"
          preText="To je"
          :isLocked="(gameState !== gameStates.interactive)"
          arrowDirection="top"
          :openDirection="input.openDirection"
          :posX="input.pos.x"
          :posY="input.pos.y"></is-type-in>

      <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>

      <is-now-you-try ref="nowYouTry" />
  </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import background from '@/assets/garderoba/stevilke/background.svg'

import { shelfs, inputsData } from './StevilkeData'
import StevilkeShelf from './StevilkeShelf'
import TypeInComponent from '@/components/shared/TypeInComponent.vue'
import NowYouTry from '@/components/shared/NowYouTry'

export default {
  shelfs,
  name: 'is-garderoba-stevilke',
  components: {
    'is-shelf': StevilkeShelf,
    'is-type-in': TypeInComponent,
    'is-now-you-try': NowYouTry
  },
  mixins: [
    GameBasicMixin,
    StoreInputsMixin,
    GameSoundMixin
  ],
  data () {
    return {
      background,
      introAnim$: null,
      inputsData
    }
  },

  methods: {
    isGameSolved () {
      let solved = this.inputs.filter((input) => input.isSolved)
      if (solved.length === this.inputs.length) {
        this.closeAllInputs()
        this.startEnd()
      } else {
        setTimeout(this.closeAllInputs, 1000)
      }
    },

    closeAllInputs () {
      this.inputs.forEach((input) => input.close())
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    resetScene () {
      this.stopIntroAnimation()
      this.inputs.forEach((input) => input.reset())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
      this.nowYouTry.reset()
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()
      this.playIntroAnimation()
    },

    playIntroAnimation () {
      let randomInputIndex = Math.floor(Math.random() * this.inputs.length)
      let randomInput = this.inputs[randomInputIndex]

      this.introAnim$ = randomInput.playSolution$()
        .delay(2000)
        .do(() => randomInput.close())
        .subscribe(
          () => {},
          null,
          () => this.startInteraction())
    },

    startInteraction () {
      this.resetScene()
      this.nowYouTry.animate().subscribe(null, null, () => this.setStateToInteractive())

      Observable.fromEvent(document, 'click')
        .takeWhile(() => this.gameState === this.gameStates.interactive)
        .subscribe((evt) => {
          this.closeAllInputs()
        })
    },
  },

  created () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.nowYouTry = this.$refs.nowYouTry
    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>

</style>
