<template>
  <is-game :background="background" @navigateBack="navigateBack" @navigateForward="navigateForward">
    <div class="board"></div>

    <is-type-in-2
      v-for="(input, key) in gameData"
      class="input end-with-dot"
      :id="'$i-' + key"
      :ref="'$i-' + key"
      :key="key"
      :text="input.text"
      :solution="input.solution"
      :icon="input.glyph"
      :posX="input.pos.x"
      :posY="input.pos.y"
      :isLocked="isLocked"
      :checkSolution="checkSolution"
      showError
      @clicked="openImage"
    />

    <div v-if="showImage" class="images images-border">
        <is-svg-sprite
          v-for="(glyph, key) in glyphs"
          v-show="key === showImage"
          :key="key"
          :ref="key"
          :glyph="glyph"
          class="image"
        />

        <div @click="closeImage" class="close">
            <svg width="28" height="28" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.67 14.24l9.95-9.96a2 2 0 1 0-2.83-2.82l-9.95 9.95-9.95-9.95a2 2 0 1 0-2.83 2.83L11 14.23l-9.95 9.95a2 2 0 1 0 2.83 2.83l9.95-9.95 9.95 9.95a2 2 0 0 0 2.83 0 2 2 0 0 0 0-2.83l-9.95-9.95z"
                      fill="#000444"/>
            </svg>
        </div>
    </div>

    <is-bm-anim
      class="character"
      ref="character"
      key="anim-character"
      :animationData="characterAnim"
      :posX="48"
      :posY="444"
    />

    <is-bubble
      class="bubble left"
      ref="bubble"
      key="bubble"
      :posX="120"
      :posY="290"
    />

    <is-check-or-reset
      @check="onCheckGame"
      @reset="onResetGame"
    />

    <is-end-game-modal
      ref="endModal"
      class="end-modal"
      @back="navigateBack()"
      @forward="navigateForward"
    />
  </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import TypeIn2Component from '@/components/shared/TypeIn2Component'
import CheckOrReset from '@/components/shared/CheckOrReset'

import background from '@/assets/jedilnica/ucilnice/slovnica/table/background.svg'
import poskusiSound from '@/assets/sounds/poizkusi-se-ti.mp3'
import characterAnim from '@/assets/ucilnice/slovnica/table/animations/characterBehindDeskTalking'

import gameData from './TableVpisovanjeData'
import sprites from './TableAssets'

export default {
  name: 'is-table-vpisovanje',
  components: {
    'is-type-in-2': TypeIn2Component,
    'is-check-or-reset': CheckOrReset
  },
  mixins: [
    GameBasicMixin,
    GameUtilsMixin,
    StoreInputsMixin,
    GameSoundMixin
  ],
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return {
      glyphs,
      background,
      characterAnim,
      gameData,
      showImage: '',
      checkSolution: false
    }
  },

  computed: {
    isLocked () {
      return this.gameState !== this.gameStates.interactive || this.isImageOpen
    },

    isImageOpen () {
      return this.showImage.length > 0
    }
  },

  methods: {
    onCheckGame () {
      if (this.gameState === 'interactive') {
        this.checkSolution = true
        this.$nextTick(this.isGameSolved)
      }
    },

    onResetGame () {
      if (this.gameState === 'interactive') {
        this.resetScene()
      }
    },

    isGameSolved () {
      this.checkSolution = false
      let solved = this.inputs.filter((label) => label.isSolved)
      if (solved.length === this.inputs.length) {
        this.startEnd()
      }
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.inputs.forEach((input, key) => input.reset())
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()
      this.playIntroAnimation()
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
      this.bubble.hide()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    playIntroAnimation () {
      let randomInputIndex = Math.floor(Math.random() * this.inputs.length)
      let randomInput = this.inputs[randomInputIndex]

      let charAnim = Observable.zip(
        this.bubble.show$('Zdaj pa poskusi še ti.'),
        this.playSound$(poskusiSound),
        this.character.play$(false, true))
        .do(() => this.bubble.hide())
        .delay(2000)

      this.introAnim$ = randomInput.playSolution$()
        .delay(2000)
        .flatMap(() => charAnim)
        .subscribe(
          () => {},
          null,
          () => this.startInteraction())
    },

    openImage (image) {
      this.showImage = image

      this.imageAnim$ = Observable.timer(2000)
        .subscribe(() => {
          this.closeImage()
        })
    },

    closeImage () {
      if (this.imageAnim$) {
        this.imageAnim$.unsubscribe()
      }
      this.showImage = ''
    }
  },

  created () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.character = this.$refs.character
    this.bubble = this.$refs.bubble

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
    this.closeImage()
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../../styles/layout';

  .board {
    position: absolute;
    top: 96px;
    left: 230px;

    width: 884px;
    height: 476px;

    border: 8px solid #FFECC8;
    border-radius: 4px;

    background-color: #4D4D4F;
    box-shadow: -2px -2px 0px 0px #B9AD95;
  }

  .input {
    width: 250px;
  }

  .images {
    position: absolute;
    left: 404px;
    top: 187px;

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }

  .images-border {
    border: 13px solid #A38A63;
    border-radius: 13px;
    font-size: 0;
  }

  .character,
  .bubble {
    z-index: $character-z-index;
  }
</style>
