<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <div class="board targets-background"></div>

        <div class="board labels-background"></div>

        <is-drop-target v-for="(drop, key) in dropsData"
                        class="drop-target end-with-dot"
                        :id="'$d-' + key"
                        :ref="'$d-' + key"
                        :key="key"
                        :text="drop.text"
                        :matchId="drop.matchId"
                        :icon="drop.glyph"
                        :posX="drop.pos.x"
                        :highlightButton="randomDrop.matchId === drop.matchId && highlightButton"
                        :posY="drop.pos.y"
                        :isLocked="isLocked"
                        :dragging="dragging"
                        @clicked="openImage"></is-drop-target>

        <div class="positioning" ref="positioning">
            <is-label v-for="(label, key) in labelsData"
                      class="white"
                      :id="'$l-' + key"
                      :ref="'$l-' + key"
                      :key="key"
                      :matchId="label.matchId"
                      :text="label.text"
                      :posX="0"
                      :posY="0"
                      :isLocked="isLocked"
                      @dragStarted="onDragStarted"
                      @dragStopped="onDragStopped"></is-label>
        </div>

        <div v-if="showImage" class="images">
            <is-svg-sprite v-for="(glyph, key) in glyphs"
                           v-show="key === showImage"
                           :key="key"
                           :ref="key"
                           :glyph="glyph"
                           class="image"></is-svg-sprite>
            <div @click="closeImage()" class="close"><svg width="28" height="28" xmlns="http://www.w3.org/2000/svg"><path d="M16.67 14.24l9.95-9.96a2 2 0 1 0-2.83-2.82l-9.95 9.95-9.95-9.95a2 2 0 1 0-2.83 2.83L11 14.23l-9.95 9.95a2 2 0 1 0 2.83 2.83l9.95-9.95 9.95 9.95a2 2 0 0 0 2.83 0 2 2 0 0 0 0-2.83l-9.95-9.95z" fill="#000444"/></svg></div>
        </div>

        <is-bm-anim class="character"
                    ref="character"
                    key="anim-character"
                    :animationData="characterAnim"
                    :posX="28"
                    :posY="454"></is-bm-anim>

        <is-bubble class="bubble left"
                   ref="bubble"
                   key="bubble"
                   :posX="80"
                   :posY="290"></is-bubble>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import { TimelineLite } from 'gsap'
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreLabelsMixin from '@/components/shared/mixins/StoreLabelsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import DropTargetComponent from '@/components/shared/DropTargetComponent'

import background from '@/assets/ucilnice/slovnica/table/background.svg'
import poskusiSound from '@/assets/sounds/poizkusi-se-ti.mp3'
import characterAnim from '@/assets/ucilnice/slovnica/table/animations/characterBehindDeskTalking'

import { labelsData, dropsData, lines } from './TablePovezovanjeData'
import sprites from './TableAssets'

export default {
  name: 'is-table-povezovanje-2',
  components: {
    'is-drop-target': DropTargetComponent
  },
  mixins: [
    GameBasicMixin,
    GameSoundMixin,
    StoreLabelsMixin,
    GameUtilsMixin
  ],
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return Object.assign(
      {},
      { glyphs },
      {
        background,
        characterAnim,
        labelsData: {},
        dropsData: {},
        linesData: {},
        randomDrop: {},
        randomLabel: {},
        highlightButton: false,
        dragging: false,
        showImage: ''
      }
    )
  },

  computed: {
    isLocked () {
      return this.gameState !== this.gameStates.interactive || this.isImageOpen
    },

    isImageOpen () {
      return this.showImage.length > 0
    }
  },

  methods: {
    isGameSolved () {
      let solved = this.labels.filter((label) => label.isSolved)
      return solved.length === this.labels.length
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.labels.forEach((label, key) => label.reset())
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.highlightButton = true

      let randomDropIndex = Math.floor(Math.random() * this.drops.length)
      this.randomDrop = this.drops[randomDropIndex]

      this.randomLabel = this.labels.find(label => label.matchId === this.randomDrop.matchId)

      this.introAnim$ = Observable.timer(4000)
        .do(() => {
          this.highlightButton = false

          this.showImage = this.randomDrop.icon
        })
        .delay(3000)
        .do(() => {
          this.isClosedButtonLocked = false

          this.closeImage()
        })
        .delay(500)
        .flatMap(this.animateLabelToBoard$)
        .delay(2000)
        .flatMap(() => Observable.zip(
          this.bubble.show$(this.linesData.poskusi),
          this.playSound$(poskusiSound),
          this.character.play$(false, true)
        ))
        .do(() => this.bubble.hide())
        .delay(2000)
        .subscribe(null, null, () => this.startInteraction())
    },

    animateLabelToBoard$ () {
      return Observable.create((observer) => {
        let introTimeline = new TimelineLite({
          onComplete: () => {
            observer.next()
            observer.complete()
          },
          delay: 0.6,
          paused: true })

        let destination = this.randomDrop.center()
        let labelBounds = this.randomLabel.bounds()

        introTimeline
          .set(this.randomLabel.$el, { 'z-index': 100 })
          .to(this.randomLabel, 2, {
            currentX: destination.x - labelBounds.width / 2,
            currentY: destination.y - labelBounds.height / 2
          })
          .set(this.randomLabel, { isSolved: true })

        introTimeline.play()

        return () => {
          introTimeline.kill()
        }
      })
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
      this.highlightButton = false
      this.showImage = ''
      this.bubble.hide()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    onDragStarted () {
      this.dragging = true
    },

    onDragStopped (dragEl, dragElPos) {
      this.dragging = false

      const hit = this.drops
        .filter((drop) => !drop.isSolved)
        .filter((drop) => this.checkIfInBounds(
          drop.bounds(),
          dragElPos,
          this.screenScale,
          this.screenPosition.x))
        .filter((drop) => {
          return new RegExp(`\\b${drop.matchId}\\b`).test(dragEl.matchId)
        })

      if (hit.length > 0) {
        dragEl.setSolved()
        hit[0].setSolved()

        let bC = hit[0].bounds()
        dragEl.setPosition(
          (bC.x - this.screenPosition.x) / this.screenScale,
          (bC.y - this.screenPosition.y) / this.screenScale
        )

        if (this.isGameSolved()) {
          this.startEnd()
        }
      } else {
        dragEl.moveToStartPosition()
      }
    },

    openImage (image) {
      this.showImage = image

      this.imageAnim$ = Observable.timer(2000)
        .subscribe(() => {
          this.closeImage()
        })
    },

    closeImage () {
      if (this.imageAnim$) {
        this.imageAnim$.unsubscribe()
      }
      this.showImage = ''
    }
  },

  created () {
    this.labelsData = labelsData.get(this.$route.name)
    this.dropsData = dropsData.get(this.$route.name)
    this.linesData = lines.get(this.$route.name)

    this.labelsData = this.shuffleArray(Object.entries(this.labelsData))
      .reduce((acc, curr) => {
        acc[curr[0]] = curr[1]
        return acc
      }, {})

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.drops = Object.keys(this.$refs)
      .filter(val => val.includes('$d'))
      .map(key => this.$refs[key][0])

    this.labels.forEach((label) => {
      let b = label.$el.getBoundingClientRect()
      label.setPosition(
        (b.left - this.screenPosition.x) / this.screenScale,
        (b.top - this.screenPosition.y) / this.screenScale
      )
    })

    this.$refs.positioning.classList.remove('positioning')

    this.character = this.$refs.character
    this.bubble = this.$refs.bubble

    this.startIntroAnimation()
    // this.startInteraction()
  },

  destroyed () {
    this.stopIntroAnimation()
    this.closeImage()
  }
}
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .board {
        background-color: #4D4D4F;

        border: 8px solid #FFECC8;
        border-radius: 4px;

        &.targets-background {
            position: absolute;
            top: 80px;
            left: 152px;

            width: 588px;
            height: 476px;

            box-shadow: -2px -2px 0px 0px #B9AD95;
        }

        &.labels-background {
            position: absolute;
            top: 80px;
            left: 762px;

            width: 470px;
            height: 540px;

            box-shadow: 0 -2px 0px 0px #B9AD95;
        }
    }

    .positioning {
        position: absolute;
        top: 80px;
        left: 762px;

        width: 470px;
        height: 520px;

        display: flex;
        flex-wrap: wrap;

        padding: 14px 14px 14px 10px;
        justify-content: center;
        align-items: center;

        & > div {
            position: static;
            margin: 4px;
        }
    }

    .drop-target {
        width: 168px;
    }

    .images {
        position: absolute;
        left: 404px;
        top: 187px;
        z-index: $ui-z-index;

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
    }

    .character,
    .bubble {
        z-index: $character-z-index;
    }
</style>
