<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <div class="board targets-background"></div>

        <div class="board labels-background"></div>

        <is-drop-target v-for="(drop, key) in dropsData"
                        class="drop-target end-with-dot"
                        :id="'$d-' + key"
                        :ref="'$d-' + key"
                        :key="key"
                        :text="drop.text"
                        :matchId="drop.matchId"
                        :posX="drop.pos.x"
                        :posY="drop.pos.y"
                        :isLocked="isLocked"
                        :dragging="dragging"></is-drop-target>

        <div class="positioning" ref="positioning">
            <is-label v-for="(label, key) in labelsData"
                      class="white"
                      :id="'$l-' + key"
                      :ref="'$l-' + key"
                      :key="key"
                      :matchId="label.matchId"
                      :text="label.text"
                      :posX="0"
                      :posY="0"
                      :isLocked="isLocked"
                      @dragStarted="onDragStarted"
                      @dragStopped="onDragStopped"></is-label>
        </div>

        <is-bm-anim class="character"
                    ref="character"
                    key="anim-character"
                    :animationData="characterAnim"
                    :posX="78"
                    :posY="444"></is-bm-anim>

        <is-bubble class="bubble left"
                   ref="bubble"
                   key="bubble"
                   :posX="120"
                   :posY="290"></is-bubble>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreLabelsMixin from '@/components/shared/mixins/StoreLabelsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import DropTargetComponent from '@/components/shared/DropTargetComponent'

import background from '@/assets/ucilnice/slovnica/table/background.svg'
import poskusiSound from '@/assets/sounds/poizkusi-se-ti.mp3'
import characterAnim from '@/assets/ucilnice/slovnica/table/animations/characterBehindDeskTalking'

import { labelsData, dropsData, lines } from './TablePovezovanjeData'

export default {
  name: 'is-table-povezovanje',
  components: {
    'is-drop-target': DropTargetComponent
  },
  mixins: [
    GameBasicMixin,
    GameSoundMixin,
    StoreLabelsMixin,
    GameUtilsMixin
  ],
  data () {
    return {
      background,
      characterAnim,
      labelsData: {},
      dropsData: {},
      linesData: {},
      dragging: false
    }
  },

  computed: {
    isLocked () {
      return this.gameState !== this.gameStates.interactive || this.isImageOpen
    }
  },

  methods: {
    isGameSolved () {
      let solved = this.labels.filter((label) => label.isSolved)
      return solved.length === this.labels.length
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.labels.forEach((label, key) => label.reset())
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.introAnim$ = Observable.zip(
        this.bubble.show$(this.linesData.poskusi),
        this.playSound$(poskusiSound),
        this.character.play$(false, true))
        .do(() => this.bubble.hide())
        .delay(2000)
        .subscribe(null, null, () => this.startInteraction())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
      this.bubble.hide()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    onDragStarted () {
      this.dragging = true
    },

    onDragStopped (dragEl, dragElPos) {
      this.dragging = false

      const hit = this.drops
        .filter((drop) => !drop.isSolved)
        .filter((drop) => this.checkIfInBounds(
          drop.bounds(),
          dragElPos,
          this.screenScale,
          this.screenPosition.x))
        .filter((drop) => {
          return new RegExp(`\\b${drop.matchId}\\b`).test(dragEl.matchId)
        })

      if (hit.length > 0) {
        dragEl.setSolved()
        hit[0].setSolved()

        let bC = hit[0].bounds()
        dragEl.setPosition(
          (bC.x - this.screenPosition.x) / this.screenScale,
          (bC.y - this.screenPosition.y) / this.screenScale
        )

        if (this.isGameSolved()) {
          this.startEnd()
        }
      } else {
        dragEl.moveToStartPosition()
      }
    }
  },

  created () {
    this.labelsData = labelsData.get(this.$route.name)
    this.dropsData = dropsData.get(this.$route.name)
    this.linesData = lines.get(this.$route.name)

    this.labelsData = this.shuffleArray(Object.entries(this.labelsData))
      .reduce((acc, curr) => {
        acc[curr[0]] = curr[1]
        return acc
      }, {})

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.drops = Object.keys(this.$refs)
      .filter(val => val.includes('$d'))
      .map(key => this.$refs[key][0])

    this.labels.forEach((label) => {
      let b = label.$el.getBoundingClientRect()
      label.setPosition(
        (b.left - this.screenPosition.x) / this.screenScale,
        (b.top - this.screenPosition.y) / this.screenScale
      )
    })

    this.$refs.positioning.classList.remove('positioning')

    this.character = this.$refs.character
    this.bubble = this.$refs.bubble

    this.startIntroAnimation()
    // this.startInteraction()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .board {
        background-color: #4D4D4F;

        border: 8px solid #FFECC8;
        border-radius: 4px;

        &.targets-background {
            position: absolute;
            top: 128px;
            left: 152px;

            width: 588px;
            height: 370px;

            box-shadow: -2px -2px 0px 0px #B9AD95;
        }

        &.labels-background {
            position: absolute;
            top: 95px;
            left: 762px;

            width: 470px;
            height: 520px;

            box-shadow: 0 -2px 0px 0px #B9AD95;
        }
    }

    .positioning {
        position: absolute;
        top: 95px;
        left: 762px;

        width: 470px;
        height: 520px;

        display: flex;
        flex-wrap: wrap;

        padding: 14px 14px 14px 10px;
        justify-content: center;
        align-items: center;

        & > div {
            position: static;
            margin: 4px;
        }
    }

    .drop-target {
        width: 168px;
    }

    .character,
    .bubble {
        z-index: $character-z-index;
    }
</style>
