<template>
  <div class="avla">
    <is-svg-sprite class="background" :glyph="background"></is-svg-sprite>

    <is-button @clicked="goToUcilnice()"
                class="btn-ucilnica"
                v-show="ucilnicaOpened"
                key="btn-ucilnica"
                :posX="593"
                :posY="460">Vstopi</is-button>

    <is-button @clicked="goToJedilnica()"
                class="btn-jedilnica"
                v-show="jedilnicaOpened"
                key="btn-jedilnica"
                :posX="600"
                :posY="200">Vstopi</is-button>

    <div class="sign">Garderoba</div>

    <is-button @clicked="goToGarderoba()"
                class="btn-garderoba"
                key="btn-garderoba"
                :posX="412"
                :posY="440">Vstopi</is-button>


    <is-svg-sprite
      @click.native="showUcilnica"
      :class="ucilnicaClass"
      :glyph="ucilnicaOpen"
    />

    <is-svg-sprite
      @click.native="showJedilnica"
      :class="jedilnicaClass"
      :glyph="jedilnicaOpen"
    />

    <is-svg-sprite class="ograja" :glyph="ograja"></is-svg-sprite>
    <is-svg-sprite class="otroci" :glyph="otroci"></is-svg-sprite>
  </div>
</template>

<script>
import SvgSprite from '@/components/core/SvgSprite.vue'
import Button from '@/components/shared/ButtonComponent.vue'

import background from '@/assets/avla/background.svg'
import ograja from '@/assets/avla/ograja.svg'
import otroci from '@/assets/avla/otroci.svg'

import ucilnicaOpen from '@/assets/avla/ucilnica-open.svg'
import jedilnicaOpen from '@/assets/avla/jedilnica-open.svg'

export default {
  components: {
    'is-svg-sprite': SvgSprite,
    'is-button': Button
  },
  name: 'is-intro-animation',
  data () {
    return {
      background,
      ograja,
      otroci,
      ucilnicaOpen,
      jedilnicaOpen,
      jedilnicaOpened: false,
      ucilnicaOpened: false
    }
  },
  computed: {
    forwardRoutes () {
      return this.$store.state.sceneRoutes.forwardRoutes
    },
    jedilnicaClass () {
      return [
        'jedilnica',
        this.jedilnicaOpened ? 'jedilnica-opened' : 'jedilnica-closed'
      ]
    },
    ucilnicaClass () {
      return [
        'ucilnica',
        this.ucilnicaOpened ? 'ucilnica-opened' : 'ucilnica-closed'
      ]
    }
  },

  methods: {
    goToUcilnice () {
      const routes = this.forwardRoutes.get(this.$route.name)
      this.$router.push({ name: routes.ucilnice })
    },

    goToJedilnica () {
      const routes = this.forwardRoutes.get(this.$route.name)
      this.$router.push({ name: routes.jedilnica })
    },

    goToGarderoba () {
      const routes = this.forwardRoutes.get(this.$route.name)
      this.$router.push({ name: routes.garderoba })
    },

    showUcilnica () {
      this.ucilnicaOpened = true
    },

    showJedilnica () {
      this.jedilnicaOpened = true
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../styles/layout';

  .avla {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .ograja {
    position: absolute;
    top: 266px;
    left: 109px;
  }

  .otroci {
    position: absolute;
    top: 474px;
    left: 170px;
  }

  /* Doors */

  .ucilnica,
  .jedilnica {
    position: absolute;

    &-opened {
      opacity: 1;
    }

    &-closed {
      cursor: pointer;
      opacity: 0;
      z-index: $ui-z-index
    }
  }

  .ucilnica {
    top: 425px;
    left: 587px;
  }

  .jedilnica {
    top: 160px;
    left: 492px;
  }

  /* Buttons */

  .btn-ucilnica,
  .btn-jedilnica,
  .btn-garderoba {
    z-index: $ui-z-index;
  }

  .sign {
    background-color: #e3f4fc;
    border: 2px solid #7b6084;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    left: 405px;
    padding: 12px 15px;
    position: absolute;
    top: 390px;
  }
</style>
