<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward(startYouTryAnimation)">
        <is-interactive-target v-for="(target, key) in targetsData"
                               :id="'$t-' + key"
                               :ref="'$t-' + key"
                               :key="key"
                               :matchId="target.matchId"
                               :glyph="glyphs[target.glyph]"
                               :isLocked="gameState !== gameStates.interactive"
                               :posX="target.pos.x"
                               :posY="target.pos.y"></is-interactive-target>

        <div class="positioning" ref="positioning">
            <is-label v-for="(label, key) in labelsData"
                      :id="'$l-' + key"
                      :ref="'$l-' + key"
                      :key="key"
                      :hideOnSolved="true"
                      :matchId="label.matchId"
                      :animateTo="'$t-' + label.animateTo"
                      :text="label.text"
                      :posX="0"
                      :posY="0"
                      label-size="sm"
                      :isLocked="gameState !== gameStates.interactive"
                      @dragStopped="onDragStopped"></is-label>
        </div>

        <is-now-you-try selectedSound="color" text="Katera barva je to?" ref="question" />
        <is-now-you-try ref="nowYouTry" />

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreLabelsMixin from '@/components/shared/mixins/StoreLabelsMixin'
import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
import AnimationsLabelsMixin from '@/components/shared/mixins/AnimationsLabelsMixin'

import background from '@/assets/garderoba/barve/background.svg'

import sprites from './BarveAssets'
import sounds from './BarveSounds'
import { targetsData, labelsData } from './BarveData'

import NowYouTry from '@/components/shared/NowYouTry'

export default {
  name: 'is-garderoba-barve',
  mixins: [
    GameBasicMixin,
    StoreLabelsMixin,
    StoreTargetsMixin,
    GameUtilsMixin,
    AnimationsLabelsMixin
  ],
  components: {
    'is-now-you-try': NowYouTry
  },
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return Object.assign(
      {},
      { glyphs },
      {
        background: background,
        targetsData: {},
        labelsData: {}
      }
    )
  },

  methods: {
    onDragStopped (dragEl, dragElPos) {
      let target = this.getTargetIfMatch(this.targets, dragEl.matchId, dragElPos)

      if (target) {
        target.setSolved()
        dragEl.setSolved()
        if (this.isGameSolved()) {
          this.startEnd()
        }
      } else {
        dragEl.moveToStartPosition()
      }
    },

    isGameSolved () {
      let solved = this.labels.filter((label) => label.isSolved)
      return solved.length === this.labels.length
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.targets.forEach((target) => target.reset())
      this.labels.forEach((label, key) => label.reset())
      this.question.reset()
      this.nowYouTry.reset()
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.introAnim$ = Observable
        .timer(1000)
        .flatMap(() => this.question.animate())
        .flatMap(() => this.animateLabelsToTargetsWithSound$(this.labels, this.$refs, sounds))
        .flatMap(() => this.nowYouTry.animate())
        .subscribe(null, null, this.startInteraction)
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
    },

    startYouTryAnimation () {
      this.question.cancel()

      if (!this.nowYouTry.isAnimating) {
        this.nowYouTry.animate()
          .subscribe(null, null, this.startInteraction)
      }
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    }
  },

  created () {
    this.targetsData = JSON.parse(JSON.stringify(targetsData))
    this.labelsData = JSON.parse(JSON.stringify(labelsData))

    this.labelsData = this.shuffleArray(Object.entries(this.labelsData))
      .reduce((acc, curr) => {
        acc[curr[0]] = curr[1]
        return acc
      }, {})

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.question = this.$refs.question
    this.nowYouTry = this.$refs.nowYouTry

    this.labels.forEach((label) => {
      let b = label.$el.getBoundingClientRect()
      label.setPosition(
        (b.left - this.screenPosition.x) / this.screenScale,
        (b.top - this.screenPosition.y) / this.screenScale
      )
    })

    this.$refs.positioning.classList.remove('positioning')

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../styles/layout';

  .positioning {
    position: absolute;
    top: 585px;
    left: 0px;

    width: 100%;
    height: 140px;

    display: flex;
    flex-wrap: wrap;

    padding: 14px 14px 14px 10px;
    justify-content: center;
    align-items: center;

    & > div {
      position: static;
      margin: 4px;
    }
  }
</style>
