<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-bm-anim class="ana"
                    ref="ana"
                    key="anim-ana"
                    :animationData="anaGovoriAnim"
                    :posX="566"
                    :posY="432"></is-bm-anim>

        <is-bm-anim class="kuhar"
                    :style="isKuharHighlight ? 'filter: drop-shadow(0px 0px 10px limegreen)' : null"
                    ref="kuhar"
                    key="anim-kuhar"
                    :animationData="kuharGovoriAnim"
                    :posX="724"
                    :posY="274"></is-bm-anim>

        <is-svg-sprite-pos :glyph="kuharica"
                           :style="isKuharicaHighlight ? 'filter: drop-shadow(0px 0px 10px limegreen)' : null"
                           :posX="464"
                           :posY="304"></is-svg-sprite-pos>

        <is-bubble class="ana right"
                   ref="bbAna1"
                   key="bb-ana1"
                   :posX="402"
                   :posY="178"></is-bubble>

        <is-bubble class="ana right"
                   ref="bbAna2"
                   key="bb-ana2"
                   :posX="442"
                   :posY="178"></is-bubble>

        <is-bubble class="ana left"
                   ref="bbAna3"
                   key="bb-ana3"
                   :posX="579"
                   :posY="168"></is-bubble>

        <is-bubble class="ana right"
                   ref="bbAna4"
                   key="bb-ana4"
                   :posX="442"
                   :posY="178"></is-bubble>

        <is-bubble class="bb-kuhar left"
                   ref="bbKuhar"
                   key="bb-kuhar"
                   :posX="794"
                   :posY="174"></is-bubble>

    </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import background from '@/assets/jedilnica/kuhinja/background.svg'
import kuharica from '@/assets/jedilnica/kuhinja/kuharica.svg'
import anaGovoriAnim from '@/assets/jedilnica/kuhinja/animations/ana-govori-to-je-kuhinja.json'
import kuharGovoriAnim from '@/assets/jedilnica/kuhinja/animations/kuhar-dober-dan.json'

import { lines } from './KuhinjaData'
import sounds from './KuhinjaSounds'

export default {
  name: 'is-kuhinja-container',
  mixins: [
    GameBasicMixin,
    GameSoundMixin
  ],
  components: {
  },
  data () {
    return {
      background: background,
      anaGovoriAnim: anaGovoriAnim,
      kuharGovoriAnim: kuharGovoriAnim,
      kuharica: kuharica,
      isKuharHighlight: false,
      isKuharicaHighlight: false
    }
  },

  methods: {
    startIntroAnimation () {
      this.introAnim$ = Observable.timer(2000)
        .flatMap(() => Observable.zip(
          this.bbAna1.show$(lines.ana1),
          this.ana.play$(false, true),
          this.playSound$(sounds.ana1))
          .do(() => this.bbAna1.hide()))
        .flatMap(() => Observable.timer(1000))
        .flatMap(() => Observable.zip(
          this.bbAna2.show$(lines.ana2),
          this.ana.play$(false, true),
          this.playSound$(sounds.ana2),
          Observable.create((observer) => {
            this.isKuharHighlight = true;
            observer.next()
            observer.complete()
          }))
          .do(() => {
            this.isKuharHighlight = false;
            return this.bbAna2.hide()
          }))
        .flatMap(() => Observable.timer(1000))
        .flatMap(() => Observable.zip(
          this.bbAna3.show$(lines.ana3),
          this.ana.play$(false, true),
          this.playSound$(sounds.ana3),
          Observable.create((observer) => {
            this.isKuharicaHighlight = true;
            observer.next()
            observer.complete()
          }))
          .do(() => {
            this.isKuharicaHighlight = false;
            return this.bbAna3.hide()
          }))
        .flatMap(() => Observable.timer(1000))
        .flatMap(() => Observable.zip(
          this.bbAna4.show$(lines.ana4),
          this.ana.play$(false, true),
          this.playSound$(sounds.ana4))
          .do(() => this.bbAna4.hide()))
        .flatMap(() => Observable.timer(1000))
        .flatMap(() => Observable.zip(
          this.bbKuhar.show$(lines.kuhar),
          this.kuhar.play$(false, true),
          this.playSound$(sounds.kuhar))
          .do(() => this.bbKuhar.hide()))
        .delay(2000)
        .subscribe(null, null, () => this.redirect())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }

      if (this.sound) {
        this.sound.unload()
      }

      this.bbAna1.hide()
      this.bbAna2.hide()
      this.bbAna3.hide()
      this.bbAna4.hide()
      this.bbKuhar.hide()
    },

    animSegment (start, end, anim, bubble, text) {
      return Observable.zip(
        bubble.show$(text),
        anim.playSegment$(start, end))
        .do(() => bubble.hide())
    },

    redirect () {
      this.$router.push({ name: 'JedilniPripomockiPovezovanje' })
    },

    navigateForward () {
      this.redirect()
    }
  },

  created () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.ana = this.$refs.ana
    this.kuhar = this.$refs.kuhar
    this.bbAna1 = this.$refs.bbAna1
    this.bbAna2 = this.$refs.bbAna2
    this.bbAna3 = this.$refs.bbAna3
    this.bbAna4 = this.$refs.bbAna4
    this.bbKuhar = this.$refs.bbKuhar

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style scoped>
  @import '../../../styles/layout.scss';
</style>
