.loader {
  margin: 0 auto;
  max-height: 750px;
  max-width: 1334px;
  position: relative;
}

.loader::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 56.2%;
}

.loader::after {
  content: "";
  display: table;
  clear: both;
}

.loader-img {
  animation: loading 1s infinite forwards linear;
  left: 50%;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  width: 80px;
}

@keyframes loading {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}
