<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-interactive-target-blank v-for="(target, key) in targetsData"
                               :id="'$t-' + key"
                               :ref="'$t-' + key"
                               :key="key"
                               :matchId="target.matchId"
                               :isLocked="gameState !== gameStates.interactive"
                               :posX="target.pos.x"
                               :posY="target.pos.y"
                               :width="target.size.w"
                               :height="target.size.h"></is-interactive-target-blank>

        <is-bm-anim class="character"
                    ref="character"
                    key="anim-character"
                    :animationData="characterAnim"
                    :posX="122"
                    :posY="440"></is-bm-anim>

        <is-bubble class="bubble left"
                   ref="bubble"
                   key="bubble"
                   :posX="160"
                   :posY="270"></is-bubble>

        <div class="positioning" ref="positioning">
          <is-label v-for="(label, key) in labelsData"
                    :id="'$l-' + key"
                    :ref="'$l-' + key"
                    :key="key"
                    labelSize="sm"
                    :transparent="dragEl !== null"
                    :hideOnSolved="true"
                    :matchId="label.matchId"
                    :animateTo="'$t-' + label.animateTo"
                    :text="label.text"
                    :posX="0"
                    :posY="0"
                    :isLocked="gameState !== gameStates.interactive"
                    @dragStarted="onDragStarted"
                    @dragStopped="onDragStopped"></is-label>
        </div>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreLabelsMixin from '@/components/shared/mixins/StoreLabelsMixin'
import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
import AnimationsLabelsMixin from '@/components/shared/mixins/AnimationsLabelsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import background from '@/assets/ucilnice/besede/kajDelajo/background.svg'
import characterAnim from '@/assets/ucilnice/besede/kajDelajo/animations/jakob-govori-kajdela.json'

import { targetsData, labelsData, linesData } from './KajDelajoData'
import sounds from './KajDelajoSounds'
import InteractiveTargetBlankComponentVue from '@/components/shared/InteractiveTargetBlankComponent.vue'

export default {
  name: 'is-besede-kaj-delajo',
  mixins: [
    GameBasicMixin,
    StoreLabelsMixin,
    StoreTargetsMixin,
    GameUtilsMixin,
    AnimationsLabelsMixin,
    GameSoundMixin
  ],
  components: {
    'is-interactive-target-blank': InteractiveTargetBlankComponentVue
  },
  data () {
    return {
      background,
      targetsData: {},
      labelsData: {},
      linesData: {},
      characterAnim: characterAnim,
      currentScreen: 1,
      dragEl: null
    }
  },

  methods: {
    onDragStopped (dragEl, dragElPos) {
      this.dragEl = null
      let target = this.getTargetIfMatch(this.targets, dragEl.matchId, dragElPos)

      if (target) {
        target.setSolved()
        dragEl.setSolved()
        if (this.isGameSolved()) {
          this.startEnd()
        }
      } else {
        dragEl.moveToStartPosition()
      }
    },

    onDragStarted (dragEl, dragElPos) {
      this.dragEl = dragEl
    },

    isGameSolved () {
      let solved = this.labels.filter((label) => label.isSolved)
      return solved.length === this.labels.length
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.targets.forEach((target) => target.reset())
      this.labels.forEach((label) => label.reset())
      this.bubble.hide()
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.introAnim$ = Observable.zip(
        this.bubble.show$(this.linesData.kaj),
        this.character.play$(false, true),
        this.playSound$(sounds.kajDelajo))
        .do(() => this.bubble.hide())
        .flatMap(() => this.animateLabelsToTargetsWithSound$(this.labels, this.$refs, sounds))
        .delay(300)
        .flatMap(() => Observable.zip(
          this.bubble.show$(this.linesData.poskusi),
          this.character.play$(false, true),
          this.playSound$(sounds.poskusi))
          .do(() => this.bubble.hide()))
        .subscribe(null, null, () => this.startInteraction())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
      this.bubble.hide()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    }
  },

  created () {
    this.targetsData = targetsData.get(this.$route.name)
    this.labelsData = labelsData.get(this.$route.name)
    this.linesData = linesData.get(this.$route.name)

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.labels.forEach((label) => {
      let b = label.$el.getBoundingClientRect()
      label.setPosition(
        (b.left - this.screenPosition.x) / this.screenScale,
        (b.top - this.screenPosition.y) / this.screenScale
      )
    })

    this.$refs.positioning.classList.remove('positioning')

    this.character = this.$refs.character
    this.bubble = this.$refs.bubble

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .positioning {
        position: absolute;
        top: 550px;
        left: 0;

        width: 1334px;
        height: 200px;

        display: flex;
        flex-wrap: wrap;

        padding: 14px 14px 14px 10px;
        justify-content: center;
        align-items: center;

        & > div {
            position: static;
            margin: 4px;
        }
    }

    .character {
        pointer-events: none;
    }
</style>
