<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward(startYouTryAnimation)">
        <is-interactive-target v-for="(glyph, key) in glyphs"
                               :id="'$t-' + key"
                               :ref="'$t-' + key"
                               :key="key"
                               :matchId="targetsData[key].matchId"
                               :glyph="glyph"
                               :isLocked="(gameState !== gameStates.interactive)"
                               :posX="targetsData[key].pos.x"
                               :posY="targetsData[key].pos.y"></is-interactive-target>

        <div class="positioning" ref="positioning">
            <is-label v-for="(label, key) in labelsData"
                      :id="'$l-' + key"
                      :ref="'$l-' + key"
                      :key="key"
                      :hideOnSolved="true"
                      :matchId="label.matchId"
                      :animateTo="'$t-' + label.animateTo"
                      :text="label.text"
                      :posX="0"
                      :posY="0"
                      :isLocked="gameState !== gameStates.interactive"
                      @dragStopped="onDragStopped"></is-label>
        </div>

        <is-now-you-try ref="nowYouTry" />

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import Mixin from './PotrebscineMixin'

import background from '@/assets/ucilnice/besede/potrebscine/screen-3/background.svg'
import sprites from './PotrebscineS3Assets'
import NowYouTry from '@/components/shared/NowYouTry'

import sounds from './PotrebscineS3Sounds'

export default {
  name: 'is-potrebscine-s3',
  mixins: [
    Mixin
  ],
  components: {
    'is-now-you-try': NowYouTry
  },
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return Object.assign(
      {},
      { glyphs },
      {
        background,
        sounds
      }
    )
  }
}
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .positioning {
        position: absolute;
        top: 496px;
        left: 0;

        width: 1334px;
        height: 254px;

        display: flex;
        flex-wrap: wrap;

        padding: 14px 14px 14px 10px;
        justify-content: center;
        align-items: center;

        & > div {
            position: static;
            margin: 4px;
        }
    }

    .jakob {
        z-index: $character-z-index;
    }

    .bubble {
        z-index: $character-z-index;
    }
</style>
