<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward(startYouTryAnimation)">
        <is-interactive-target v-for="(glyph, key) in glyphs"
                               :id="'$t-' + key"
                               :ref="'$t-' + key"
                               :key="key"
                               :matchId="targetsData[key].matchId"
                               :glyph="glyph"
                               :isLocked="gameState !== gameStates.interactive"
                               :size="{ width: targetsData[key].width, height: targetsData[key].height }"
                               :posX="targetsData[key].pos.x"
                               :posY="targetsData[key].pos.y"></is-interactive-target>

        <div class="positioning" ref="positioning">
            <is-label v-for="(label, key) in labelsData"
                      :id="'$l-' + key"
                      :ref="'$l-' + key"
                      :key="key"
                      class="mediun-font"
                      :hideOnSolved="true"
                      :matchId="label.matchId"
                      :animateTo="'$t-' + label.animateTo"
                      :text="label.text"
                      :posX="0"
                      :posY="0"
                      :isLocked="gameState !== gameStates.interactive"
                      @dragStopped="onDragStopped"></is-label>
        </div>

        <is-now-you-try ref="nowYouTry" />

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreLabelsMixin from '@/components/shared/mixins/StoreLabelsMixin'
import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
import AnimationsLabelsMixin from '@/components/shared/mixins/AnimationsLabelsMixin'

import background from '@/assets/jedilnica/jedilnica/zelenjava/background.svg'

import sprites from './ZelenjavaPovezovanjeAssets'
import sounds from './ZelenjavaPovezovanjeSounds'
import { targetsData, labelsData } from './ZelenjavaPovezovanjeData'

import NowYouTry from '@/components/shared/NowYouTry'

export default {
  name: 'is-zelenjava-povezovanje',
  mixins: [
    GameBasicMixin,
    StoreLabelsMixin,
    StoreTargetsMixin,
    GameUtilsMixin,
    AnimationsLabelsMixin
  ],
  components: {
    'is-now-you-try': NowYouTry,
  },
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return Object.assign(
      {},
      { glyphs },
      {
        background: background,
        targetsData: {},
        labelsData: {}
      }
    )
  },

  methods: {
    onDragStopped (dragEl, dragElPos) {
      let target = this.getTargetIfMatch(this.targets, dragEl.matchId, dragElPos)

      if (target) {
        target.setSolved()
        dragEl.setSolved()
        if (this.isGameSolved()) {
          this.startEnd()
        }
      } else {
        dragEl.moveToStartPosition()
      }
    },

    isGameSolved () {
      let solved = this.labels.filter((label) => label.isSolved)
      return solved.length === this.labels.length
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.targets.forEach((target) => target.reset())
      this.labels.forEach((label, key) => label.reset())
      this.nowYouTry.reset()
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.introAnim$ = this.animateLabelsToTargetsWithSound$(this.labels, this.$refs, sounds)
        .subscribe(null, null, this.startYouTryAnimation)
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
    },

    startYouTryAnimation () {
      if (!this.nowYouTry.isAnimating) {
        this.nowYouTry.animate()
          .subscribe(null, null, this.startInteraction)
      }
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)

      this.$store.dispatch('gameCompleted', 'zelenjava')
    }
  },

  created () {
    this.targetsData = targetsData.get(this.$route.name)
    this.labelsData = labelsData.get(this.$route.name)

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.nowYouTry = this.$refs.nowYouTry

    this.labels.forEach((label) => {
      let b = label.$el.getBoundingClientRect()
      label.setPosition(
        (b.left - this.screenPosition.x) / this.screenScale,
        (b.top - this.screenPosition.y) / this.screenScale
      )
    })

    this.$refs.positioning.classList.remove('positioning')

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .positioning {
      position: absolute;
        top: 460px;
        left: 0;

        width: 100%;
        height: 290px;

        display: flex;
        flex-wrap: wrap;

        padding: 14px 14px 14px 10px;
        justify-content: center;
        align-items: center;

        & > div {
            position: static;
            margin: 4px;
        }
    }
</style>
