<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-board-target id="b1"
                         title="Tabla -"
                         subtitle="Moški spol"
                         shadowDirection="left"
                         ref="$b-0"
                         :isLocked="!dragging"
                         :posX="90"
                         :posY="65"></is-board-target>
        <is-board-target id="b2"
                         title="Tabla -A"
                         subtitle="Ženski spol"
                         shadowDirection="middle"
                         ref="$b-1"
                         :isLocked="!dragging"
                         :posX="496"
                         :posY="65"></is-board-target>
        <is-board-target id="b3"
                         title="Tabla -O"
                         subtitle="Srednji spol"
                         shadowDirection="right"
                         ref="$b-2"
                         :isLocked="!dragging"
                         :posX="902"
                         :posY="65"></is-board-target>

        <is-svg-sprite :glyph="alex" class="alex"></is-svg-sprite>
        <is-svg-sprite :glyph="ana" class="ana"></is-svg-sprite>
        <is-svg-sprite :glyph="maja" class="maja"></is-svg-sprite>

        <div class="positioning" ref="positioning">
            <is-label v-for="(label, key) in activeLabelsData"
                      class="white"
                      :id="'$l-' + key"
                      :ref="'$l-' + key"
                      :key="key"
                      :matchId="label.matchId"
                      :text="label.text"
                      :posX="0"
                      :posY="0"
                      :isLocked="gameState !== gameStates.interactive"
                      @dragStarted="onDragStarted"
                      @dragStopped="onDragStopped"></is-label>
        </div>

        <is-now-you-try ref="nowYouTry" />

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import { TimelineLite } from 'gsap'
import { Observable } from 'rxjs'

import BoardTargetComponent from './BoardTargetComponent'
import NowYouTry from '@/components/shared/NowYouTry'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreLabelsMixin from '@/components/shared/mixins/StoreLabelsMixin'
import AnimationsLabelsMixin from '@/components/shared/mixins/AnimationsLabelsMixin'

import background from '@/assets/ucilnice/slovnica/table-spoli/background.svg'
import alex from '@/assets/ucilnice/slovnica/table-spoli/alex.svg'
import ana from '@/assets/ucilnice/slovnica/table-spoli/ana.svg'
import maja from '@/assets/ucilnice/slovnica/table-spoli/maja.svg'

import { labelsData } from './TableSpoliData'

export default {
  name: 'is-table-spoli',
  components: {
    'is-board-target': BoardTargetComponent,
    'is-now-you-try': NowYouTry
  },
  mixins: [
    GameBasicMixin,
    StoreLabelsMixin,
    GameUtilsMixin,
    AnimationsLabelsMixin
  ],
  data () {
    return {
      background,
      alex,
      ana,
      maja,
      activeLabelsData: {},
      dragging: false,
      boards: []
    }
  },

  methods: {
    isGameSolved () {
      let solved = this.labels.filter((label) => label.isSolved)
      return solved.length === this.labels.length
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.labels.forEach((label, key) => label.reset())
      this.nowYouTry.reset()
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      let labelsToAnimate = this.getRandomLabelsToAnimate(this.labels)

      this.introAnim$ = this.animateLabelsToBoards$(labelsToAnimate, this.boards)
        .delay(2000)
        .flatMap(() => this.nowYouTry.animate())
        .subscribe(null, null, () => this.startInteraction())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }

      this.nowYouTry.reset()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    animateLabelsToBoards$ (labels, boards) {
      return Observable.create((observer) => {
        let introTimeline = new TimelineLite({
          onComplete: () => {
            observer.next()
            observer.complete()
          },
          delay: 0.6,
          paused: true })

        labels.forEach((label, index) => {
          let destination = boards[index].center()
          let labelBounds = label.bounds()

          introTimeline
            .set(label.$el, { 'z-index': 100 })
            .to(label, 2, {
              currentX: destination.x - labelBounds.width / 2,
              currentY: destination.y - labelBounds.height / 2
            })
            .set(label, { isSolved: true })
        })

        introTimeline.play()

        return () => {
          introTimeline.kill()
        }
      })
    },

    getRandomLabelsToAnimate (labels) {
      let b1 = labels.filter((label) => label.matchId === 'b1')
      let b2 = labels.filter((label) => label.matchId === 'b2')
      let b3 = labels.filter((label) => label.matchId === 'b3')

      let b1RandomIndex = Math.floor(Math.random() * b1.length)
      let b2RandomIndex = Math.floor(Math.random() * b2.length)
      let b3RandomIndex = Math.floor(Math.random() * b3.length)

      return [
        b1[b1RandomIndex],
        b2[b2RandomIndex],
        b3[b3RandomIndex]
      ]
    },

    onDragStarted () {
      this.dragging = true
    },

    onDragStopped (dragEl, dragElPos) {
      this.dragging = false

      const hit = this.boards
        .filter((board) => this.checkIfInBounds(
          board.bounds(),
          dragElPos,
          this.screenScale,
          this.screenPosition.x))
        .filter((board) => board.$el.id === dragEl.matchId)

      if (hit.length > 0) {
        dragEl.setSolved()
        if (this.isGameSolved()) {
          this.startEnd()
        }
      } else {
        dragEl.moveToStartPosition()
      }
    }
  },

  created () {
    this.activeLabelsData = labelsData.get(this.$route.name)

    this.activeLabelsData = this.shuffleArray(Object.entries(this.activeLabelsData))
      .reduce((acc, curr) => {
        acc[curr[0]] = curr[1]
        return acc
      }, {})

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.nowYouTry = this.$refs.nowYouTry

    this.labels.forEach((label) => {
      let b = label.$el.getBoundingClientRect()
      label.setPosition(
        (b.left - this.screenPosition.x) / this.screenScale,
        (b.top - this.screenPosition.y) / this.screenScale
      )
    })

    this.$refs.positioning.classList.remove('positioning')

    this.boards = Object.keys(this.$refs)
      .filter(val => val.includes('$b'))
      .map(key => this.$refs[key])

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .positioning {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 560px;
        left: 0;
        padding: 0 14px;
        justify-content: center;
        align-items: center;

        & > div {
            position: static;
            margin: 4px;
        }
    }

    .alex,
    .ana,
    .maja {
        position: absolute;
        pointer-events: none;
    }

    .alex {
        top: 318px;
        left: 40px;
    }

    .ana {
        top: 335px;
        left: 434px;
    }

    .maja {
        top: 324px;
        left: 838px;
    }
</style>
