<template>
  <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
    <is-interactive-target v-for="(target, key) in targetsData"
                            :id="'$t-' + key"
                            :ref="'$t-' + key"
                            :key="key"
                            :matchId="target.matchId"
                            :glyph="glyphs[target.glyph]"
                            :isLocked="gameState !== gameStates.interactive"
                            :posX="target.pos.x"
                            :posY="target.pos.y"></is-interactive-target>

    <is-svg-sprite class="jakob-obraz" :glyph="jakobObraz"></is-svg-sprite>
    <is-svg-sprite class="maja-obraz" :glyph="majaObraz"></is-svg-sprite>

    <is-draggable v-for="(item, key) in itemsData"
                  :id="'$d-' + key"
                  :ref="'$d-' + key"
                  :key="key"
                  :matchId="item.matchId"
                  :animateTo="'$t-' + item.animateTo"
                  :glyph="getGlyph(key, item)"
                  :posX="item.pos.x"
                  :posY="item.pos.y"
                  :sizeW="item.width"
                  :sizeH="item.height"
                  :class="getClass(key)"
                  :z-index="item.zIndex"
                  @dragStopped="onDragStopped"></is-draggable>

    <is-type-in v-for="(input, key) in inputsData"
                v-show="showInput === key"
                :key="'$i-' + key"
                :ref="'$i-' + key"
                :id="itemsMaja.includes(key) ? input.posMaja.x : input.posJakob.x"
                class="inputs end-with-dot"
                :solution="input.solution"
                :preText="input.preText"
                :isLocked="(gameState !== gameStates.interactive)"
                :posDynamic="true"
                :arrowDirection="input.arrowDirection"
                :openDirection="input.openDirection"
                @solved="onTypeInSolved"
                :canToggle="false"
                :posX="getInputPosX(input, key)"
                :posY="input[itemsMaja.includes(key) ? 'posMaja' : 'posJakob'].y"></is-type-in>


    <is-now-you-try selectedSound="dress2" text="Obleci Majo in Jakoba!" ref="question" />

    <is-end-game-modal ref="endModal"
                        class="end-modal"
                        @back="navigateBack()"
                        @forward="navigateForward()"></is-end-game-modal>
  </is-game>
</template>

<script>
import { Observable } from 'rxjs'
import { TimelineLite } from 'gsap'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import DraggableComponent from '@/components/shared/DraggableComponent'
import TypeInComponent from '@/components/shared/TypeInComponent.vue'
import NowYouTry from '@/components/shared/NowYouTry'

import background from '@/assets/garderoba/obleci/background.svg'
import majaObraz from '@/assets/garderoba/obleci/maja-obraz.svg'
import jakobObraz from '@/assets/garderoba/obleci/jakob-obraz.svg'

import introAnim from '@/assets/jedilnica/kosare/sadnaKupa/animations/pripravi-svojo-sadno-kupo.json'
import gameAnim from '@/assets/jedilnica/kosare/sadnaKupa/animations/pripravi-svojo-sadno-kupo-poskusi-se-ti.json'

import sprites from './ObleciAssets'
import { targetsData, itemsData, inputsData } from './ObleciData'

export default {
  name: 'is-sadna-kupa-sestavi',
  mixins: [
    GameBasicMixin,
    GameUtilsMixin,
    StoreInputsMixin,
    StoreTargetsMixin,
    GameSoundMixin
  ],
  components: {
    'is-draggable': DraggableComponent,
    'is-type-in': TypeInComponent,
    'is-now-you-try': NowYouTry
  },
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return {
      glyphs: glyphs,
      background: background,
      introAnim: introAnim,
      gameAnim: gameAnim,
      targetsData: {},
      itemsData: {},
      inputsData: {},
      showInput: '',
      activeItems: [],
      bowlDropPosition: { x: 378, y: 506 },
      itemsMaja: [],
      itemsJakob: [],
      partsMaja: ['head', 'neck', 'feet', 'hands', 'legs', 'body', 'body-over'],
      partsJakob: ['head', 'neck', 'feet', 'hands', 'legs', 'body', 'body-over'],
      majaObraz,
      jakobObraz
    }
  },

  computed: {
    canInteract () {
      return this.gameState !== this.gameStates.interactive
    }
  },

  methods: {
    addBodyClass (className) {
      document.body.classList.add(className)
    },
    setBodyClass (classNames) {
      document.body.classList = classNames
    },
    getPosKey (key) {
      return this.itemsMaja.includes(key) ? 'posMaja' : 'posJakob'
    },
    getInputPosX (input, key) {
      return input[this.itemsMaja.includes(key) ? 'posMaja' : 'posJakob'].x
    },
    getClass (key) {
      if (key === 'brezrokavnik' || key === 'bunda' || key === 'jopica' || key === 'jakna') {
        return 'body-over'
      }

      if (key === 'sal') {
        return 'neck'
      }

      if (key === 'rokavice') {
        return 'hands'
      }

      return null
    },
    getGlyph (key, item) {
      const overlay = this.glyphs[`${item.glyph}Overlay`]
      const overlayMaja = this.glyphs[`${item.glyph}OverlayMaja`]

      if (this.itemsMaja.includes(key) && overlayMaja) {
        return overlayMaja
      }

      if ((this.itemsJakob.includes(key) || this.itemsMaja.includes(key)) && overlay) {
        return overlay
      }

      return this.glyphs[item.glyph]
    },
    onDragStopped (dragEl, dragElPos) {
      let target = this.getTargetIfOver(this.targets, dragElPos)

      if (target) {
        let key = dragEl.$attrs.id.split('-')[1]
        let ref = '$i-' + dragEl.$attrs.id.split('-')[1]
        let itemData = this.itemsData[key]
        let targetKey = target.$attrs.id.split('-')[1]
        let part = itemData.part
        let parts = targetKey === 'maja' ? this.partsMaja : this.partsJakob

        if (target && parts.includes(part)) {
          this.activeItems.splice(this.activeItems.indexOf(dragEl), 1)
          parts.splice(parts.indexOf(part), 1)

          if (targetKey === 'maja') {
            this.itemsMaja.push(key)
          } else {
            this.itemsJakob.push(key)
          }

          dragEl.lock()
          this.lockActiveItems()

          this.animateToBowl$(dragEl, itemData[this.getPosKey(key)], 0.4, this.items.length - this.activeItems.length)
            .subscribe(null, null, () => {
              if (itemData.hide) {
                this.addBodyClass(`hide-${targetKey}-${part}`)
              }

              let input = this.$refs[ref][0]

              this.showInput = key
              input.open()
            })
        } else {
          dragEl.moveToStartPosition()
        }
      } else {
        dragEl.moveToStartPosition()
      }
    },

    onTypeInSolved () {
      this.solvedTimeout = setTimeout(() => {
        this.showInput = ''

        if (this.isGameSolved()) {
          this.startEnd()
        } else {
          this.unlockActiveItems()
        }
      }, 1600)
    },

    lockActiveItems () {
      this.activeItems.forEach(item => {
        item.lock()
      })
    },

    unlockActiveItems () {
      this.activeItems.forEach(item => {
        item.unlock()
      })
    },

    isGameSolved () {
      return [...this.partsMaja, ...this.partsJakob].length === 3
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.question.reset()

      this.setBodyClass = ''
      this.showInput = ''
      this.items.forEach((item) => {
        item.lock()
        item.moveToStartPosition()
      })
      this.inputs.forEach((input) => input.reset())
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.introAnim$ = Observable
        .timer(1000)
        .flatMap(() => this.question.animate())
        .subscribe(null, null, () => this.startInteraction())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()

      this.activeItems = Array.from(this.items)

      this.unlockActiveItems()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    animateToBowl$ (item, pos, duration) {
      return Observable.create((observer) => {
        let tween = new TimelineLite({
          onComplete: () => {
            observer.next()
            observer.complete()
          }
        })
          .to(item, duration, {
            currentX: pos.x,
            currentY: pos.y,
            onComplete: () => {
              observer.next()
              observer.complete()
            }
          })

        return () => {
          tween.kill()
        }
      })
    }
  },

  created () {
    this.targetsData = JSON.parse(JSON.stringify(targetsData))
    this.itemsData = JSON.parse(JSON.stringify(itemsData))
    this.inputsData = JSON.parse(JSON.stringify(inputsData))

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.items = Object.keys(this.$refs)
      .filter((val) => val.includes('$d'))
      .map(key => this.$refs[key][0])

    this.question = this.$refs.question

    this.introAnimRef = this.$refs.animIntro
    this.gameAnimRef = this.$refs.animGame

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
    clearTimeout(this.solvedTimeout)

    if (this.outroAnim$) {
      this.outroAnim$.unsubscribe()
    }

    if (this.gameAnim$) {
      this.gameAnim$.unsubscribe()
    }
  }
}
</script>

<style lang="scss">
@import '../../../styles/layout';

.hide-jakob-legs .jakob-leg,
.hide-maja-legs .maja-leg,
.hide-jakob-feet .jakob-foot,
.hide-maja-feet .maja-foot,
.hide-jakob-hands .jakob-hand,
.hide-maja-hands .maja-hand {
  display: none !important;
}

.jakob-obraz,
.maja-obraz {
  position: absolute;
  z-index: 103;
}

.jakob-obraz {
  left: 520px;
  top: 335px;
}

.maja-obraz {
  left: 743px;
  top: 330px;
}

.body-over {
  z-index: 102 !important;
}

.neck,
.hands {
  z-index: 103 !important;
}
</style>
