<template>
  <is-game
    :background="background"
    @navigateBack="navigateBack"
    @navigateForward="navigateForward"
  >
    <transition name="fade">
      <is-svg-sprite
        :id="solutionItem.name"
        :glyph="glyphs[solutionItem.name]"
        :posX="300"
        :posY="230"
        :key="solutionItem.name"
        ref="solution"
        v-if="solutionItem !== null"
      />
    </transition>

    <div class="text">To {{ isPlural ? 'so' : 'je' }}</div>

    <is-bubble
      class="bubble left"
      ref="bubble"
      :posX="552"
      :posY="60"
    />

    <div class="buttons">
      <is-button
        v-for="item in showingItems" @clicked="buttonClicked(item)"
        :id="item.name"
        :key="`${solutionItem.name}-${item.name}`"
        :is-solution="item.name === solutionItem.name"
        :isLocked="canInteract"
      >
        {{ item.label }}
      </is-button>
    </div>

    <is-end-game-modal
      ref="endModal"
      class="end-modal"
      @back="navigateBack()"
      @forward="navigateForward()"
    />
  </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import ButtonComponent from '@/components/shared/ButtonTextSelectComponent'

import background from '@/assets/jedilnica/kosare/mesanaHrana/background.svg'

import SvgSpriteComponent from '@/components/shared/SvgSpriteComponent'

import sprites from './MesanaHranaAssets'
import introSound from '@/assets/sounds/1.3.8/uvod.mp3'
import { itemsData } from './MesanaHranaData'

export default {
  name: 'is-mesana-hrana',
  mixins: [
    GameBasicMixin,
    GameUtilsMixin,
    GameSoundMixin
  ],
  components: {
    'is-button': ButtonComponent,
    'is-svg-sprite': SvgSpriteComponent
  },
  data () {
    return {
      glyphs: sprites,
      background,
      items: itemsData,
      remainingItems: [],
      showingItems: [],
      solutionItem: null,
      lockButtons: true
    }
  },

  computed: {
    canInteract () {
      return this.gameState !== this.gameStates.interactive || this.lockButtons
    },
    isPlural () {
      return this.solutionItem && this.solutionItem.plural
    }
  },

  methods: {
    buttonClicked (item) {
      if (item.name === this.solutionItem.name) {
        this.lockButtons = true

        this.timeout = setTimeout(() => {
          if (this.isGameSolved()) {
            this.startEnd()
          } else {
            this.resetScene()
            this.prepareNextSet()
          }
        }, 1600)
      }
    },

    isGameSolved () {
      return this.remainingItems.length === 0
    },

    resetScene () {
      this.showingItems = []
      this.solutionItem = null
      this.lockButtons = true
    },

    startIntroAnimation () {
      this.resetScene()
      this.prepareNextSet(false)
      this.setStateToIntro()

      this.introAnim$ = Observable.timer(1000)
        .flatMap(() => Observable.zip(
          this.playSound$(introSound),
          this.bubble.show$('Kaj je to?')
        ))
        .do(() => this.bubble.hide())
        .do(() => this.itemSound())
        .subscribe(null, null, () => this.setStateToInteractive())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
    },

    startInteraction () {
      this.resetScene()
      this.prepareNextSet()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    prepareNextSet (playSound = true) {
      this.solutionItem = this.remainingItems.splice(0, 1)[0]
      this.showingItems = this.shuffleArray([this.solutionItem, ...this.getRandomItems()])

      this.lockButtons = false

      this.$nextTick(() => {
        let el = this.$refs.solution
        let x = 667 - el.size().w / 2
        const y = 450 - el.size().h

        if (el.$attrs.id === 'ananas') {
          x += 25
        }

        el.setPosition(x, y)

        if (playSound) {
          this.itemSound()
        }
      })
    },

    itemSound () {
      const { sound } = this.solutionItem

      if (sound) {
        this.playSound$(require(`@/assets/sounds${sound}`)).subscribe(false, false, () => {})
      }
    },

    getRandomItems () {
      let items = Array.from(this.items)
      items = items.filter(item => item !== this.solutionItem)

      return Array.from(Array(3))
        .map(() => this.getRandomItem(items))
    },

    getRandomItem (items) {
      return items.splice(this.randomNumber(items.length), 1)[0]
    },

    randomNumber (max) {
      return Math.floor(Math.random() * max)
    },

    // Need to override since there is no initial intro animation
    navigateBack () {
      switch (this.gameState) {
        case this.gameStates.intro:
          let route = this.toRouteName(this.backwardRoutes, this.$route.name)
          this.$router.push({ name: route })
          break

        case this.gameStates.interactive:
          route = this.toRouteName(this.backwardRoutes, this.$route.name)
          this.$router.push({ name: route })
          break

        case this.gameStates.end:
          this.startInteraction()
          break
      }
    }
  },

  mounted () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)

    this.bubble = this.$refs.bubble

    this.remainingItems = this.shuffleArray(this.items)

    this.startIntroAnimation()
  },

  destroyed () {
    if (this.timeout) {
      clearTimeout(this.timeout)
    }

    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../styles/layout';

  .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to {
      opacity: 0;
  }

  .solution-item {
    position: absolute;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    transform: translate(133px, 600px);
    width: 80%;
  }

  .text {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    color: #fff;
    display: block;
    font-size: 34px;
    font-weight: bold;
    left: 50%;
    padding: 16px 50px;
    position: absolute;
    top: 490px;
    transform: translateX(-50%);
    text-transform: uppercase;
  }
</style>
