<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-svg-sprite-pos v-for="(item, key) in targetsData"
                           :key="key"
                           :glyph="glyphs[item.glyph]"
                           :posX="item.pos.x"
                           :posY="item.pos.y"></is-svg-sprite-pos>

        <is-type-in v-for="(input, key) in inputsData"
                    :key="'$i' + key"
                    :ref="'$i' + key"
                    class="inputs end-with-dot"
                    @solved="isGameSolved"
                    @clicked="closeAllInputs()"
                    :solution="input.solution"
                    :preText="input.preText"
                    :isLocked="(gameState !== gameStates.interactive)"
                    :arrowDirection="input.arrowDirection"
                    :openDirection="input.openDirection"
                    :posX="input.pos.x"
                    :posY="input.pos.y"></is-type-in>

        <is-now-you-try class="you-try" ref="nowYouTry" selectedSound="now3" />

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'
import TypeInComponent from '@/components/shared/TypeInComponent.vue'
import NowYouTry from '@/components/shared/NowYouTry'

import background from '@/assets/garderoba/besedisce-za-oblacila/background.svg'

import sprites from './OblacilaPovezovanjeAssets'
import { targetsData, inputsData } from './OblacilaData'

export default {
  name: 'is-garderoba-oblacila-vpisovanje',
  components: {
    'is-type-in': TypeInComponent,
    'is-now-you-try': NowYouTry
  },
  mixins: [
    GameBasicMixin,
    StoreInputsMixin
  ],
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return Object.assign(
      {},
      { glyphs },
      {
        background,
        targetsData: {},
        inputsData: {}
      }
    )
  },

  methods: {
    isGameSolved () {
      let solved = this.inputs.filter((input) => input.isSolved)
      if (solved.length === this.inputs.length) {
        this.closeAllInputs()
        this.startEnd()
      }
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.inputs.forEach((input) => input.reset())
      this.nowYouTry.reset()
    },

    closeAllInputs () {
      this.inputs.forEach((input) => input.close())
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()
      this.playIntroAnimation()
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()

      Observable.fromEvent(document, 'click')
        .takeWhile(() => this.gameState === this.gameStates.interactive)
        .subscribe((evt) => {
          this.closeAllInputs()
        })
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)

      this.$store.dispatch('gameCompleted', 'pripomockiVpisovanje')
    },

    playIntroAnimation () {
      let randomInputIndex = Math.floor(Math.random() * this.inputs.length)
      let randomInput = this.inputs[randomInputIndex]

      this.introAnim$ = randomInput.playSolution$()
        .delay(2000)
        .do(() => randomInput.close())
        .flatMap(() => this.nowYouTry.animate())
        .subscribe(
          () => {},
          null,
          () => this.startInteraction())
    }
  },

  created () {
    this.targetsData = JSON.parse(JSON.stringify(targetsData))
    this.inputsData = JSON.parse(JSON.stringify(inputsData))

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.nowYouTry = this.$refs.nowYouTry
    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/layout';

.inputs {
  z-index: $drag-z-index;
}

.you-try {
  position: relative;
  z-index: $drag-z-index + 1;
}
</style>
