<template>
  <is-game
    :background="background"
    @navigateBack="navigateBack"
    @navigateForward="navigateForward"
  >
    <div class="board"></div>

    <is-board-item
      v-for="(item, index) in gameItems"
      :key="`${item.name}-${item.type}`"
      :state="item.state"
      :itemType="item.type"
      :posDynamic="true"
      :width="255"
      :height="125"
      :posX="(254 * (index % 4)) + 160"
      :posY="(124 * Math.floor(index / 4)) + 102"
      :isLocked="!canInteract"
      :class="{ highlight: item.name === currentItem.name && item.state !== 'closed' && isIntroAnim }"
      @clicked="itemClicked(item)"
      @enlarge="openImage(item.name)"
    >
      <span class="board-item-text" v-if="item.type === 'text'">
        {{ item.label }}
      </span>
      <is-svg-sprite
        v-else
        :glyph="glyphs[item.name]"
      />
    </is-board-item>

    <div v-if="showImage" class="images images-border">
        <is-svg-sprite
          v-for="(glyph, key) in glyphs"
          v-show="key === showImage"
          :key="key"
          :ref="key"
          :glyph="glyph"
          class="image"
        />
        <div @click="closeImage" class="close"><svg width="28" height="28" xmlns="http://www.w3.org/2000/svg"><path d="M16.67 14.24l9.95-9.96a2 2 0 1 0-2.83-2.82l-9.95 9.95-9.95-9.95a2 2 0 1 0-2.83 2.83L11 14.23l-9.95 9.95a2 2 0 1 0 2.83 2.83l9.95-9.95 9.95 9.95a2 2 0 0 0 2.83 0 2 2 0 0 0 0-2.83l-9.95-9.95z" fill="#fff"/></svg></div>
    </div>

    <is-now-you-try ref="nowYouTry" />

    <is-end-game-modal
      ref="endModal"
      class="end-modal"
      @back="navigateBack()"
      @forward="navigateForward()"
    />
  </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'

import background from '@/assets/jedilnica/ucilnice/slovnica/table-slike/background.svg'

import sprites from './TableSlikeAssets'
import itemsData from './TableSlikeData'

import SvgSprite from '@/components/core/SvgSprite'
import BoardItem from '@/components/shared/BoardItem'

import NowYouTry from '@/components/shared/NowYouTry'

export default {
  name: 'is-spomin-malica-kosilo',
  mixins: [
    GameBasicMixin,
    GameUtilsMixin
  ],
  components: {
    'is-board-item': BoardItem,
    'is-svg-sprite': SvgSprite,
    'is-now-you-try': NowYouTry
  },
  data () {
    return {
      items: itemsData,
      background,
      gameItems: [],
      glyphs: sprites,
      lockButtons: false,
      showImage: null,
      isIntroAnim: false,
      currentItem: {}
    }
  },

  computed: {
    canInteract () {
      return this.gameState === this.gameStates.interactive && !this.lockButtons
    },
    selectedItems () {
      return this.gameItems.filter(i => i.state === 'selected')
    }
  },

  methods: {
    isGameSolved () {
      const remainingItems = this.gameItems.filter(item => item.state === 'normal')

      if (remainingItems.length === 0) {
        if (this.isIntroAnim) {
          setTimeout(this.stopIntroAnimation, 1000)
        } else {
          this.startEnd()
        }
      }
    },

    itemClicked (item) {
      if (item.state === 'normal' && (this.canInteract || this.isIntroAnim)) {
        item.state = 'selected'

        if (this.selectedItems.length === 2) {
          const itemsMatch = this.selectedItems[0].name === this.selectedItems[1].name
          this.lockButtons = true
          this.checkItems(this.selectedItems, itemsMatch)
        }
      }
    },

    checkItems (items, itemsMatch) {
      this.timeout = setTimeout(() => {
        items.forEach(item => {
          item.state = itemsMatch ? 'solved' : 'normal'
        })

        this.isGameSolved()

        this.lockButtons = false
      }, itemsMatch ? 0 : 1000)
    },

    prepareItems (items) {
      return this.shuffleArray(items.reduce((items, item) => {
        // image
        items.push({
          name: item.name,
          type: 'image',
          state: 'normal'
        })

        // text
        items.push({
          name: item.name,
          label: item.label,
          type: 'text',
          state: 'normal'
        })

        return items
      }, []))
    },

    getItems () {
      const items = Array.from(this.items)

      return this.prepareItems(Array.from(Array(8))
        .map(() => this.getRandomItem(items)))
    },

    getRandomItem (items) {
      return items.splice(this.randomNumber(items.length), 1)[0]
    },

    randomNumber (max) {
      return Math.floor(Math.random() * max)
    },

    openImage (imageName) {
      this.showImage = imageName

      this.imageAnim$ = Observable.timer(2000)
        .subscribe(() => {
          this.closeImage()
        })
    },

    closeImage () {
      if (this.imageAnim$) {
        this.imageAnim$.unsubscribe()
      }
      this.showImage = ''
    },

    introAnim () {
      const findClosedItem = this.gameItems.find(item => item.state === 'normal')

      if (findClosedItem && !this.canInteract) {
        this.currentItem = findClosedItem
        const name = findClosedItem.name
        const type = findClosedItem.type
        const matchItem = this.gameItems.find(item => item.name === name && item.type !== type)

        this.itemClicked(findClosedItem)

        this.isIntroAnimTimeout = setTimeout(() => {
          this.itemClicked(matchItem)

          this.isIntroAnimTimeout = setTimeout(this.introAnim, 2000)
        }, 2000)
      }
    },

    startIntroAnimation () {
      this.setStateToIntro()

      this.isIntroAnim = true
      this.isIntroAnimTimeout = setTimeout(this.introAnim, 2000)
    },

    stopIntroAnimation () {
      this.isIntroAnim = false
      clearTimeout(this.isIntroAnimTimeout)
      this.currentItem = {}
      this.gameItems = this.getItems()
      this.startInteraction()
      this.nowYouTry.reset()
    },

    startInteraction () {
      this.nowYouTry.animate().subscribe(null, null, () => this.setStateToInteractive())
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    // Need to override since there is no initial intro animation
    navigateBack () {
      switch (this.gameState) {
        case this.gameStates.intro:
          let route = this.toRouteName(this.backwardRoutes, this.$route.name)
          this.$router.push({ name: route })
          break

        case this.gameStates.interactive:
          route = this.toRouteName(this.backwardRoutes, this.$route.name)
          this.$router.push({ name: route })
          break

        case this.gameStates.end:
          this.startInteraction()
          break
      }
    }
  },

  mounted () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)

    this.gameItems = this.getItems()

    this.nowYouTry = this.$refs.nowYouTry

    this.startIntroAnimation()
  },

  destroyed () {
    if (this.timeout) {
      clearTimeout(this.timeout)
    }

    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../../styles/layout';

  .board {
    background-color: #4D4D4F;
    border-radius: 4px;
    border: 8px solid #FFECC8;
    box-shadow: -2px -2px 0px 0px #B9AD95;
    height: 511px;
    left: 153px;
    position: absolute;
    top: 95px;
    width: 1031px;
  }

  .images {
    position: absolute;
    left: 404px;
    top: 187px;

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
  }

  .images-border {
    border: 3px solid #fff;
    font-size: 0;
  }

  .highlight {
    box-shadow: 0 0 25px limegreen;
    z-index: 999;
  }
</style>
