<template>
  <is-game :background="background" @navigateBack="navigateBack" @navigateForward="navigateForward">
    <is-bm-anim
      ref="me"
      :animationData="currentAnimation.me"
      :posX="210"
      :posY="350"
      v-show="charactersCurrent > 0"
      :key="`me-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 0 && !isEnd }"
      ref="meWrite"
      :animationData="currentAnimation.meWrite"
      :posX="210"
      :posY="350"
      v-show="charactersCurrent === 0"
      :key="`meWrite-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 1 }"
      ref="you"
      :animationData="currentAnimation.you"
      :posX="460"
      :posY="350"
      :key="`you-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 2 }"
      ref="he"
      :animationData="currentAnimation.he"
      :posX="730"
      :posY="320"
      :key="`he-${currentAnimationName}`"
    />

    <is-bm-anim
      :class="{ highlight: charactersCurrent === 3 }"
      ref="she"
      :animationData="currentAnimation.she"
      :posX="1000"
      :posY="370"
      :key="`she-${currentAnimationName}`"
    />

    <is-bubble
      class="bubble left"
      ref="bubble"
      :posX="300"
      :posY="250"
    />
  </is-game>
</template>

<script>
import background from '@/assets/ucilnice/slovnica/glagoli/background-1.svg'

import meWriteAnimation from '@/assets/ucilnice/slovnica/glagoli/animations/ednina-jaz-pisem'
import meAnimation from '@/assets/ucilnice/slovnica/glagoli/animations/ednina-jaz-pisem-kazem'
import youAnimation from '@/assets/ucilnice/slovnica/glagoli/animations/ednina-ti'
import heAnimation from '@/assets/ucilnice/slovnica/glagoli/animations/ednina-on'
import sheAnimation from '@/assets/ucilnice/slovnica/glagoli/animations/ednina-ona'

import GlagoliMixin from '@/components/shared/mixins/GlagoliMixin'

import { linesData } from './GlagoliData'
import sounds from './GlagoliS1Sounds'

export default {
  name: 'is-glagoli-s1',
  mixins: [GlagoliMixin],
  data () {
    return {
      background,
      animationsOrder: ['write'],
      forwardText: 'Kotiček za dvojino',
      characterOrder: ['meWrite', 'you', 'he', 'she'],
      linesData,
      sounds,
      frames: [
        { from: 0, to: 30, soundDelay: 600 },
        { from: 30, to: 70 },
        { from: 75, to: 130, soundDelay: 500 },
        { from: 130, to: 287, soundDelay: 500 }
      ]
    }
  },
  computed: {
    animations () {
      return {
        write: {
          me: meAnimation,
          meWrite: meWriteAnimation,
          you: youAnimation,
          he: heAnimation,
          she: sheAnimation
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../styles/layout';

  .bubble {
    z-index: $character-z-index;
  }

  .highlight, .highlight svg {
    filter: drop-shadow(0px 0px 10px limegreen);
  }
</style>
