<template>
  <is-game :background="background" @navigateBack="navigateBack" @navigateForward="navigateForward">
    <is-bm-anim
      ref="weWrite"
      :class="{ highlight: charactersCurrent === 0 && !isEnd }"
      :animationData="currentAnimation.weWrite"
      :posX="80"
      :posY="270"
      :key="`weWrite-${currentAnimationName}`"
    />

    <is-bm-anim
      ref="you"
      :class="{ highlight: charactersCurrent === 1 && !isEnd }"
      :animationData="currentAnimation.you"
      :posX="630"
      :posY="230"
      :key="`you-${currentAnimationName}`"
    />

    <is-bm-anim
      ref="they"
      :class="{ highlight: charactersCurrent === 2 && !isEnd }"
      :animationData="currentAnimation.they"
      :posX="830"
      :posY="400"
      :key="`they-${currentAnimationName}`"
    />

    <is-bubble
      class="bubble left"
      ref="bubble"
      :posX="440"
      :posY="200"
    />
  </is-game>
</template>

<script>
import background from '@/assets/ucilnice/slovnica/glagoli/background-3.svg'

import weWriteAnimation from '@/assets/ucilnice/slovnica/glagoli/animations/mnozina-mi-pisemo'
import youAnimation from '@/assets/ucilnice/slovnica/glagoli/animations/mnozina-vi'
import theyAnimation from '@/assets/ucilnice/slovnica/glagoli/animations/mnozina-oni'

import GlagoliMixin from '@/components/shared/mixins/GlagoliMixin'

import { linesData } from './GlagoliData'
import sounds from './GlagoliS3Sounds'

export default {
  name: 'is-glagoli-s2',
  mixins: [GlagoliMixin],
  data () {
    return {
      background,
      animationsOrder: ['write'],
      forwardText: '',
      characterOrder: ['weWrite', 'you', 'they'],
      linesData,
      sounds,
      frames: [
        { from: null, to: null },
        { from: 0, to: 100 },
        { from: 100, to: 210 },
        { from: 210, to: 287 }
      ]
    }
  },
  computed: {
    animations () {
      return {
        write: {
          me: null,
          weWrite: weWriteAnimation,
          you: youAnimation,
          they: theyAnimation
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../styles/layout';

  .bubble {
    z-index: $character-z-index;
  }

  .highlight, .highlight svg {
    filter: drop-shadow(0px 0px 10px limegreen);
  }
</style>
