<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward(startYouTryAnimation)">
        <is-interactive-target v-for="(glyph, key) in glyphs"
                               :id="'$t-' + key"
                               :ref="'$t-' + key"
                               :key="key"
                               :matchId="targetsData[key].matchId"
                               :glyph="glyph"
                               :isLocked="(gameState !== gameStates.interactive || !isPresent(key))"
                               :posX="targetsData[key].pos.x"
                               :posY="targetsData[key].pos.y"></is-interactive-target>

        <is-bm-anim class="jakob"
                    ref="jakob"
                    key="anim-jakob"
                    :animationData="characterAnim"
                    :posX="50"
                    :posY="360"></is-bm-anim>

        <is-bubble class="bubble left"
                   ref="bubble"
                   key="bubble"
                   :posX="120"
                   :posY="230"></is-bubble>

        <div class="positioning" ref="positioning">
            <is-label v-for="(label, key) in activeLabelsData"
                      :id="'$l-' + key"
                      :ref="'$l-' + key"
                      :key="key"
                      :hideOnSolved="true"
                      :matchId="label.matchId"
                      :animateTo="'$t-' + label.animateTo"
                      :text="label.text"
                      :posX="0"
                      :posY="0"
                      :isLocked="gameState !== gameStates.interactive"
                      @dragStopped="onDragStopped"></is-label>
        </div>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreLabelsMixin from '@/components/shared/mixins/StoreLabelsMixin'
import StoreTargetsMixin from '@/components/shared/mixins/StoreTargetsMixin'
import AnimationsLabelsMixin from '@/components/shared/mixins/AnimationsLabelsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import background from '@/assets/ucilnice/besede/kajJeTo/background.svg'
import characterAnim from '@/assets/ucilnice/besede/kajJeTo/animations/jakob-govori-toje.json'

import sprites from './KajJeToAssets'
import sounds from './KajJeToSounds'
import { targetsData, labelsData, linesData } from './KajJeToData'

export default {
  name: 'is-kaj-je-to',
  mixins: [
    GameBasicMixin,
    StoreLabelsMixin,
    StoreTargetsMixin,
    GameUtilsMixin,
    AnimationsLabelsMixin,
    GameSoundMixin
  ],
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return Object.assign(
      {},
      { glyphs },
      {
        background: background,
        targetsData: targetsData,
        activeLabelsData: {},
        linesData: {},
        characterAnim: characterAnim
      }
    )
  },

  methods: {
    onDragStopped (dragEl, dragElPos) {
      let target = this.getTargetIfMatch(this.targets, dragEl.matchId, dragElPos)

      if (target) {
        target.setSolved()
        dragEl.setSolved()
        if (this.isGameSolved()) {
          this.startEnd()
        }
      } else {
        dragEl.moveToStartPosition()
      }
    },

    isPresent (item) {
      return this.activeLabelsData.hasOwnProperty(item)
    },

    isGameSolved () {
      let solved = this.labels.filter((label) => label.isSolved)
      return solved.length === this.labels.length
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.targets.forEach((target) => target.reset())
      this.labels.forEach((label, key) => label.reset())
      this.bubble.hide()
      this.youTryAnim$ = null
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.introAnim$ = Observable.zip(
        this.bubble.show$(this.linesData.kaj),
        this.jakob.play$(false, true),
        this.playSound$(sounds.uvod))
        .do(() => this.bubble.hide())
        .flatMap(() => this.animateLabelsToTargetsWithSound$(this.labels, this.$refs, sounds))
        .delay(300)
        .subscribe(null, null, this.startYouTryAnimation)
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
    },

    startYouTryAnimation () {
      if (!this.youTryAnim$) {
        this.youTryAnim$ = Observable.zip(
          this.playSound$(sounds.zakjucek),
          this.bubble.show$(this.linesData.poskusi),
          this.jakob.play$(false, true))
          .do(() => this.bubble.hide())
          .subscribe(null, null, this.startInteraction)
      }
    },

    stopYouTryAnimation () {
      if (this.youTryAnim$) {
        this.youTryAnim$.unsubscribe()
      }
      this.bubble.hide()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    }
  },

  created () {
    this.activeLabelsData = labelsData.get(this.$route.name)
    this.linesData = linesData.get(this.$route.name)

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.labels.forEach((label) => {
      let b = label.$el.getBoundingClientRect()
      label.setPosition(
        (b.left - this.screenPosition.x) / this.screenScale,
        (b.top - this.screenPosition.y) / this.screenScale
      )
    })

    this.$refs.positioning.classList.remove('positioning')

    this.jakob = this.$refs.jakob
    this.bubble = this.$refs.bubble

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
    this.stopYouTryAnimation()
  }
}
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .positioning {
        position: absolute;
        top: 550px;
        left: 0;

        width: 932px;
        height: 200px;

        display: flex;
        flex-wrap: wrap;

        padding: 14px 14px 14px 10px;
        justify-content: center;
        align-items: center;

        & > div {
            position: static;
            margin: 4px;
        }
    }

    .jakob {
        pointer-events: none;
    }
</style>
