<template>
  <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
    <is-svg-sprite-pos v-for="(glyph, key) in glyphs"
                            :key="key"
                            :glyph="glyph"
                            :posX="itemsData[key].pos.x"
                            :posY="itemsData[key].pos.y"></is-svg-sprite-pos>

    <is-type-in v-for="(input, key) in inputsData"
                :key="'$i' + key"
                :ref="'$i' + key"
                class="inputs end-with-dot"
                @solved="isGameSolved"
                @clicked="closeAllInputs()"
                :solution="input.solution"
                :preText="input.preText"
                :isLocked="(gameState !== gameStates.interactive)"
                :arrowDirection="input.arrowDirection"
                :openDirection="input.openDirection"
                :posX="input.pos.x"
                :posY="input.pos.y"></is-type-in>

    <is-bm-anim class="jakob"
                ref="jakob"
                key="anim-jakob"
                :animationData="characterAnim"
                :posX="50"
                :posY="360"></is-bm-anim>

    <is-bubble class="bubble left"
                ref="bubble"
                key="bubble"
                :posX="120"
                :posY="230"></is-bubble>

    <is-end-game-modal ref="endModal"
                       class="end-modal"
                       @back="navigateBack()"
                       @forward="navigateForward()"></is-end-game-modal>
  </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'
import TypeInComponent from '@/components/shared/TypeInComponent.vue'

import background from '@/assets/ucilnice/besede/kajJeTo/background.svg'
import characterAnim from '@/assets/ucilnice/besede/kajJeTo/animations/jakob-govori-toje.json'

import sprites from './KajJeToAssets'
import poskusiSound from '@/assets/sounds/6/poskusi.mp3'
import { targetsData, inputsData, linesData } from './KajJeToData'

export default {
  name: 'is-kaj-je-to',
  components: {
    'is-type-in': TypeInComponent
  },
  mixins: [
    GameBasicMixin,
    StoreInputsMixin,
    GameSoundMixin
  ],
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return Object.assign(
      {},
      { glyphs },
      {
        background,
        itemsData: targetsData,
        inputsData: {},
        linesData: {},
        characterAnim: characterAnim
      }
    )
  },

  methods: {
    isGameSolved () {
      let solved = this.inputs.filter((input) => input.isSolved)
      if (solved.length === this.inputs.length) {
        this.closeAllInputs()
        this.startEnd()
      }
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.inputs.forEach((input) => input.reset())
      this.bubble.hide()
    },

    closeAllInputs () {
      this.inputs.forEach((input) => input.close())
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()
      this.playIntroAnimation()
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }

      this.bubble.hide()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()

      Observable.fromEvent(document, 'click')
        .takeWhile(() => this.gameState === this.gameStates.interactive)
        .subscribe((evt) => {
          this.closeAllInputs()
        })
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    playIntroAnimation () {
      let randomInputIndex = Math.floor(Math.random() * this.inputs.length)
      let randomInput = this.inputs[randomInputIndex]

      this.introAnim$ = randomInput.playSolution$()
        .delay(1000)
        .do(() => randomInput.close())
        .flatMap(() => this.bubble.show$(this.linesData.poskusi))
        .flatMap(() => this.playSound$(poskusiSound))
        .delay(2000)
        .subscribe(
          () => {},
          null,
          () => this.startInteraction())
    }
  },

  created () {
    this.inputsData = inputsData.get(this.$route.name)
    this.linesData = linesData.get(this.$route.name)

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.jakob = this.$refs.jakob
    this.bubble = this.$refs.bubble

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
    @import '../../../../styles/layout';

    .inputs {
      z-index: $drag-z-index;
    }

    .jakob {
        pointer-events: none;
    }
</style>
