<template>
  <is-game
    :background="background"
    @navigateBack="navigateBack"
    @navigateForward="navigateForward"
  >
    <is-card
      v-for="(item, index) in gameItems"
      :key="`${item.name}-${item.type}`"
      :state="item.state"
      :card-type="item.type"
      :class="{ highlight: item.name === currentItem.name && item.state !== 'closed' && isIntroAnim }"
      :posDynamic="true"
      :posX="(225 * (index % 4)) + 230"
      :posY="(230 * Math.floor(index / 4)) + 42"
      :isLocked="!canInteract"
      @clicked="cardClicked(item)"
    >
      <span class="card-text" v-if="item.type === 'text'">
        {{ item.label }}
      </span>
      <is-svg-sprite
        v-else
        :glyph="glyphs[item.name]"
      />
    </is-card>

    <is-end-game-modal
      ref="endModal"
      class="end-modal"
      @back="navigateBack()"
      @forward="navigateForward()"
    />
  </is-game>
</template>

<script>
import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'

import background from '@/assets/jedilnica/kosare/spominMalicaKosilo/background.svg'

import sprites from './SpominMalicaKosiloAssets'
import { itemsData } from './SpominMalicaKosiloData'

import SvgSprite from '@/components/core/SvgSprite'
import Card from '@/components/shared/Card'

export default {
  name: 'is-spomin-malica-kosilo',
  mixins: [
    GameBasicMixin,
    GameUtilsMixin
  ],
  components: {
    'is-card': Card,
    'is-svg-sprite': SvgSprite
  },
  data () {
    return {
      items: itemsData,
      background,
      gameItems: [],
      glyphs: sprites,
      lockButtons: false,
      isIntroAnim: false,
      currentItem: {}
    }
  },

  computed: {
    canInteract () {
      return this.gameState === this.gameStates.interactive && !this.lockButtons
    }
  },

  methods: {
    isGameSolved () {
      const remainingItems = this.gameItems.filter(item => item.state === 'closed')

      if (remainingItems.length === 0) {
        if (this.isIntroAnim) {
          setTimeout(this.stopIntroAnimation, 4000)
        } else {
          this.startEnd()
        }
      }
    },

    cardClicked (item) {
      if (item.state === 'closed' && (this.canInteract || this.isIntroAnim)) {
        item.state = 'open'

        const openedItems = this.gameItems.filter(i => i.state === 'open')

        if (openedItems.length === 2) {
          const itemsMatch = openedItems[0].name === openedItems[1].name
          this.lockButtons = true
          this.checkItems(openedItems, itemsMatch)
        }
      }
    },

    checkItems (items, itemsMatch) {
      this.timeout = setTimeout(() => {
        items.forEach(i => {
          i.state = itemsMatch ? 'correct' : 'closed'
        })

        this.isGameSolved()

        this.lockButtons = false
      }, itemsMatch ? 0 : 1500)
    },

    prepareItems (items) {
      return this.shuffleArray(items.reduce((items, item) => {
        // image
        items.push({
          name: item.name,
          type: 'image',
          state: 'closed'
        })

        // text
        items.push({
          name: item.name,
          label: item.label,
          type: 'text',
          state: 'closed'
        })

        return items
      }, []))
    },

    getItems () {
      const items = Array.from(this.items)

      return this.prepareItems(Array.from(Array(6))
        .map(() => this.getRandomItem(items)))
    },

    getRandomItem (items) {
      return items.splice(this.randomNumber(items.length), 1)[0]
    },

    randomNumber (max) {
      return Math.floor(Math.random() * max)
    },

    startIntroAnimation () {
      this.setStateToIntro()

      this.isIntroAnim = true
      setTimeout(this.introAnim, 2000)
    },

    introAnim () {
      const findClosedItem = this.gameItems.find(item => item.state === 'closed')

      if (findClosedItem && !this.canInteract) {
        this.currentItem = findClosedItem
        const name = findClosedItem.name
        const type = findClosedItem.type
        const matchItem = this.gameItems.find(item => item.name === name && item.type !== type)

        this.cardClicked(findClosedItem)

        setTimeout(() => {
          this.cardClicked(matchItem)

          setTimeout(this.introAnim, 2000)
        }, 2000)
      }
    },

    stopIntroAnimation () {
      this.isIntroAnim = false
      this.currentItem = {}
      this.gameItems = this.getItems()
      this.startInteraction()
    },

    startInteraction () {
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    // Need to override since there is no initial intro animation
    navigateBack () {
      switch (this.gameState) {
        case this.gameStates.intro:
          let route = this.toRouteName(this.backwardRoutes, this.$route.name)
          this.$router.push({ name: route })
          break

        case this.gameStates.interactive:
          route = this.toRouteName(this.backwardRoutes, this.$route.name)
          this.$router.push({ name: route })
          break

        case this.gameStates.end:
          this.startInteraction()
          break
      }
    }
  },

  mounted () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)

    this.gameItems = this.getItems()

    this.startIntroAnimation()
  },

  destroyed () {
    if (this.timeout) {
      clearTimeout(this.timeout)
    }

    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../styles/layout';

  .highlight {
    filter: drop-shadow(0px 0px 10px limegreen);
    z-index: 999;
  }
</style>
