<template>
  <is-game :background="background" @navigateBack="navigateBack" @navigateForward="navigateForward">
    <div class="text">
      To je Videk. Ima <is-type-in
      class="input"
      :id="'$i-staro'"
      :ref="'$i-staro'"
      :solution="gameData.staro.text"
      :isLocked="isLocked"
      @solved="isGameSolved"
    /> srajčico. <is-type-in
      class="input"
      :id="'$i-zalosten'"
      :ref="'$i-zalosten'"
      :solution="gameData.zalosten.text"
      :isLocked="isLocked"
      @solved="isGameSolved"
    /> je. Ovčka <br>da <is-type-in
      class="input"
      :id="'$i-volno'"
      :ref="'$i-volno'"
      :solution="gameData.volno.text"
      :isLocked="isLocked"
      @solved="isGameSolved"
    />. <is-type-in
      class="input"
      :id="'$i-pajek'"
      :ref="'$i-pajek'"
      :solution="gameData.pajek.text"
      :isLocked="isLocked"
      @solved="isGameSolved"
    /> stke blago.
      <is-type-in
      class="input"
      :id="'$i-rak'"
      :ref="'$i-rak'"
      :solution="gameData.rak.text"
      :isLocked="isLocked"
      @solved="isGameSolved"
    /> skroji srajčico. <is-type-in
      class="input"
      :id="'$i-ptica'"
      :ref="'$i-ptica'"
      :solution="gameData.ptica.text"
      :isLocked="isLocked"
      @solved="isGameSolved"
    /> sešije srajčico. Videk ima <is-type-in
      class="input"
      :id="'$i-novo'"
      :ref="'$i-novo'"
      :solution="gameData.novo.text"
      :isLocked="isLocked"
      @solved="isGameSolved"
    /> srajčico. <is-type-in
      class="input"
      :id="'$i-vesel'"
      :ref="'$i-vesel'"
      :solution="gameData.vesel.text"
      :isLocked="isLocked"
      @solved="isGameSolved"
    /> je.
    </div>

    <div v-if="showImage" class="images images-border">
        <is-svg-sprite
          v-for="(glyph, key) in glyphs"
          v-show="key === showImage"
          :key="key"
          :ref="key"
          :glyph="glyph"
          class="image"
        />

        <div @click="closeImage" class="close">
            <svg width="28" height="28" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.67 14.24l9.95-9.96a2 2 0 1 0-2.83-2.82l-9.95 9.95-9.95-9.95a2 2 0 1 0-2.83 2.83L11 14.23l-9.95 9.95a2 2 0 1 0 2.83 2.83l9.95-9.95 9.95 9.95a2 2 0 0 0 2.83 0 2 2 0 0 0 0-2.83l-9.95-9.95z"
                      fill="#000444"/>
            </svg>
        </div>
    </div>

    <is-bubble
      class="bubble left"
      ref="bubble"
      key="bubble"
      :posX="120"
      :posY="290"
    />

    <is-end-game-modal
      ref="endModal"
      class="end-modal"
      @back="navigateBack()"
      @forward="navigateForward"
    />
  </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import TypeInComponent from '@/components/shared/TypeIn3Component'

import background from '@/assets/garderoba/pesmica-vpisovanje/background.svg'
import poskusiSound from '@/assets/sounds/poizkusi-se-ti.mp3'
import characterAnim from '@/assets/ucilnice/slovnica/table/animations/characterBehindDeskTalking'

import gameData from './PesmicaVpisovanjeData'

export default {
  name: 'is-table-vpisovanje',
  components: {
    'is-type-in': TypeInComponent
  },
  mixins: [
    GameBasicMixin,
    GameUtilsMixin,
    StoreInputsMixin,
    GameSoundMixin
  ],
  data () {
    return {
      background,
      characterAnim,
      gameData,
      showImage: '',
      checkSolution: false
    }
  },

  computed: {
    isLocked () {
      return this.gameState !== this.gameStates.interactive || this.isImageOpen
    },

    isImageOpen () {
      return this.showImage.length > 0
    }
  },

  methods: {
    onResetGame () {
      if (this.gameState === 'interactive') {
        this.resetScene()
      }
    },

    isGameSolved () {
      this.checkSolution = false
      let solved = this.inputs.filter((input) => input.isSolved)
      if (solved.length === this.inputs.length) {
        this.startEnd()
      }
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.inputs.forEach((input, key) => input.reset())
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()
      this.playIntroAnimation()
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }
      this.bubble.hide()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    playIntroAnimation () {
      let randomInputIndex = Math.floor(Math.random() * this.inputs.length)
      let randomInput = this.inputs[randomInputIndex]

      this.introAnim$ = randomInput
        .playSolution$()
        .do(() => {
          randomInput.isSolved = true
        })
        .delay(3000)
        .subscribe(null, null, this.startInteraction)
    },

    openImage (image) {
      this.showImage = image

      this.imageAnim$ = Observable.timer(2000)
        .subscribe(() => {
          this.closeImage()
        })
    },

    closeImage () {
      if (this.imageAnim$) {
        this.imageAnim$.unsubscribe()
      }
      this.showImage = ''
    }
  },

  created () {
    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.character = this.$refs.character
    this.bubble = this.$refs.bubble

    this.startIntroAnimation()
    this.startInteraction()
  },

  destroyed () {
    this.stopIntroAnimation()
    this.closeImage()
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../styles/layout';

  .input {
    display: inline-block;
    margin-right: 5px !important;
    position: relative;
    width: 220px;
  }

  .text {
    color: #fff;
    font-size: 33px;
    font-weight: 900;
    left: 495px;
    line-height: 2.4em;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 80px;
    width: 670px;
  }
</style>
