<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-board-target id="b1"
                         :title="board1Title"
                         subtitle="Moški spol"
                         shadowDirection="left"
                         ref="$b1"
                         :isLocked="!dragging"
                         :posX="90"
                         :posY="65"></is-board-target>
        <is-board-target id="b2"
                         :title="board2Title"
                         subtitle="Ženski spol"
                         shadowDirection="middle"
                         ref="$b2"
                         :isLocked="!dragging"
                         :posX="496"
                         :posY="65"></is-board-target>
        <is-board-target id="b3"
                         :title="board3Title"
                         subtitle="Srednji spol"
                         shadowDirection="right"
                         ref="$b3"
                         :isLocked="!dragging"
                         :posX="902"
                         :posY="65"></is-board-target>

        <is-svg-sprite :glyph="alex" class="alex"></is-svg-sprite>
        <is-svg-sprite :glyph="ana" class="ana"></is-svg-sprite>
        <is-svg-sprite :glyph="maja" class="maja"></is-svg-sprite>

        <is-svg-sprite :glyph="tableLabel" class="table-label"></is-svg-sprite>

        <div class="positioning" ref="positioning">
            <is-label v-for="(label, key) in activeLabelsData"
                      class="white"
                      :id="'$l-' + key"
                      :ref="'$l-' + key"
                      :key="key"
                      :matchId="label.matchId"
                      :animateTo="`$${label.matchId}`"
                      :text="label.text"
                      :posX="0"
                      :posY="0"
                      :isLocked="gameState !== gameStates.interactive"
                      @dragStarted="onDragStarted"
                      @dragStopped="onDragStopped"></is-label>
        </div>

        <is-check-or-reset
          @check="onCheckGame"
          @reset="onResetGame"
        />

        <is-now-you-try ref="nowYouTry" />

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import { TimelineLite } from 'gsap'
import { Observable } from 'rxjs'

import BoardTargetComponent from './BoardTargetComponent'
import NowYouTry from '@/components/shared/NowYouTry'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreLabelsMixin from '@/components/shared/mixins/StoreLabelsMixin'
import AnimationsLabelsMixin from '@/components/shared/mixins/AnimationsLabelsMixin'

import background from '@/assets/jedilnica/ucilnice/slovnica/table-spoli/background.svg'
import alex from '@/assets/ucilnice/slovnica/table-spoli/alex.svg'
import ana from '@/assets/ucilnice/slovnica/table-spoli/ana.svg'
import maja from '@/assets/ucilnice/slovnica/table-spoli/maja.svg'

import { labelsData, soundsData } from './TableSpoliData'

import tableLabelEdnina from '@/assets/jedilnica/ucilnice/slovnica/table-spoli/label-ednina.svg'
import tableLabelMnozina from '@/assets/jedilnica/ucilnice/slovnica/table-spoli/label-mnozina.svg'

import CheckOrReset from '@/components/shared/CheckOrReset'

export default {
  name: 'is-table-spoli',
  components: {
    'is-board-target': BoardTargetComponent,
    'is-check-or-reset': CheckOrReset,
    'is-now-you-try': NowYouTry
  },
  mixins: [
    GameBasicMixin,
    GameSoundMixin,
    StoreLabelsMixin,
    GameUtilsMixin,
    AnimationsLabelsMixin
  ],
  data () {
    return {
      background,
      alex,
      ana,
      maja,
      activeLabelsData: {},
      dragging: false,
      boards: [],
      tableLabel: tableLabelEdnina
    }
  },

  computed: {
    isPlural () {
      return this.$route.name === 'TableJedilnicaSpoli-3' || this.$route.name === 'TableJedilnicaSpoli-4'
    },
    board1Title () {
      return this.isPlural ? 'Tabla -I' : 'Tabla -'
    },
    board2Title () {
      return this.isPlural ? 'Tabla -E' : 'Tabla -A'
    },
    board3Title () {
      return this.isPlural ? 'Tabla -A' : 'Tabla -O'
    }
  },

  methods: {
    onCheckGame () {
      if (this.gameState === 'interactive') {
        this.checkGame()
      }
    },

    checkGame () {
      this.labels.forEach(label => {
        const labelPos = {
          x: label.currentX + label.$el.offsetWidth / 2,
          y: label.currentY + label.$el.offsetHeight / 2
        }

        const hit = this.boards
          .filter((board) => this.checkIfInBounds(
            board.bounds(),
            labelPos,
            this.screenScale,
            this.screenPosition.x))
          .filter((board) => board.$el.id === label.matchId)

        if (hit.length > 0) {
          label.setSolved()
          if (this.isGameSolved()) {
            this.startEnd()
          }
        } else {
          label.moveToStartPosition()
        }
      })
    },

    onResetGame () {
      if (this.gameState === 'interactive') {
        this.resetScene()
      }
    },

    isGameSolved () {
      let solved = this.labels.filter((label) => label.isSolved)
      return solved.length === this.labels.length
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.labels.forEach((label, key) => label.reset())
      this.nowYouTry.reset()
    },

    getIntroSounds (labels) {
      const sounds = {}
      labels.forEach(label => {
        const name = label.$attrs.id.replace('$l-', '')
        const path = this.sounds[name]

        if (path) {
          sounds[name] = require(`@/assets/sounds${path}`)
        }
      })

      return sounds
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      let labelsToAnimate = this.getRandomLabelsToAnimate().filter(label => label !== undefined)

      this.introAnim$ = this.animateLabelsToTargetsWithSound$(labelsToAnimate, this.$refs, this.getIntroSounds(labelsToAnimate))
        .delay(2000)
        .flatMap(() => this.nowYouTry.animate())
        .subscribe(null, null, () => this.startInteraction())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }

      this.nowYouTry.reset()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    animateLabelsToBoards$ (labels, boards) {
      return Observable.create((observer) => {
        let introTimeline = new TimelineLite({
          onComplete: () => {
            setTimeout(() => {
              this.checkGame()
              observer.next()
              observer.complete()
            }, 1000)
          },
          delay: 0.6,
          paused: true })

        labels.forEach((label, index) => {
          if (label) {
            let destination = boards[index].center()
            let labelBounds = label.bounds()

            introTimeline
              .set(label.$el, { 'z-index': 100 })
              .to(label, 2, {
                currentX: destination.x - labelBounds.width / 2,
                currentY: destination.y - labelBounds.height / 2
              })
              .set(label, {})
          }
        })

        introTimeline.play()

        return () => {
          introTimeline.kill()
        }
      })
    },

    getRandomLabel (boardName) {
      let boardLabels = this.labels.filter((label) => label.matchId === boardName)
      let index = Math.floor(Math.random() * boardLabels.length)

      const randomLabel = boardLabels[index]

      return randomLabel
    },

    getRandomLabelsToAnimate () {
      return [
        this.getRandomLabel('b1'),
        this.getRandomLabel('b2'),
        this.getRandomLabel('b3')
      ]
    },

    onDragStarted () {
      this.dragging = true
    },

    onDragStopped (dragEl, dragElPos) {
      this.dragging = false

      const hit = this.boards
        .filter((board) => this.checkIfInBounds(
          board.bounds(),
          dragElPos,
          this.screenScale,
          this.screenPosition.x))

      if (!hit.length) {
        dragEl.moveToStartPosition()
      }
    }
  },

  created () {
    this.activeLabelsData = labelsData.get(this.$route.name)
    this.sounds = soundsData.get(this.$route.name)

    this.activeLabelsData = this.shuffleArray(Object.entries(this.activeLabelsData))
      .reduce((acc, curr) => {
        acc[curr[0]] = curr[1]
        return acc
      }, {})

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)

    if (this.isPlural) {
      this.tableLabel = tableLabelMnozina
    }
  },

  mounted () {
    this.nowYouTry = this.$refs.nowYouTry
  
    this.labels.forEach((label) => {
      let b = label.$el.getBoundingClientRect()
      label.setPosition(
        (b.left - this.screenPosition.x) / this.screenScale,
        (b.top - this.screenPosition.y) / this.screenScale
      )
    })

    this.$refs.positioning.classList.remove('positioning')

    this.boards = Object.keys(this.$refs)
      .filter(val => val.includes('$b'))
      .map(key => this.$refs[key])

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../../../styles/layout';

  .positioning {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      top: 510px;
      left: 0;
      padding-left: 14px;
      padding-right: 90px;
      justify-content: center;
      align-items: center;

      & > div {
          position: static;
          margin: 4px;
      }
  }

  .alex,
  .ana,
  .maja,
  .table-label {
    position: absolute;
    pointer-events: none;
  }

  .alex {
    top: 318px;
    left: 40px;
  }

  .ana {
      top: 335px;
      left: 434px;
  }

  .maja {
      top: 324px;
      left: 838px;
  }

  .table-label {
    top: 10px;
    transform: translateX(-50%);
    left: 50%;
  }
</style>
