<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <is-svg-sprite-pos v-for="(glyph, key) in glyphs"
                           :key="key"
                           :glyph="glyph"
                           :posX="itemsData[key].pos.x"
                           :posY="itemsData[key].pos.y"></is-svg-sprite-pos>

        <is-bm-anim class="characters"
                    ref="charKatarina"
                    v-show="selectedChar === 'katarina'"
                    :animationData="charactersAnim.katarina"
                    :posX="1004"
                    :posY="400"></is-bm-anim>

        <is-bm-anim class="characters"
                    ref="charVid"
                    v-show="selectedChar === 'vid'"
                    :animationData="charactersAnim.vid"
                    :posX="1004"
                    :posY="400"></is-bm-anim>

        <is-bubble class="bubble right"
                   ref="bubble"
                   key="bubble"
                   :posX="820"
                   :posY="230"></is-bubble>

        <is-type-in v-for="(input, key) in inputsData"
                    :key="'$i' + key"
                    :id="key"
                    :ref="'$i' + key"
                    :is-multiline="true"
                    class="inputs compact end-with-dot"
                    @solved="isGameSolved"
                    @clicked="closeAllInputs()"
                    :solution="input.solution"
                    :preText="input.preText"
                    :isLocked="(gameState !== gameStates.interactive)"
                    :arrowDirection="input.arrowDirection"
                    openDirection="bottom"
                    :posX="input.pos.x"
                    :posY="input.pos.y"></is-type-in>

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import StoreInputsMixin from '@/components/shared/mixins/StoreInputsMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import TypeInComponent from '@/components/shared/TypeInComponent.vue'

import background from '@/assets/ucilnice/slovenci/background.svg'
import charAnimVid from '@/assets/ucilnice/slovenci/animations/vid.json'
import charAnimKatarina from '@/assets/ucilnice/slovenci/animations/katarina.json'

import sprites from './SlovenciAssets'
import sounds from './SlovenciSoundsKaj'
import { itemsData, inputsData, linesData } from './KajDelajoVpisovanjeData'

export default {
  name: 'is-kaj-delajo-vpisovanje',
  components: {
    'is-type-in': TypeInComponent
  },
  mixins: [
    GameBasicMixin,
    StoreInputsMixin,
    GameSoundMixin
  ],
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return Object.assign(
      {},
      { glyphs },
      {
        background,
        itemsData: {},
        inputsData: {},
        linesData: {},
        charactersAnim: {
          vid: charAnimVid,
          katarina: charAnimKatarina
        },
        selectedChar: 'vid'
      }
    )
  },

  methods: {
    isGameSolved () {
      let solved = this.inputs.filter((input) => input.isSolved)
      if (solved.length === this.inputs.length) {
        this.closeAllInputs()
        this.startEnd()
      }
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.inputs.forEach((input) => input.reset())
      this.bubble.hide()
    },

    closeAllInputs () {
      this.inputs.forEach((input) => input.close())
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.introAnim$ = Observable.zip(
        this.bubble.show$(this.linesData.kaj),
        this.playSound$(sounds.kajDela),
        this.characters[this.selectedChar].play$(false, true))
        .do(() => this.bubble.hide())
        .flatMap(() => this.playIntroAnimation())
        .do(() => { this.selectedChar = 'vid' })
        .flatMap(() => Observable.zip(
          this.bubble.show$(this.linesData.poskusi),
          this.playSound$(sounds.poskusi),
          this.characters[this.selectedChar].play$(false, true))
          .do(() => this.bubble.hide()))
        .delay(1000)
        .subscribe(
          () => {},
          null,
          () => this.startInteraction())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }

      this.bubble.hide()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()

      Observable.fromEvent(document, 'click')
        .takeWhile(() => this.gameState === this.gameStates.interactive)
        .subscribe((evt) => {
          this.closeAllInputs()
        })
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)

      this.$router.push({ name: 'Avla' })
    },

    playIntroAnimation () {
      let playMe = (item) => {
        const name = item.$attrs.id

        this.selectedChar = this.inputsData[name].char

        return Observable.zip(
          this.characters[this.selectedChar].play$(false, true),
          item.playSolution$(),
          this.playSound$(sounds[name]))
          .delay(700)
          .do(() => item.close())
          .delay(700)
      }

      return playMe(this.inputs[0])
        .flatMap(() => playMe(this.inputs[1]))
        .flatMap(() => playMe(this.inputs[2]))
        .flatMap(() => playMe(this.inputs[3]))
        .flatMap(() => playMe(this.inputs[4]))
        .flatMap(() => playMe(this.inputs[5]))
        .flatMap(() => playMe(this.inputs[6]))
        .flatMap(() => playMe(this.inputs[7]))
        .flatMap(() => playMe(this.inputs[8]))
    }
  },

  created () {
    this.itemsData = itemsData.get(this.$route.name)
    this.inputsData = inputsData.get(this.$route.name)
    this.linesData = linesData.get(this.$route.name)

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.characters = {
      vid: this.$refs.charVid,
      katarina: this.$refs.charKatarina
    }
    this.bubble = this.$refs.bubble

    this.startIntroAnimation()
    // this.startInteraction()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
    @import '../../../styles/layout';

    .characters {
        pointer-events: none;
    }

    .bubble {
        z-index: $ui-z-index;
    }
</style>
