<template>
  <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
    <is-zoom-in v-for="(glyph, key) in glyphs"
                :key="'$z' + key"
                :ref="'$z' + key"
                :glyph="glyph"
                @clicked="zoomMeIn"
                :class="{ highlight: introChar === key }"
                :name="key"
                :char="itemsData[key].char"
                :text="itemsData[key].text"
                :posX="itemsData[key].pos.x"
                :posY="itemsData[key].pos.y"
                :isLocked="isLocked"></is-zoom-in>

    <is-bm-anim class="characters"
                ref="charKatarina"
                v-show="selectedChar === 'katarina'"
                :animationData="charactersAnim.katarina"
                :posX="1004"
                :posY="400"></is-bm-anim>

    <is-bm-anim class="characters"
                ref="charVid"
                v-show="selectedChar === 'vid'"
                :animationData="charactersAnim.vid"
                :posX="1004"
                :posY="400"></is-bm-anim>

    <is-bubble class="bubble right"
                ref="bubble"
                key="bubble"
                :posX="960"
                :posY="250"></is-bubble>
  </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import ZoomInComponent from '@/components/shared/ZoomInComponent'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'

import background from '@/assets/ucilnice/slovenci/background.svg'
import charAnimVid from '@/assets/ucilnice/slovenci/animations/vid.json'
import charAnimKatarina from '@/assets/ucilnice/slovenci/animations/katarina.json'

import sprites from './SlovenciAssets'
import sounds from './SlovenciSoundsKdo'
import { itemsData, linesData } from './SlovenciIntroData'

export default {
  name: 'is-slovenci-intro',
  components: {
    'is-zoom-in': ZoomInComponent
  },
  mixins: [
    GameBasicMixin,
    GameSoundMixin
  ],
  data () {
    let glyphs = Object.keys(sprites).reduce((acc, val) => {
      acc[val] = sprites[val]
      return acc
    }, {})

    return Object.assign(
      {},
      { glyphs },
      {
        background,
        itemsData: {},
        linesData: {},
        introChar: null,
        charactersAnim: {
          vid: charAnimVid,
          katarina: charAnimKatarina
        },
        selectedChar: 'katarina',
        lockInteraction: false
      }
    )
  },
  computed: {
    isLocked () {
      return this.gameState !== this.gameStates.interactive || this.lockInteraction
    }
  },

  methods: {
    zoomMeIn (target, isIntro = false) {
      const zoom$ = Observable.of('')
        .do(() => {
          this.lockInteraction = true
        })
        .do(() => target.zoomIn())
        .delay(3000)
        .do(() => target.zoomOut())
        .delay(500)
        .do(() => {
          target.isZoomedIn = false
          this.lockInteraction = false
        })

      this.selectedChar = target.char

      Observable.zip(
        this.characters[target.char].play$(false, true),
        this.playSound$(sounds[target.name]),
        zoom$)
        .subscribe()
    },

    resetScene () {
      this.stopIntroAnimation()
      this.interactive.forEach((item) => {
        item.zoomOut()
        item.isZoomedIn = false
      })
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      this.introAnim$ = Observable.zip(
        this.bubble.show$(this.linesData.kdo),
        this.characters[this.selectedChar].playSegment$(0, 60),
        this.playSound$(sounds.kdoJeTo))
        .do(() => {
          this.bubble.hide()
          this.introChar = 'ivanaKobilca'
        })
        .delay(3000)
        .do(() => {
          this.introChar = null
          this.startInteraction()
          this.zoomMeIn(this.$refs.$zivanaKobilca[0])
        })
        .subscribe(
          () => {
          },
          null,
          () => {})
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }

      this.bubble.hide()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    }
  },

  created () {
    this.itemsData = itemsData.get(this.$route.name)
    this.linesData = linesData.get(this.$route.name)

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.interactive = Object.keys(this.$refs)
      .filter(val => val.includes('$z'))
      .map(key => this.$refs[key][0])

    this.characters = {
      vid: this.$refs.charVid,
      katarina: this.$refs.charKatarina
    }
    this.bubble = this.$refs.bubble

    this.startIntroAnimation()
    // this.startInteraction()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../styles/layout';
  @import "../../../styles/animations";

  .glyph {
    cursor: pointer;
    pointer-events: all;
  }

  .animate {
    transition: all 3s ease-out;

    transform: translate(600px, 200px) scale(2.5);
  }

  .bubble {
    z-index: $ui-z-index;
  }

  /deep/ .highlight svg {
    filter: drop-shadow(0px 0px 10px limegreen);
    animation: pulse 3s ease-in-out infinite;
  }
</style>
