<template>
    <div id="app">
        <is-screen>
            <router-view :key="$route.fullPath"></router-view>
        </is-screen>
    </div>
</template>

<script>
import Screen from './components/core/Screen'
import backgrounds from '@/assets/backgrounds'

// Preload images
backgrounds.forEach(bg => {
  const image = new Image()
  image.src = bg
})

export default {
  name: 'app',
  components: {
    'is-screen': Screen
  }
}
</script>

<style lang="scss">
    @import "./styles/animations";

    html {
        width: 100%;
        height: 100%;

        box-sizing: border-box;
    }

    body {
        width: 100%;
        height: 100%;

        margin: 0;
        overflow: hidden;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    #app {
        position: relative;

        font-family: Arial, Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;

        width: 100%;
        height: 100%;
    }
</style>
