<template>
  <is-game :backgroundImage="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
    <is-button @clicked="goTo('malica')"
                class="btn-go-to violet"
                key="btn-go-to-malica"
                :posX="526"
                :posY="40">Malica <is-arrow-icon />
    </is-button>

    <is-button @clicked="goTo('kosilo')"
                class="btn-go-to violet"
                key="btn-go-to-kosilo"
                :posX="860"
                :posY="40">Kosilo <is-arrow-icon />
    </is-button>

    <is-button @clicked="goTo('kuhinja')"
                class="btn-go-to violet"
                key="btn-go-to-kuhinja"
                :posX="1166"
                :posY="144">Kuhinja <is-arrow-icon />
    </is-button>

    <is-button @clicked="goTo('sadje')"
                class="btn-go-to violet"
                key="btn-go-to-sadje"
                :posX="580"
                :posY="555">Sadje <is-arrow-icon />
    </is-button>

    <is-button @clicked="goTo('zelenjava')"
                class="btn-go-to violet"
                key="btn-go-to-zelenjava"
                :posX="964"
                :posY="555">Zelenjava <is-arrow-icon />
    </is-button>

    <is-bm-anim class="jakob"
                ref="jakob"
                key="anim-jakob"
                :animationData="jakobGovoriAnim"
                :posX="1154"
                :posY="450"></is-bm-anim>

    <is-bm-anim class="jem-pijem"
                ref="jemPijem"
                key="anim-jem-pijem"
                :animationData="jemPijemAnim"
                :posX="234"
                :posY="230"></is-bm-anim>

    <is-bm-anim class="lacen-zejen"
                ref="lacenZejen"
                key="anim-lacen-zejen"
                :animationData="lacenZejenAnim"
                :posX="64"
                :posY="426"></is-bm-anim>

    <is-bubble class="jakob right"
                ref="bbJakob"
                key="bb-jakob"
                :posX="980"
                :posY="298"></is-bubble>

    <is-bubble class="bb-lacen-zejen bb-img left"
                ref="bbLacenZejen"
                key="bb-lacen-zejen"
                :posX="282"
                :posY="304">
      <is-svg-sprite v-if="currentImg" :glyph="currentImg" />
    </is-bubble>

    <is-bubble class="bb-lacen-zejen bb-img left"
                ref="bbLacnaZejna"
                key="bb-lacna-zejna"
                :posX="182"
                :posY="304">
      <is-svg-sprite v-if="currentImg" :glyph="currentImg" />
    </is-bubble>

    <is-bubble class="bb-pijem bb-img left"
                ref="bbPijem"
                key="bb-pijem"
                :posX="315"
                :posY="113">
      <is-svg-sprite v-if="currentImg" :glyph="currentImg" />            
    </is-bubble>

    <is-bubble class="bb-jem bb-img left"
                ref="bbJem"
                key="bb-jem"
                :posX="405"
                :posY="113">
      <is-svg-sprite v-if="currentImg" :glyph="currentImg" />
    </is-bubble>
    </is-game>
</template>

<script>
import { Observable } from 'rxjs'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'
import SvgSprite from '@/components/core/SvgSprite.vue'
import Button from '@/components/shared/ButtonComponent.vue'
import ArrowIcon from '@/components/shared/ArrowIcon'

import background from '@/assets/jedilnica/jedilnica/background.png'
import jakobGovoriAnim from '@/assets/jedilnica/jedilnica/animations/jakob-govori.json'
import jemPijemAnim from '@/assets/jedilnica/jedilnica/animations/jem-pijem.json'
import lacenZejenAnim from '@/assets/jedilnica/jedilnica/animations/lacen-zejen.json'

import sounds from './JedilnicaSounds'
import { lines, glyphs } from './JedilnicaData'

export default {
  name: 'is-jedilnica-container',
  mixins: [
    GameBasicMixin,
    GameSoundMixin
  ],
  components: {
    'is-button': Button,
    'is-arrow-icon': ArrowIcon,
    'is-svg-sprite': SvgSprite
  },
  data () {
    return {
      background: background,
      jakobGovoriAnim: jakobGovoriAnim,
      jemPijemAnim: jemPijemAnim,
      lacenZejenAnim: lacenZejenAnim,
      currentImg: null
    }
  },
  computed: {
    forwardRoutes () {
      return this.$store.state.sceneRoutes.forwardRoutes
    }
  },

  methods: {
    goTo (destination) {
      const routes = this.forwardRoutes.get(this.$route.name)
      switch (destination) {
        case 'sadje':
          this.$router.push({ name: routes.sadje })
          break
        case 'zelenjava':
          this.$router.push({ name: routes.zelenjava })
          break
        case 'malica':
          this.$router.push({ name: routes.malica })
          break
        case 'kosilo':
          this.$router.push({ name: routes.kosilo })
          break
        case 'kuhinja':
          this.$router.push({ name: routes.kuhinja })
          break
      }
    },

    startIntroAnimation () {
      this.introAnim$ = Observable.timer(2000)
        .flatMap(() => Observable.zip(
          this.bbJakob.show$(lines.jakob),
          this.jakob.play$(false, true),
          this.playSound$(sounds.jakob)
        )
          .do(() => this.bbJakob.hide()))
        .flatMap(() => Observable.timer(1000))
        .flatMap(() => this.animSegment(0, 90, this.lacenZejen, this.bbLacenZejen, 'lacen'))
        .flatMap(() => this.animSegment(0, 90, this.lacenZejen, this.bbLacenZejen, 'zejen'))
        .flatMap(() => this.animSegment(250, 340, this.lacenZejen, this.bbLacnaZejna, 'lacna'))
        .flatMap(() => this.animSegment(250, 340, this.lacenZejen, this.bbLacnaZejna, 'zejna'))
        .flatMap(() => this.animSegment(0, 40, this.jemPijem, this.bbJem, 'jem'))
        .flatMap(() => this.animSegment(40, 90, this.jemPijem, this.bbPijem, 'pijem'))
        .subscribe()
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }

      this.bbJakob.hide()
      this.bbJemPijem.hide()
      this.bbLacenZejen.hide()
      this.bbLacnaZejna.hide()
    },

    animSegment (start, end, anim, bubble, name) {
      this.currentImg = glyphs[name]

      return Observable.zip(
        bubble.show$(lines[name]),
        anim.playSegment$(start, end),
        this.playSound$(sounds[name])
      )
        .do(() => bubble.hide())
        .delay(400)
    }
  },

  created () {
    this.$store.dispatch('setShowNavBack', true)
  },

  mounted () {
    this.jakob = this.$refs.jakob
    this.jemPijem = this.$refs.jemPijem
    this.lacenZejen = this.$refs.lacenZejen
    this.bbJakob = this.$refs.bbJakob
    this.bbPijem = this.$refs.bbPijem
    this.bbJem = this.$refs.bbJem
    this.bbLacenZejen = this.$refs.bbLacenZejen
    this.bbLacnaZejna = this.$refs.bbLacnaZejna

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../styles/layout.scss';

  .btn-go-to {
    z-index: $ui-z-index;
  }

  .bb-img {
    padding-right: 90px;

    svg {
      height: 60px !important;
      position: absolute;
      top: 50%; right: 25px;
      transform: translateY(-50%);
      width: 60px !important;
    }
  }
</style>
