<template>
  <div
    :class="['board-target', {'interact': !isLocked}]"
    ref="target"
  ></div>
</template>

<script>
import PositionMixin from '@/components/core/mixins/PositionMixin'

export default {
  name: 'is-board-target',
  components: {
  },
  mixins: [
    PositionMixin
  ],
  data () {
    return {}
  },
  props: {
    isLocked: Boolean
  },
  computed: {
  },

  methods: {
    bounds () {
      return this.$el.getBoundingClientRect()
    },
    center () {
      let bounds = this.bounds()

      return {
        x: this.posX + bounds.width / 2,
        y: this.posY + bounds.height / 2
      }
    }
  },
  mounted () {
  },

  destroyed () {
  }
}
</script>

<style lang="scss" scoped>
.board-target {
  border: 8px solid transparent;
  height: 100%;
  width: 100%;

  &.interact:hover {
    border-color: #6888B2;
  }
}
</style>
