<template>
  <div class="tabla-target-container"
    :class="[shadowDirection]"
    :style="transformStyle"
  >
    <div class="label">{{ title }}</div>
    <table class="table">
      <thead>
        <tr>
          <th class="subtitle">{{ subtitleLeft }}</th>
          <th class="subtitle">{{ subtitleRight }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class="text">{{ contentLeft }}</div><slot name="left"></slot></td>
          <td><div class="text">{{ contentRight }}</div><slot name="right"></slot></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import PositionMixin from '@/components/core/mixins/PositionMixin'

export default {
  name: 'is-board',
  components: {
  },
  mixins: [
    PositionMixin
  ],
  data () {
    return {}
  },
  props: {
    shadowDirection: String,
    title: String,
    subtitleLeft: String,
    subtitleRight: String,
    contentLeft: String,
    contentRight: String,
    isLocked: Boolean
  },
  computed: {
  },

  methods: {
    bounds () {
      return this.$el.getBoundingClientRect()
    },
    center () {
      let bounds = this.bounds()

      return {
        x: this.posX + bounds.width / 2,
        y: this.posY + bounds.height / 2
      }
    }
  },
  mounted () {
  },

  destroyed () {
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/colors';

.tabla-target-container {
  padding: 8px 15px 15px;
  position: absolute;
  top: 0;
  left: 0;

  width: 565px;
  height: 420px;

  background-color: #4D4D4F;

  border: 8px solid #FFECC8;
  border-radius: 4px;

  &.left {
      box-shadow: -2px -2px 0px 0px #B9AD95;
  }
  &.middle {
      box-shadow: 0 -2px 0px 0px #B9AD95;
  }
  &.right {
      box-shadow: 2px -2px 0px 0px #B9AD95;
  }
}

.table {
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  height: 100%;
  color: white;
  width: 100%;

  .title {
    font-size: 21px;
    text-transform: uppercase;
  }

  .subtitle {
    font-size: 15px;
    text-transform: uppercase;
  }

  td, th {
    border: 2px solid #fff;
    position: relative;
  }

  thead {
    td, th {
      padding: 7px;
    }
  }

  tbody {
    td {
      height: 348px;
    }
  }
}

.text {
  color: #ef8f5c;
  left: 0;
  font-size: 19px;
  font-weight: 900;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 10px;
  width: 100%;
}

.label {
  background-color: $ui-brown;
  border-radius: 4px;
  color: #fff;
  left: 50%;
  line-height: 1em;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 12px;
  position: absolute;
  top: -24px;
  transform: translateX(-50%);
  z-index: 1;
}
</style>
