<template>
    <is-game :background="background" @navigateBack="navigateBack()" @navigateForward="navigateForward()">
        <div class="main-label">{{ mainLabel }}</div>

        <is-board
          title="Ednina"
          :subtitleLeft="board1SubtitleLeft"
          :subtitleRight="board1SubtitleRight"
          contentLeft="To je"
          :contentRight="boardContentRight"
          :posX="88"
          :posY="65"
        >
          <template v-slot:left>
            <is-board-target
              id="b1-left"
              ref="$b1-left"
              :isLocked="!dragging"
              :posX="111"
              :posY="118"
            />
          </template>
          <template v-slot:right>
            <is-board-target
              id="b1-right"
              ref="$b1-right"
              :isLocked="!dragging"
              :posX="369"
              :posY="118"
            />
          </template>
        </is-board>
        <is-board
          title="Množina"
          :subtitleLeft="board2SubtitleLeft"
          :subtitleRight="board2SubtitleRight"
          contentLeft="To so"
          :contentRight="boardContentRight"
          :posX="664"
          :posY="65"
        >
          <template v-slot:left>
            <is-board-target
              id="b2-left"
              ref="$b2-left"
              :isLocked="!dragging"
              :posX="680"
              :posY="118"
            />
          </template>
          <template v-slot:right>
            <is-board-target
              id="b2-right"
              ref="$b2-right"
              :isLocked="!dragging"
              :posX="940"
              :posY="118"
            />
          </template>
        </is-board>

        <is-svg-sprite :glyph="alex" class="alex"></is-svg-sprite>
        <is-svg-sprite :glyph="ana" class="ana"></is-svg-sprite>
        <is-svg-sprite :glyph="maja" class="maja"></is-svg-sprite>

        <div class="positioning" ref="positioning">
            <is-label v-for="(label, key) in activeLabelsData"
                      class="white"
                      :id="'$l-' + key"
                      :ref="'$l-' + key"
                      :key="key"
                      :matchId="label.matchId"
                      :animateTo="getAnimateTo(label)"
                      :text="label.text"
                      :posX="0"
                      :posY="0"
                      labelSize="sm-alt-2"
                      :isLocked="gameState !== gameStates.interactive"
                      @dragStarted="onDragStarted"
                      @dragStopped="onDragStopped"></is-label>
        </div>

        <is-check-or-reset
          @check="onCheckGame"
          @reset="onResetGame"
        />

        <is-now-you-try ref="nowYouTry" selectedSound="now4" />

        <is-end-game-modal ref="endModal"
                           class="end-modal"
                           @back="navigateBack()"
                           @forward="navigateForward()"></is-end-game-modal>
    </is-game>
</template>

<script>
import { TimelineLite } from 'gsap'
import { Observable } from 'rxjs'

import BoardComponent from './BoardComponent'
import BoardTargetComponent from './BoardTargetComponent'
import NowYouTry from '@/components/shared/NowYouTry'

import GameBasicMixin from '@/components/shared/mixins/GameBasicMixin'
import GameSoundMixin from '@/components/core/mixins/GameSoundMixin'
import GameUtilsMixin from '@/components/shared/mixins/GameUtilsMixin'
import StoreLabelsMixin from '@/components/shared/mixins/StoreLabelsMixin'
import AnimationsLabelsMixin from '@/components/shared/mixins/AnimationsLabelsMixin'

import background from '@/assets/garderoba/table-sklon/background.svg'
import alex from '@/assets/ucilnice/slovnica/table-spoli/alex.svg'
import ana from '@/assets/ucilnice/slovnica/table-spoli/ana.svg'
import maja from '@/assets/ucilnice/slovnica/table-spoli/maja.svg'

import { labelsData, randomItemsData, soundsData } from './TableData'

import CheckOrReset from '@/components/shared/CheckOrReset'

export default {
  name: 'is-table-spoli',
  components: {
    'is-board': BoardComponent,
    'is-board-target': BoardTargetComponent,
    'is-check-or-reset': CheckOrReset,
    'is-now-you-try': NowYouTry
  },
  mixins: [
    GameBasicMixin,
    GameSoundMixin,
    StoreLabelsMixin,
    GameUtilsMixin,
    AnimationsLabelsMixin
  ],
  data () {
    return {
      background,
      alex,
      ana,
      maja,
      activeLabelsData: {},
      dragging: false,
      boards: []
    }
  },

  computed: {
    isMan () {
      return this.$route.name === 'GarderobaTableSklonMoski'
    },
    board1SubtitleLeft () {
      return this.isMan ? 'Tabla -' : 'Tabla -A'
    },
    board1SubtitleRight () {
      return this.isMan ? 'Tabla -' : 'Tabla -O'
    },
    board2SubtitleLeft () {
      return this.isMan ? 'Tabla -I' : 'Tabla -E'
    },
    board2SubtitleRight () {
      return this.isMan ? 'Tabla -E' : 'Tabla -E'
    },
    boardContentRight () {
      return 'Nosi'
    },
    mainLabel () {
      return this.isMan ? 'Moški spol' : 'Ženski spol'
    }
  },

  methods: {
    onCheckGame () {
      if (this.gameState === 'interactive') {
        this.checkGame()
      }
    },

    getAnimateTo (label) {
      if (Array.isArray(label.matchId)) {
        return `$${label.matchId[0]}`
      }

      return `$${label.matchId}`
    },

    checkGame () {
      this.labels
        .filter(label => !label.isSolved)
        .forEach(label => {
          const labelPos = {
            x: label.currentX + label.$el.offsetWidth / 2,
            y: label.currentY + label.$el.offsetHeight / 2
          }

          const hit = this.boards
            .filter((board) => this.checkIfInBounds(
              board.bounds(),
              labelPos,
              this.screenScale,
              this.screenPosition.x))
            .filter((board) => {
              if (Array.isArray(label.matchId)) {
                return label.matchId.includes(board.$el.id)
              }

              return board.$el.id === label.matchId
            })

          if (hit.length && !Array.isArray(hit[0].items)) {
            hit[0].items = []
          }

          if (hit.length > 0 && !hit[0].items.includes(label.text)) {
            label.setSolved()
            hit[0].items.push(label.text)

            if (this.isGameSolved()) {
              this.startEnd()
            }
          } else {
            label.moveToStartPosition()
          }
      })
    },

    onResetGame () {
      if (this.gameState === 'interactive') {
        this.resetScene()
      }
    },

    isGameSolved () {
      let solved = this.labels.filter((label) => label.isSolved)
      return solved.length === this.labels.length
    },

    resetScene () {
      this.$refs.endModal.hide()
      this.labels.forEach((label, key) => label.reset())
      this.boards.forEach(board => {
        board.items = []
      })
      this.nowYouTry.reset()
    },

    getIntroSounds (labels) {
      const sounds = {}
      labels.forEach(label => {
        const name = label.$attrs.id.replace('$l-', '')
        const path = this.sounds[name]

        if (path) {
          sounds[name] = require(`@/assets/sounds/garderoba/${path}`)
        }
      })

      return sounds
    },

    startIntroAnimation () {
      this.resetScene()
      this.setStateToIntro()

      let labelsToAnimate = this.getRandomLabelsToAnimate()

      this.introAnim$ = this.animateLabelsToTargetsWithSound$(labelsToAnimate, this.$refs, this.getIntroSounds(labelsToAnimate))
        .delay(2000)
        .flatMap(() => this.nowYouTry.animate())
        .subscribe(null, null, () => this.startInteraction())
    },

    stopIntroAnimation () {
      if (this.introAnim$) {
        this.introAnim$.unsubscribe()
      }

      this.nowYouTry.reset()
    },

    startInteraction () {
      this.resetScene()
      this.setStateToInteractive()
    },

    startEnd () {
      this.setStateToEnd()

      const dialog = this.endDialogs.get(this.$route.name)
      this.$refs.endModal.show(dialog)
    },

    animateLabelsToBoards$ (labels, boards) {
      return Observable.create((observer) => {
        let introTimeline = new TimelineLite({
          onComplete: () => {
            setTimeout(() => {
              this.checkGame()
              observer.next()
              observer.complete()
            }, 1000)
          },
          delay: 0.6,
          paused: true })

        labels.forEach((label, index) => {
          if (label) {
            let destination = boards[index].center()
            let labelBounds = label.bounds()

            introTimeline
              .set(label.$el, { 'z-index': 100 })
              .to(label, 2, {
                currentX: destination.x - labelBounds.width / 2,
                currentY: destination.y - labelBounds.height / 2
              })
              .set(label, {})
          }
        })

        introTimeline.play()

        return () => {
          introTimeline.kill()
        }
      })
    },

    getRandomLabel (boardName) {
      const randomItems = randomItemsData[this.$route.name][boardName];
      let index = Math.floor(Math.random() * randomItems.length)
      const labelId = randomItems[index]

      const item1 = this.labels.find((label) => labelId === label.$attrs.id.replace('$l-', ''))
      const item2 = this.labels.find((label) => `${labelId}2` === label.$attrs.id.replace('$l-', ''))

      return [item1, item2]
    },

    getRandomLabelsToAnimate () {
      return [
        ...this.getRandomLabel('b1'),
        ...this.getRandomLabel('b2'),
      ]
    },

    onDragStarted () {
      this.dragging = true
    },

    onDragStopped (dragEl, dragElPos) {
      this.dragging = false

      const hit = this.boards
        .filter((board) => this.checkIfInBounds(
          board.bounds(),
          dragElPos,
          this.screenScale,
          this.screenPosition.x))

      if (!hit.length) {
        dragEl.moveToStartPosition()
      }
    }
  },

  created () {
    this.activeLabelsData = labelsData.get(this.$route.name)
    this.sounds = soundsData.get(this.$route.name)

    this.activeLabelsData = this.shuffleArray(Object.entries(this.activeLabelsData))
      .reduce((acc, curr) => {
        acc[curr[0]] = curr[1]
        return acc
      }, {})

    this.$store.dispatch('setShowNavBack', true)
    this.$store.dispatch('setShowNavForward', true)
  },

  mounted () {
    this.nowYouTry = this.$refs.nowYouTry

    this.labels.forEach((label) => {
      let b = label.$el.getBoundingClientRect()
      label.setPosition(
        (b.left - this.screenPosition.x) / this.screenScale,
        (b.top - this.screenPosition.y) / this.screenScale
      )
    })

    this.$refs.positioning.classList.remove('positioning')

    this.boards = Object.keys(this.$refs)
      .filter(val => val.includes('$b'))
      .map(key => this.$refs[key])

    this.startIntroAnimation()
  },

  destroyed () {
    this.stopIntroAnimation()
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/layout';
@import '../../../styles/colors';

.positioning {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 560px;
    left: 0;
    padding: 0 114px 0 14px;
    justify-content: center;
    align-items: center;

    & > div {
        position: static;
        margin: 4px;
    }
}

.alex,
.ana,
.maja,
.table-label {
  position: absolute;
  pointer-events: none;
}

.alex {
  top: 318px;
  left: 40px;
}

.ana {
  top: 335px;
  left: 622px;
}

.maja {
  top: 324px;
  left: 1208px;
}

.table-label {
  top: 10px;
  transform: translateX(-50%);
  left: 50%;
}

.main-label {
  background-color: $ui-violet;
  border-radius: 5px;
  color: $ui-text-gold;
  font-size: 22px;
  font-weight: bold;
  left: 50%;
  padding: .35em .75em;
  position: absolute;
  pointer-events: none;
  user-select: none;
  text-transform: uppercase;
  transform: translateX(-50%);
  top: 14px;
  z-index: $ui-z-index;
}
</style>
